Repository microsoft/fhir-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fhir-server-team, @feordin, @apurvabhaleMS, @SergeyGaluzo, @rbans96, @mikaelweave, @fhibf, @jestradaMS, @paorodma-ms, @LTA-Thinking, @PTaladay, @abiisnn, @evachen96, @EXPEkesheth

.github/CODEOWNERS:

# CODEOWNERS for Microsoft FHIR Server
# 
# This file defines code ownership for feature verticals to ensure
# the right reviewers are automatically assigned to pull requests.
# Lines starting with '#' are comments.
#
# Global fallback - FHIR Server Team catch-all
*       @microsoft/fhir-server-team

# ============================================================================
# SQL Server / Database Features - SQL Specialist
# ============================================================================
src/Microsoft.Health.Fhir.SqlServer/                                          @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SqlServer.UnitTests/                               @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SchemaManager/                                     @apurvabhaleMS @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SchemaManager.UnitTests/                           @apurvabhaleMS @rbans96 @microsoft/fhir-server-team
src/*/Features/Schema/                                                       @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team

# ============================================================================
# Storage & Data Persistence (CosmosDB and Core Storage)
# ============================================================================
src/Microsoft.Health.Fhir.CosmosDb/                                          @mikaelweave @fhibf @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.CosmosDb.*/                                        @mikaelweave @fhibf @microsoft/fhir-server-team
src/*/Features/Storage/                                                       @mikaelweave @feordin @jestradaMS @microsoft/fhir-server-team
src/*/Features/Persistence/                                                   @mikaelweave @feordin @microsoft/fhir-server-team

# ============================================================================
# Search Features
# ============================================================================
src/*/Features/Search/                                                        @mikaelweave @feordin @jestradaMS @microsoft/fhir-server-team

# ============================================================================
# Operations & Bulk Features (Import/Export/Reindex/Convert)
# ============================================================================
src/*/Features/Operations/                                                    @paorodma-ms @mikaelweave @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# API Layer & Web Features
# ============================================================================
src/Microsoft.Health.Fhir.*.Api/                                             @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.*.Web/                                             @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.Shared.Api/                                        @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Resources/                                                     @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Routing/                                                       @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Formatters/                                                    @PTaladay @jestradaMS @microsoft/fhir-server-team
src/*/Features/Headers/                                                       @abiisnn @fhibf @microsoft/fhir-server-team
src/*/Features/ContentTypes/                                                  @abiisnn @fhibf @microsoft/fhir-server-team

# ============================================================================
# Security & Authentication Features
# ============================================================================
src/*/Features/Security/                                                      @apurvabhaleMS @fhibf @microsoft/fhir-server-team
src/*/Features/SMART/                                                         @feordin @apurvabhaleMS @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.Api.OpenIddict/                                    @apurvabhaleMS @fhibf @microsoft/fhir-server-team

# ============================================================================
# Bundle Features
# ============================================================================
src/*/Features/Bundle/                                                        @abiisnn @fhibf @microsoft/fhir-server-team

# ============================================================================
# Validation Features
# ============================================================================
src/*/Features/Validation/                                                    @jestradaMS @PTaladay @microsoft/fhir-server-team

# ============================================================================
# Health & Monitoring Features
# ============================================================================
src/*/Features/Health/                                                        @abiisnn @LTA-Thinking @microsoft/fhir-server-team
src/*/Features/Metrics/                                                       @abiisnn @fhibf @microsoft/fhir-server-team
src/*/Features/Audit/                                                         @PTaladay @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Conformance & FHIR Specification Features
# ============================================================================
src/*/Features/Conformance/                                                   @mikaelweave @LTA-Thinking @microsoft/fhir-server-team
src/*/Features/Definition/                                                    @mikaelweave @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Infrastructure & Background Services
# ============================================================================
src/*/Features/BackgroundJobService/                                          @LTA-Thinking @mikaelweave @microsoft/fhir-server-team
src/*/Features/Watchdogs/                                                     @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team

# ============================================================================
# Core Framework & Shared Components
# ============================================================================
src/*/Features/Context/                                                       @PTaladay @rbans96 @microsoft/fhir-server-team
src/*/Features/Exceptions/                                                    @PTaladay @rbans96 @microsoft/fhir-server-team
src/*/Features/Filters/                                                       @jestradaMS @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Documentation & Configuration
# ============================================================================
*.md                                                                           @evachen96 @EXPEkesheth @microsoft/fhir-server-team
build/                                                                         @jestradaMS @LTA-Thinking @microsoft/fhir-server-team

Allow inc and revinc searches for smart v2
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/SearchParamTableExpressionExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/HashingSqlQueryParameterManager.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS

changed collation to the one used on table
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpdateResourceSearchParams.sql
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

Remove n-square problem (#5223)
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

Compartment ctes should only consider requested resource types
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Check before making union in compartment
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchRewriter.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Always return union in compartment
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Fix reindex job processing and error handling
  src/Microsoft.Health.Fhir.Core/Features/Operations/FhirOperationDataStoreBase.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team, @feordin, @jestradaMS

Add check for %2f in smart scopes. (#5213)
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Owners: @feordin, @apurvabhaleMS, @microsoft/fhir-server-team

Removing unneeded changes
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Include stats for all search param
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Initial iteration, sample notebook to configure SMART:
  samples/notebooks/EntraIdExternal-Ext9b.ipynb
  samples/notebooks/EntraIdExternal.ipynb
  samples/notebooks/Test.ipynb
Owners: @microsoft/fhir-server-team

Address comments
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/EnqueueJobs.sql
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/AssemblyValidationsTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

missed file
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.sql
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

Updates to ensure comos db query does not fail if no searchparameterhashmap is supplied
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexProcessingJob.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Potential fix for code scanning alert no. 2851: Missed ternary opportunity
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
Owners: @microsoft/fhir-server-team

Update schema
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

Address comment
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/98.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/EnqueueJobs.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team, @mikaelweave, @jestradaMS

Create separate compartment rewriter for cosmos and Sql
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CosmosCompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/SmartCompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/SqlCompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team, @fhibf, @apurvabhaleMS, @SergeyGaluzo

Adding back delay
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Fixing spelling of exception OperationCanceledException
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

feat: Add IFhirServerInstanceConfiguration service for global instance metadata
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextMiddleware.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Context/FhirServerInstanceConfigurationTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/FhirServerInstanceConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/IFhirServerInstanceConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/ReferenceSearchValueParser.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirRequestContextMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Behaviors/ListSearchBehaviorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/ExtensionToReferenceSearchValueConverterTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchValues/ReferenceSearchValueParserTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  tools/Microsoft.Health.Fhir.R4.ResourceParser/ResourceWrapperParser.cs
Owners: @PTaladay, @rbans96, @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS, @paorodma-ms

- Skip initialization for loopback/local requests to avoid using health check requests - VanityUrl property returns explicit value or null (no fallback to base URI to avoid confusion) - Udpated testes
  docs/FhirServerInstanceConfiguration.md
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextMiddleware.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Context/FhirServerInstanceConfigurationTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/FhirServerInstanceConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirRequestContextMiddlewareTests.cs
Owners: @evachen96, @EXPEkesheth, @microsoft/fhir-server-team, @PTaladay, @rbans96

Modifying check for status = 4 vs. CancelRequested as CancelRequested is only set in certain scenarios, the acutal indication is if the status is actually canceled.
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/EnqueueJobs.sql
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

Updating to check for canceledrequested = 1OR status = 4 to ensure we get any canceled scenarios
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/EnqueueJobs.sql
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

Fixing missing Parentheses
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/100.sql
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team
