Repository microsoft/fhir-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fhir-server-team, @feordin, @apurvabhaleMS, @SergeyGaluzo, @rbans96, @mikaelweave, @fhibf, @jestradaMS, @paorodma-ms, @LTA-Thinking, @PTaladay, @abiisnn, @evachen96, @EXPEkesheth

.github/CODEOWNERS:

# CODEOWNERS for Microsoft FHIR Server
# 
# This file defines code ownership for feature verticals to ensure
# the right reviewers are automatically assigned to pull requests.
# Lines starting with '#' are comments.
#
# Global fallback - FHIR Server Team catch-all
*       @microsoft/fhir-server-team

# ============================================================================
# SQL Server / Database Features - SQL Specialist
# ============================================================================
src/Microsoft.Health.Fhir.SqlServer/                                          @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SqlServer.UnitTests/                               @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SchemaManager/                                     @apurvabhaleMS @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SchemaManager.UnitTests/                           @apurvabhaleMS @rbans96 @microsoft/fhir-server-team
src/*/Features/Schema/                                                       @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team

# ============================================================================
# Storage & Data Persistence (CosmosDB and Core Storage)
# ============================================================================
src/Microsoft.Health.Fhir.CosmosDb/                                          @mikaelweave @fhibf @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.CosmosDb.*/                                        @mikaelweave @fhibf @microsoft/fhir-server-team
src/*/Features/Storage/                                                       @mikaelweave @feordin @jestradaMS @microsoft/fhir-server-team
src/*/Features/Persistence/                                                   @mikaelweave @feordin @microsoft/fhir-server-team

# ============================================================================
# Search Features
# ============================================================================
src/*/Features/Search/                                                        @mikaelweave @feordin @jestradaMS @microsoft/fhir-server-team

# ============================================================================
# Operations & Bulk Features (Import/Export/Reindex/Convert)
# ============================================================================
src/*/Features/Operations/                                                    @paorodma-ms @mikaelweave @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# API Layer & Web Features
# ============================================================================
src/Microsoft.Health.Fhir.*.Api/                                             @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.*.Web/                                             @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.Shared.Api/                                        @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Resources/                                                     @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Routing/                                                       @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Formatters/                                                    @PTaladay @jestradaMS @microsoft/fhir-server-team
src/*/Features/Headers/                                                       @abiisnn @fhibf @microsoft/fhir-server-team
src/*/Features/ContentTypes/                                                  @abiisnn @fhibf @microsoft/fhir-server-team

# ============================================================================
# Security & Authentication Features
# ============================================================================
src/*/Features/Security/                                                      @apurvabhaleMS @fhibf @microsoft/fhir-server-team
src/*/Features/SMART/                                                         @feordin @apurvabhaleMS @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.Api.OpenIddict/                                    @apurvabhaleMS @fhibf @microsoft/fhir-server-team

# ============================================================================
# Bundle Features
# ============================================================================
src/*/Features/Bundle/                                                        @abiisnn @fhibf @microsoft/fhir-server-team

# ============================================================================
# Validation Features
# ============================================================================
src/*/Features/Validation/                                                    @jestradaMS @PTaladay @microsoft/fhir-server-team

# ============================================================================
# Health & Monitoring Features
# ============================================================================
src/*/Features/Health/                                                        @abiisnn @LTA-Thinking @microsoft/fhir-server-team
src/*/Features/Metrics/                                                       @abiisnn @fhibf @microsoft/fhir-server-team
src/*/Features/Audit/                                                         @PTaladay @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Conformance & FHIR Specification Features
# ============================================================================
src/*/Features/Conformance/                                                   @mikaelweave @LTA-Thinking @microsoft/fhir-server-team
src/*/Features/Definition/                                                    @mikaelweave @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Infrastructure & Background Services
# ============================================================================
src/*/Features/BackgroundJobService/                                          @LTA-Thinking @mikaelweave @microsoft/fhir-server-team
src/*/Features/Watchdogs/                                                     @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team

# ============================================================================
# Core Framework & Shared Components
# ============================================================================
src/*/Features/Context/                                                       @PTaladay @rbans96 @microsoft/fhir-server-team
src/*/Features/Exceptions/                                                    @PTaladay @rbans96 @microsoft/fhir-server-team
src/*/Features/Filters/                                                       @jestradaMS @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Documentation & Configuration
# ============================================================================
*.md                                                                           @evachen96 @EXPEkesheth @microsoft/fhir-server-team
build/                                                                         @jestradaMS @LTA-Thinking @microsoft/fhir-server-team

Remove second hash from includes
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Reset changes
  build/jobs/aggregate-coverage.yml
  build/jobs/build.yml
  build/jobs/run-tests.yml
  build/pr-pipeline.yml
Owners: @jestradaMS, @LTA-Thinking, @microsoft/fhir-server-team

Bundle Orchestrator additions to ensure/log stale operations in memory
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestrator.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/IBundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Owners: @mikaelweave, @feordin, @microsoft/fhir-server-team, @paorodma-ms, @rbans96

Adding new comments.
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Owners: @mikaelweave, @feordin, @microsoft/fhir-server-team, @paorodma-ms, @rbans96

Exclude non business logic files from test coverage (#5197)
  CodeCoverage.runsettings
Owners: @microsoft/fhir-server-team

Change comparison method
  src/Microsoft.Health.Fhir.Core/Features/Search/StringExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Aggregate test coverage report in CI
  build/ci-pipeline.yml
Owners: @jestradaMS, @LTA-Thinking, @microsoft/fhir-server-team

Remove second hash from includes (#5202)
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Report test coverage for Unit tests and Integration tests (#5201)
  build/ci-pipeline.yml
  build/jobs/aggregate-coverage.yml
  build/jobs/build.yml
  build/jobs/run-tests.yml
  build/pr-pipeline.yml
Owners: @jestradaMS, @LTA-Thinking, @microsoft/fhir-server-team

Index LastUpdated in SearchParam and set BG sync to 20 seconds (#5198)
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/98.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/98.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/SearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Owners: @paorodma-ms, @rbans96, @microsoft/fhir-server-team, @feordin, @apurvabhaleMS, @SergeyGaluzo

updating tests to for updated constructor
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Collapse multiple CTEs to one
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchRewriter.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Add logging and fix error message
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/OperationOutcomeResult.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/SearchPostReroutingMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Exceptions/BaseExceptionMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
Owners: @microsoft/fhir-server-team, @paorodma-ms, @rbans96, @PTaladay

CodeQL updates Fixes to tests
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateHandlerTests.cs
Owners: @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team, @paorodma-ms

Add try/catch
  src/Microsoft.Health.Fhir.Api/Features/Routing/SearchPostReroutingMiddleware.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Owners: @paorodma-ms, @rbans96, @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS

Fixing SearchParameterStateUpdateHandlerTests
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Fix unit test
  src/Microsoft.Health.Fhir.Azure.UnitTests/Api/SearchPostReroutingMiddlewareTests.cs
Owners: @microsoft/fhir-server-team

Associate add keyvault with nsp
  build/jobs/associate-keyvault-nsp.yml
  build/pr-pipeline.yml
  samples/templates/nsp-resource-association.json
Owners: @jestradaMS, @LTA-Thinking, @microsoft/fhir-server-team

Insert into temp table only for include and revinclude searches
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Fix unit test
  src/Microsoft.Health.Fhir.Azure.UnitTests/Api/SearchPostReroutingMiddlewareTests.cs
Owners: @microsoft/fhir-server-team

Address build issues
  src/Microsoft.Health.Fhir.Core/Features/Search/StringExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Stop include and revinclude searches with smart v2 scopes with seach parameters
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS

Associate add keyvault with nsp (#5208)
  build/jobs/associate-keyvault-nsp.yml
  build/pr-pipeline.yml
  samples/templates/nsp-resource-association.json
Owners: @jestradaMS, @LTA-Thinking, @microsoft/fhir-server-team

Fixing SearchParameterStateHandlerTests
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateHandlerTests.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Fixing IncludeRewriterTests
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Insert into temp table only for include and revinclude searches (#5209)
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS

Include and revinclude searches with smart v2 scopes with seach parameters
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/SearchParamTableExpressionExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS

Remove path from log
  src/Microsoft.Health.Fhir.Api/Features/Routing/SearchPostReroutingMiddleware.cs
Owners: @paorodma-ms, @rbans96, @microsoft/fhir-server-team

Add architectural doc for duplicated clinical notes (#5052)
  docs/arch/adr-fhir-resource-duplication-design.md
Owners: @evachen96, @EXPEkesheth, @microsoft/fhir-server-team

Reindex updates for zeroCountParams and PendingDelete (#5205)
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Owners: @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team, @paorodma-ms, @feordin, @jestradaMS

Revert "Stop include and revinclude searches with smart v2 scopes with seach parameters"
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS

Following PR suggestions.
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestrator.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Owners: @mikaelweave, @feordin, @microsoft/fhir-server-team, @paorodma-ms, @rbans96

Change name to meta history
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapperOperation.cs
  src/Microsoft.Health.Fhir.Core/Messages/Upsert/UpsertResourceRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Upsert/UpsertResourceHandler.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @feordin, @paorodma-ms, @rbans96, @jestradaMS

Adding a support for 'context' parameter.
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/FirelyTerminologyServiceProxyTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Conformance/FirelyTerminologyServiceProxy.cs
Owners: @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Improved timeout logic.
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
Owners: @mikaelweave, @feordin, @microsoft/fhir-server-team

update packages
  Directory.Packages.props
Owners: @microsoft/fhir-server-team

Updates
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/Handlers/CreateBulkUpdateHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/IReferenceToElementResolver.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/LightweightReferenceToElementResolver.cs
  src/Microsoft.Health.Fhir.Core/Models/IModelInfoProvider.cs
  src/Microsoft.Health.Fhir.Core/Models/ModelInfoProvider.cs
  src/Microsoft.Health.Fhir.Core/Models/ResourceElement.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Headers/FhirResultExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Throttling/ThrottlingMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/TransactionBundleValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/TerminologyRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Definition/SearchParameterDefinitionBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/Orchestration/BundleOrchestratorOperationTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Conformance/FirelyTerminologyServiceProxy.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ReferenceRemover.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Upsert/BulkUpdateService.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleTransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Conformance/ExpandOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/VersionSpecificTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  tools/Microsoft.Health.Fhir.R4.ResourceParser/ResourceWrapperParser.cs
Owners: @microsoft/fhir-server-team, @paorodma-ms, @mikaelweave, @LTA-Thinking, @feordin, @jestradaMS, @abiisnn, @fhibf, @rbans96

Removing an unnecessary namespace.
  src/Microsoft.Health.Fhir.Shared.Core/Features/Conformance/FirelyTerminologyServiceProxy.cs
Owners: @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Remove temp table for smart include
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Adding some E2E with context parameter.
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Conformance/ExpandOperationTests.cs
Owners: @microsoft/fhir-server-team
