Repository microsoft/fhir-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/fhir-server-team, @feordin, @apurvabhaleMS, @SergeyGaluzo, @rbans96, @mikaelweave, @fhibf, @jestradaMS, @paorodma-ms, @LTA-Thinking, @PTaladay, @abiisnn, @evachen96, @EXPEkesheth

Addressing bot's comments.
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/FirelyTerminologyServiceProxyTests.cs
Owners: @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Addressing another bot comment.
  src/Microsoft.Health.Fhir.Shared.Core/Features/Conformance/FirelyTerminologyServiceProxy.cs
Owners: @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Limiting the context case to Stu3 and R4 only.
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Conformance/ExpandOperationTests.cs
Owners: @microsoft/fhir-server-team

Updating the context test data to one that works for all fhir versions.
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Conformance/ExpandOperationTests.cs
Owners: @microsoft/fhir-server-team

Add log with exception reason
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
Owners: @jestradaMS, @LTA-Thinking, @microsoft/fhir-server-team

improvements to separate include query
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/PartitionEliminationRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/PrimaryKeyRangeParameterQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/microsoft.health.tools.sql.tasks/7.1.140/build/Sql.targets
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team, @LTA-Thinking

Remove raw resource from log
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Fix content type error format (#5207)
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/OperationOutcomeResult.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/SearchPostReroutingMiddleware.cs
  src/Microsoft.Health.Fhir.Azure.UnitTests/Api/SearchPostReroutingMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Exceptions/BaseExceptionMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Owners: @microsoft/fhir-server-team, @paorodma-ms, @rbans96, @PTaladay, @mikaelweave, @feordin, @jestradaMS

Last attempt to fix
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Add check for %2f in smart scopes.
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Owners: @feordin, @apurvabhaleMS, @microsoft/fhir-server-team

Add releasenote generator prompt (#5166)
  .github/prompts/releasenotesSummarizer.prompt.md
Owners: @evachen96, @EXPEkesheth, @microsoft/fhir-server-team

Only register the base allowed scopes on startup, not the 6000+ SMART clinical scopes SMART scopes will be validated dynamically via event handlers
  src/Microsoft.Health.Fhir.Api.OpenIddict/Extensions/DevelopmentIdentityProviderRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Services/OpenIddictApplicationCreater.cs
Owners: @apurvabhaleMS, @fhibf, @microsoft/fhir-server-team

[Bundles] Stale operations checks (#5203)
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestrator.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/IBundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Owners: @mikaelweave, @feordin, @microsoft/fhir-server-team, @paorodma-ms, @rbans96

Fix test failures
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS

forcing MaxDegreeOfParallelism to 8
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexProcessingJob.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Remove raw resource from log (#5212)
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Adding more logging to BulkUpdateSearchParameterIndicesAsync for perf counters Fixing logging in ReindexProcessingJob
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexProcessingJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team, @feordin, @jestradaMS

Ensure operation is remove/clean from memory in case of failures.
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Owners: @paorodma-ms, @rbans96, @microsoft/fhir-server-team

Add support for SMART v2 include in sql
  docs/SMART-v2-Phase5-Part3-Summary.md
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/DefaultExpressionVisitor.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ExpressionRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/IExpressionVisitor.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/TrustedResourceIdListExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOptions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
  src/Microsoft.Health.Fhir.R4.Web/Properties/ServiceDependencies/fhir-udap - Zip Deploy/profile.arm.json
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/DefaultSqlExpressionVisitor.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/ISqlExpressionVisitor.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/PreserveTrustedResourceIdListRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SearchParamTableExpressionQueryGeneratorFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/GranularScopeIncludesService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Owners: @evachen96, @EXPEkesheth, @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS, @paorodma-ms, @rbans96

New null check.
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Owners: @paorodma-ms, @rbans96, @microsoft/fhir-server-team

Handle new expression in rewriter
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SqlRootExpressionRewriter.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Handle new expression in rewriter
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SqlRootExpressionRewriter.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

One more Root rewriter update
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SqlRootExpressionRewriter.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Document approach
  docs/SMART-v2-Granular-Scopes-Includes-Implementation.md
Owners: @evachen96, @EXPEkesheth, @microsoft/fhir-server-team

Put new struct in separate file
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ResourceId.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/TrustedResourceIdListExpression.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Update granularscopeservice for new struct
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/GranularScopeIncludesService.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Update ExpressionRewriter to ignore TrustedId expressions
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ExpressionRewriter.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Update check for cast in ExpressionRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ExpressionRewriter.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

Adding perf counters to ReindexOrchestrator
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Reverting Parallel foreach in ReindexProcessingJob
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexProcessingJob.cs
Owners: @paorodma-ms, @mikaelweave, @LTA-Thinking, @microsoft/fhir-server-team

Adding SMART v2 fields to SMART configuration.
  src/Microsoft.Health.Fhir.Core/Configs/SecurityConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/GetSmartConfigurationHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/SmartConfigurationResult.cs
  src/Microsoft.Health.Fhir.Core/Messages/Get/GetSmartConfigurationResponse.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/GetSmartConfigurationHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/FhirMediatorExtensions.cs
Owners: @microsoft/fhir-server-team, @mikaelweave, @LTA-Thinking, @paorodma-ms

address comment
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Owners: @mikaelweave, @feordin, @jestradaMS, @microsoft/fhir-server-team

update adr
  docs/arch/adr-2510-Silent-meta.md
  docs/arch/adr-2510-meta-history.md
Owners: @evachen96, @EXPEkesheth, @microsoft/fhir-server-team

[Bundle] In-memory operations are cleaned in case of failures (#5217)
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Owners: @paorodma-ms, @rbans96, @microsoft/fhir-server-team

Fix bug where jobs can be queued after being cancelled.
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team, @mikaelweave, @jestradaMS

Only register the base allowed scopes on startup, not the 6000+ SMART clinical scopes (#5219)
  src/Microsoft.Health.Fhir.Api.OpenIddict/Extensions/DevelopmentIdentityProviderRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Services/OpenIddictApplicationCreater.cs
Owners: @apurvabhaleMS, @fhibf, @microsoft/fhir-server-team

Add test
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Owners: @microsoft/fhir-server-team

Add meta history feature(#5144)
  docs/arch/adr-2510-meta-history.md
  src/Microsoft.Health.Fhir.Core.UnitTests/Extensions/ElementValueExtensionsTests.cs
  src/Microsoft.Health.Fhir.Core/Extensions/ElementValueExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapperOperation.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/StringExtensions.cs
  src/Microsoft.Health.Fhir.Core/Messages/Upsert/UpsertResourceRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Upsert/UpsertResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.Development.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/MergeResources.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
Owners: @evachen96, @EXPEkesheth, @microsoft/fhir-server-team, @mikaelweave, @feordin, @jestradaMS, @paorodma-ms, @rbans96, @apurvabhaleMS, @SergeyGaluzo

Remove n-square problerm
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/98.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpdateResourceSearchParams.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

99
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/99.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Owners: @feordin, @apurvabhaleMS, @SergeyGaluzo, @microsoft/fhir-server-team

.github/CODEOWNERS:

# CODEOWNERS for Microsoft FHIR Server
# 
# This file defines code ownership for feature verticals to ensure
# the right reviewers are automatically assigned to pull requests.
# Lines starting with '#' are comments.
#
# Global fallback - FHIR Server Team catch-all
*       @microsoft/fhir-server-team

# ============================================================================
# SQL Server / Database Features - SQL Specialist
# ============================================================================
src/Microsoft.Health.Fhir.SqlServer/                                          @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SqlServer.UnitTests/                               @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SchemaManager/                                     @apurvabhaleMS @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.SchemaManager.UnitTests/                           @apurvabhaleMS @rbans96 @microsoft/fhir-server-team
src/*/Features/Schema/                                                       @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team

# ============================================================================
# Storage & Data Persistence (CosmosDB and Core Storage)
# ============================================================================
src/Microsoft.Health.Fhir.CosmosDb/                                          @mikaelweave @fhibf @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.CosmosDb.*/                                        @mikaelweave @fhibf @microsoft/fhir-server-team
src/*/Features/Storage/                                                       @mikaelweave @feordin @jestradaMS @microsoft/fhir-server-team
src/*/Features/Persistence/                                                   @mikaelweave @feordin @microsoft/fhir-server-team

# ============================================================================
# Search Features
# ============================================================================
src/*/Features/Search/                                                        @mikaelweave @feordin @jestradaMS @microsoft/fhir-server-team

# ============================================================================
# Operations & Bulk Features (Import/Export/Reindex/Convert)
# ============================================================================
src/*/Features/Operations/                                                    @paorodma-ms @mikaelweave @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# API Layer & Web Features
# ============================================================================
src/Microsoft.Health.Fhir.*.Api/                                             @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.*.Web/                                             @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.Shared.Api/                                        @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Resources/                                                     @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Routing/                                                       @paorodma-ms @rbans96 @microsoft/fhir-server-team
src/*/Features/Formatters/                                                    @PTaladay @jestradaMS @microsoft/fhir-server-team
src/*/Features/Headers/                                                       @abiisnn @fhibf @microsoft/fhir-server-team
src/*/Features/ContentTypes/                                                  @abiisnn @fhibf @microsoft/fhir-server-team

# ============================================================================
# Security & Authentication Features
# ============================================================================
src/*/Features/Security/                                                      @apurvabhaleMS @fhibf @microsoft/fhir-server-team
src/*/Features/SMART/                                                         @feordin @apurvabhaleMS @microsoft/fhir-server-team
src/Microsoft.Health.Fhir.Api.OpenIddict/                                    @apurvabhaleMS @fhibf @microsoft/fhir-server-team

# ============================================================================
# Bundle Features
# ============================================================================
src/*/Features/Bundle/                                                        @abiisnn @fhibf @microsoft/fhir-server-team

# ============================================================================
# Validation Features
# ============================================================================
src/*/Features/Validation/                                                    @jestradaMS @PTaladay @microsoft/fhir-server-team

# ============================================================================
# Health & Monitoring Features
# ============================================================================
src/*/Features/Health/                                                        @abiisnn @LTA-Thinking @microsoft/fhir-server-team
src/*/Features/Metrics/                                                       @abiisnn @fhibf @microsoft/fhir-server-team
src/*/Features/Audit/                                                         @PTaladay @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Conformance & FHIR Specification Features
# ============================================================================
src/*/Features/Conformance/                                                   @mikaelweave @LTA-Thinking @microsoft/fhir-server-team
src/*/Features/Definition/                                                    @mikaelweave @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Infrastructure & Background Services
# ============================================================================
src/*/Features/BackgroundJobService/                                          @LTA-Thinking @mikaelweave @microsoft/fhir-server-team
src/*/Features/Watchdogs/                                                     @feordin @apurvabhaleMS @SergeyGaluzo @microsoft/fhir-server-team

# ============================================================================
# Core Framework & Shared Components
# ============================================================================
src/*/Features/Context/                                                       @PTaladay @rbans96 @microsoft/fhir-server-team
src/*/Features/Exceptions/                                                    @PTaladay @rbans96 @microsoft/fhir-server-team
src/*/Features/Filters/                                                       @jestradaMS @LTA-Thinking @microsoft/fhir-server-team

# ============================================================================
# Documentation & Configuration
# ============================================================================
*.md                                                                           @evachen96 @EXPEkesheth @microsoft/fhir-server-team
build/                                                                         @jestradaMS @LTA-Thinking @microsoft/fhir-server-team
