Repository microsoft/fhir-server, pull requests merged in 2020-12, with the labels that each got.

#1475 Adds support for money to quantity searches
  src/Microsoft.Health.Fhir.Core/Data/R4/unsupported-search-parameters.json
  src/Microsoft.Health.Fhir.Core/Data/R5/unsupported-search-parameters.json
  src/Microsoft.Health.Fhir.Core/Data/Stu3/unsupported-search-parameters.json
  src/Microsoft.Health.Fhir.Core/Features/Search/Converters/MoneyNodeToQuantitySearchValueTypeConverter.cs
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Features/Search/Converters/MoneyToQuantitySearchValueTypeConverterTests.cs
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Features/Search/Converters/NodeConverterTests/MoneyNodeToQuantitySearchValueTypeConverterTests.cs
  src/Microsoft.Health.Fhir.R4.Core/Features/Search/Converters/MoneyToQuantitySearchValueTypeConverter.cs
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Features/Search/Converters/MoneyToQuantitySearchValueTypeConverterTests.cs
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Features/Search/Converters/NodeConverterTests/MoneyNodeToQuantitySearchValueTypeConverterTests.cs
  src/Microsoft.Health.Fhir.R5.Core/Features/Search/Converters/MoneyToQuantitySearchValueTypeConverter.cs
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Features/Search/Converters/MoneyToQuantitySearchValueTypeConverterTests.cs
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Features/Search/Converters/NodeConverterTests/MoneyNodeToQuantitySearchValueTypeConverterTests.cs
  src/Microsoft.Health.Fhir.Stu3.Core/Features/Search/Converters/MoneyToQuantitySearchValueTypeConverter.cs
  src/Microsoft.Health.Fhir.ValueSets/CurrencyValueSet.cs
Labels: Azure API for FHIR

#1412 Updates package 'Microsoft.Azure.Cosmos' to version '3.15.0'
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/CosmosQuery.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/CosmosQueryFactory.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/ICosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
Labels: Dependencies

#1347 Add supported operations to capability statement
  src/Microsoft.Health.Fhir.Api/Features/Routing/KnownRoutes.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/RouteNames.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Core/Data/DataLoader.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/anonymized-export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/group-export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/patient-export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/reindex.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/resource-reindex.json
  src/Microsoft.Health.Fhir.Core/Features/Conformance/Models/ListedResourceComponent.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/OperationDefinitionRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/OperationsConstants.cs
  src/Microsoft.Health.Fhir.Core/Features/Routing/IUrlResolver.cs
  src/Microsoft.Health.Fhir.Core/Messages/Operation/OperationDefinitionRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Operation/OperationDefinitionResponse.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.R4.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.R5.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Security/RequestHandlerCheckAccessTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/OperationDefinitionController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/OperationsModule.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/OperationDefinitionMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Microsoft.Health.Fhir.Shared.Core.projitems
  src/Microsoft.Health.Fhir.Stu3.Api/Features/Operations/OperationsCapabilityProvider.cs
Labels: Azure API for FHIR, Enhancement

#1501 Adds examples table for SemVer usage
  docs/Versioning.md
Labels: Documentation

#1502 Updates PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#1505 Fixes smartlauncher references for e2e tests
  Microsoft.Health.Fhir.sln
  samples/apps/SmartLauncher/Models/SmartLauncherConfig.cs
  samples/apps/SmartLauncher/Program.cs
  samples/apps/SmartLauncher/SmartLauncher.csproj
  samples/apps/SmartLauncher/Startup.cs
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Microsoft.Health.Fhir.R5.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestFhirServerFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Smart/Microsoft.Health.Fhir.Shared.Tests.Smart.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Smart/Microsoft.Health.Fhir.Shared.Tests.Smart.shproj
  test/Microsoft.Health.Fhir.Shared.Tests.Smart/SmartProxy/SmartProxyBadRequestTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Smart/SmartProxy/SmartProxyTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Smart/SmartProxy/SmartProxyTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
Labels: Bug, Enhancement-Test

#1510 Upgrade healthcare-shared-components version
  src/Microsoft.Health.Fhir.Api.UnitTests/Microsoft.Health.Fhir.R4.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Core.UnitTests/Microsoft.Health.Fhir.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Microsoft.Health.Fhir.CosmosDb.UnitTests.csproj
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
  src/Microsoft.Health.Fhir.R4.Client/Microsoft.Health.Fhir.R4.Client.csproj
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Api.UnitTests/Microsoft.Health.Fhir.R5.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Client/Microsoft.Health.Fhir.R5.Client.csproj
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Microsoft.Health.Fhir.R5.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.Stu3.Api.UnitTests/Microsoft.Health.Fhir.Stu3.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Client/Microsoft.Health.Fhir.Stu3.Client.csproj
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Microsoft.Health.Fhir.R4.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Microsoft.Health.Fhir.R5.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Microsoft.Health.Fhir.R5.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Microsoft.Health.Fhir.Stu3.Tests.Integration.csproj
Labels: Dependencies

#1511 Adds semver change to PR template
  .github/pull_request_template.md
Labels: Documentation

#1508 Handle _include in Cosmos DB with untyped references
  src/Microsoft.Health.Fhir.Core/Models/SearchParameterInfo.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/ResourceTypeAndId.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Azure API for FHIR, Bug

#1477 Cleanup old images
  build/build-variables.yml
  build/cleanup-images.yml
  build/jobs/cleanup.yml
Labels: Area-Deployment

#1462 Add support for _typeFilter to export
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/CancelExportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/GetExportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/group-export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/patient-export.json
  src/Microsoft.Health.Fhir.Core/Extensions/ExportMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobFilter.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobProgress.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/SearchValueExpressionBuilderHelper.cs
  src/Microsoft.Health.Fhir.Core/Messages/Export/CreateExportRequest.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ExportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CreateExportRequestHandlerTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreTests.cs
Labels: Azure API for FHIR, New Feature

#1509 PR resource names include build number
  build/ci-pipeline.yml
  build/ci-variables.yml
  build/jobs/add-aad-test-environment.yml
  build/jobs/build.yml
  build/jobs/cleanup.yml
  build/jobs/provision-deploy.yml
  build/jobs/run-tests.yml
  build/jobs/update-semver.yml
  build/pr-pipeline.yml
  build/pr-variables.yml
  build/remove-environment.yml
Labels: Area-Deployment

#1499 Adds documentation for PR rules of thumb
  docs/CodeReviewRulesOfThumb.md
Labels: Documentation

#1520 Fix AnonymizedExportTests when run locally
  Microsoft.Health.Fhir.sln
  src/Microsoft.Health.Extensions.Xunit/CustomXunitTestFrameworkExecutor.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Metric/StartupWithMetricHandler.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/RequiresIsolatedDatabaseAttribute.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/StartupForExportTestProvider.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestFhirServer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestFhirServerFactory.cs
Labels: Bug

#1522 Fix broken link in doc
  README.md
Labels: Area-Documents

#1523 Change semver VM
  build/ci-pipeline.yml
  build/pr-pipeline.yml
Labels: Area-Deployment

#1524 Adds Dependabot config
  .github/dependabot.yml
  Directory.Build.props
  src/Microsoft.Health.Fhir.Api.UnitTests/Microsoft.Health.Fhir.R4.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Core.UnitTests/Microsoft.Health.Fhir.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Microsoft.Health.Fhir.CosmosDb.UnitTests.csproj
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
  src/Microsoft.Health.Fhir.R4.Api/Microsoft.Health.Fhir.R4.Api.csproj
  src/Microsoft.Health.Fhir.R4.Client/Microsoft.Health.Fhir.R4.Client.csproj
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.R5.Api.UnitTests/Microsoft.Health.Fhir.R5.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Api/Microsoft.Health.Fhir.R5.Api.csproj
  src/Microsoft.Health.Fhir.R5.Client/Microsoft.Health.Fhir.R5.Client.csproj
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Microsoft.Health.Fhir.R5.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Core/Microsoft.Health.Fhir.R5.Core.csproj
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.Stu3.Api.UnitTests/Microsoft.Health.Fhir.Stu3.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Api/Microsoft.Health.Fhir.Stu3.Api.csproj
  src/Microsoft.Health.Fhir.Stu3.Client/Microsoft.Health.Fhir.Stu3.Client.csproj
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Core/Microsoft.Health.Fhir.Stu3.Core.csproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.ValueSets/Microsoft.Health.Fhir.ValueSets.csproj
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Microsoft.Health.Fhir.R4.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Microsoft.Health.Fhir.R5.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Microsoft.Health.Fhir.R5.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Microsoft.Health.Fhir.Stu3.Tests.Integration.csproj
Labels: Dependencies

#1532 Removes unused nuget feed
  nuget.config
Labels: Dependencies

#1513 Fixes namespace and packages for smart tests
  GitVersion.yml
  samples/apps/SmartLauncher/Startup.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
Labels: Bug

#1498 HealthCheck need to handle error due to customer CMK settings
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosResponseProcessorTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosHealthCheck.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosExceptionExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/KnownCosmosDbCmkSubStatusValue.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/KnownCosmosDbCmkSubStatusValueClientIssue.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/KnownCosmosDbCmkSubStatusValueServerSideIssue.cs
Labels: Azure API for FHIR

#1540 Adds new Test category for CustomSearch
  THIRDPARTYNOTICES.md
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Microsoft.Health.Fhir.R5.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
Labels: Enhancement-Test

#1546 Added missing strings to Resources.resx
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
Labels: Bug

#1469 Adds mock for IModelInfoProvider/IStructureDefinitionSummaryProvider
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionBuilder.cs
  src/Microsoft.Health.Fhir.Core/Models/IModelInfoProvider.cs
  src/Microsoft.Health.Fhir.Shared.Core/VersionSpecificModelInfoProvider.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Microsoft.Health.Fhir.SqlServer.UnitTests.csproj
  src/Microsoft.Health.Fhir.Tests.Common/MockModelInfoProviderBuilder.cs
  src/Microsoft.Health.Fhir.Tests.Common/MockStructureDefinitionSummaryProvider.cs
Labels: Enhancement-Refactor, Enhancement-Test

#1539 Re-enable AKS in PR builds
  README.md
  build/jobs/deploy-aks.yml
Labels: Area-Deployment

#1558 Skip re-indexing test that fails intermittently
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Azure API for FHIR, Enhancement-Test

#1552 Add BYOK option to deployment templates
  docs/QuickstartDeployPortal.md
  samples/templates/default-azuredeploy-docker.json
  samples/templates/default-azuredeploy.json
Labels: Area-Deployment

#1561 Defines root namespaces in assemblies using shared projects
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4.Web/Microsoft.Health.Fhir.R4.Web.csproj
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Microsoft.Health.Fhir.R5.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Web/Microsoft.Health.Fhir.R5.Web.csproj
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Web/Microsoft.Health.Fhir.Stu3.Web.csproj
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Microsoft.Health.Fhir.R4.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Microsoft.Health.Fhir.R5.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Microsoft.Health.Fhir.Stu3.Tests.Integration.csproj
Labels: Tech-Debt

#1560 Add bundle issues to export record
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/GetExportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/GetExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobResult.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
Labels: Azure API for FHIR, Bug

#1351 Fix issue 1319 - return correct code on bad / invalid requests
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/InvalidSearchOperationExceptionTests.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/CustomerManagedKeyException.cs
  src/Microsoft.Health.Fhir.Core/Features/ResourceNotSupportedException.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/InvalidSearchOperationException.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOperationNotSupportedException.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchParameterNotSupportedException.cs
Labels: Azure API for FHIR, KI-Warning

#1518 Adds support for connecting to an existing MS SQL Server when deploying via Helm
  samples/kubernetes/helm/fhir-server/Chart.yaml
  samples/kubernetes/helm/fhir-server/templates/deployment.yaml
  samples/kubernetes/helm/fhir-server/templates/existingsqlserversecret.yaml
  samples/kubernetes/helm/fhir-server/values.yaml
Labels: Area-Deployment, Enhancement

#1547 Added support for common parameters in system search
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ChainedExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ExpressionRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/IncludeExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/IExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Expressions/ExpressionRewriterTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Expressions/ExpressionToStringTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Expressions/Parsers/ExpressionParserTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchExpressionTestHelper.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/RemoveIncludesRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: New Feature
