Repository microsoft/fhir-server, pull requests merged in 2021-09, with the labels that each got.

#2065 Adding Notifications to CosmosResponseProcessor
  src/Microsoft.Health.Fhir.Api/Extensions/ExceptionExtensions.cs
  src/Microsoft.Health.Fhir.Api/Features/ExceptionNotifications/ExceptionNotificationMiddleware.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosResponseProcessorTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/CosmosQuery.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/ICosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
Labels: Bug, Azure API for FHIR

#2192 Wider catch for exceptions during applying patch.
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/JsonPatchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/PatchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2196 Convert validators to AbstractValidator
  src/Microsoft.Health.Fhir.Core/Features/Validation/NarrativeValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceContentValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceElementValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceProfileValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ValidateRequestPreProcessor.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Validation/Narratives/NarrativeValidatorTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2213 Add conditional patch audit event.
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.ValueSets/AuditEventSubType.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#2212 Update PatchRequests.http
  docs/rest/PatchRequests.http
Labels: Documentation

#2236 Fix password fetch
  build/jobs/add-aad-test-environment.yml
Labels: Area-Deployment

#2231 Fixes validation on root div
  src/Microsoft.Health.Fhir.Core/Features/Validation/Narratives/NarrativeHtmlSanitizer.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Create/CreateResourceValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Validation/Narratives/NarrativeDataTestBase.cs
Labels: Bug-Security, Azure API for FHIR, Azure Healthcare APIs

#2238 Adds Versioning App Setting
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/VersioningConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/Models/ListedResourceComponent.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/ConformanceBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: New Feature, Azure API for FHIR

#2232 Ensure returned Bundle has patched patient
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/PatchTests.cs
Labels: Enhancement-Test
