Repository microsoft/fhir-server, pull requests merged in 2021-03, with the labels that each got.

#1695 Limited chained search in Cosmos provider
  src/Microsoft.Health.Fhir.CosmosDb/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/IQueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryBuilderOptions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryProjection.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.Designer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Area-CosmosDB, Area-Search, Specification

#1700 Fix template samples
  build/ci-deploy.yml
  build/jobs/deploy-aks.yml
  build/jobs/provision-deploy.yml
  build/pr-pipeline.yml
  samples/templates/default-azuredeploy-docker.json
  samples/templates/default-azuredeploy.json
Labels: Bug

#1704 Move away from using Cosmos DB upsert stored procedure
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapper.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/UpsertOutcome.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosResourceWrapper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/Upsert/UpsertWithHistory.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/Upsert/UpsertWithHistoryModel.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/Upsert/upsertWithHistory.js
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
Labels: Azure API for FHIR

#1703 Cleanup aad in beginning of build
  build/jobs/add-aad-test-environment.yml
  build/jobs/cleanup-aad.yml
  build/jobs/cleanup.yml
  build/jobs/provision-deploy.yml
  build/pr-pipeline.yml
Labels: Area-Deployment

#1716 Gracefully handle Cosmos DB throttling on startup
  src/Microsoft.Health.Fhir.Api/Features/Headers/HeaderDictionaryExtensions.cs
  src/Microsoft.Health.Fhir.Api/Features/Throttling/ThrottlingMiddleware.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/FhirCosmosClientInitializerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CollectionInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosContainerProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Throttling/ThrottlingMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Azure API for FHIR

#1647 CosmosDB configuration-based _sort
  CustomAnalysisRules.ruleset
  src/Microsoft.Health.Fhir.Api/Features/Headers/HeaderDictionaryExtensions.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/SearchParameterInfoExtensionsTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/ISupportedSearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SupportedSearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapper.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapperFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/ResourceSearchParameterStatus.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchParameterInfoExtensions.cs
  src/Microsoft.Health.Fhir.Core/Models/SearchParameterInfo.cs
  src/Microsoft.Health.Fhir.Core/Models/SortParameterStatus.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosFhirDataStoreTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/Registry/CosmosDbSearchParameterStatusInitializerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/Search/SortValueJObjectGeneratorTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/CosmosDbSortingValidator.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/SearchValueConstants.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosResourceWrapper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/CosmosDbSearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/CosmosDbSearchParameterStatusInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/SearchParameterStatusExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/SearchParameterStatusWrapper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Search/SearchIndexEntryJObjectGenerator.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Search/SortEntryConverter.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Search/SortValueJObjectGenerator.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/SortValue.cs
  src/Microsoft.Health.Fhir.CosmosDb/StringExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/FhirRequestContextRouteDataPopulatingFilterAttributeTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/ActionConstraints/ConditionalConstraintAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/FhirRequestContextRouteDataPopulatingFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProvenanceHeaderBehavior.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/ResourceWrapperFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSortingValidator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SqlServerSearchParameterStatusDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Enhancement, Specification

#1717 Ensures custom search tests are run serially
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Bug

#1699 Refactor approach for format parameters
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateFormatParametersAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Formatters/IFormatParametersValidator.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Exceptions/BaseExceptionMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/ValidateContentTypeFilterAttributeTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Formatters/FhirJsonOutputFormatterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Formatters/FormatterConfigurationTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Formatters/HttpContextExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ConvertDataController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ValidateController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Exceptions/BaseExceptionMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FhirJsonOutputFormatter.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FhirXmlOutputFormatter.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FormatParametersValidator.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/HtmlOutputFormatter.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/HttpContextExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleSerializer.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/MetadataTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Azure API for FHIR, Bug, Enhancement-Refactor

#1721 Only modify collection on create
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CollectionInitializer.cs
Labels: Bug

#1710 Validate SearchParameter Expression
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/CreateOrUpdateSearchParameterBehavior.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Models/SearchParameterInfo.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterBadSyntax.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterExpressionWrongProperty.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterInvalidBase.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterInvalidType.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterMissingBase.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterMissingExpression.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterMissingType.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterUnsupportedType.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Azure API for FHIR, New Feature

#1701 Remove queryStatus when complete
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobQueryStatusConverter.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
Labels: Bug

#1724 Update template docs
  docs/QuickstartDeployPortal.md
  samples/templates/default-azuredeploy-docker.json
  samples/templates/default-azuredeploy.json
Labels: Area-Documents

#1720 Make LGTM a little bit happier
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ExportTestHelper.cs
Labels: Tech-Debt

#1731 "Handling" parameter in search
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CanonicalSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Area-Search, Azure API for FHIR, Enhancement

#1728 Populate x-correlation-id header if necessary
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CustomHeadersTests.cs
Labels: Azure API for FHIR, Enhancement

#1736 Enable search parameters with %resource in expression
  src/Microsoft.Health.Fhir.Core/Features/Search/TypedElementSearchIndexer.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchIndexerTests.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Sequence.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/Sequence.json
Labels: Azure API for FHIR, Bug

#1734 Add validation for Sql server supported search parameter types
  src/Microsoft.Health.Fhir.Core/Features/Search/IDataStoreSearchParameterValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/CosmosDbSearchParameterValidator.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/SqlSesrverSearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SearchParamTableExpressionQueryGeneratorFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchParameterValidator.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.resx
Labels: New Feature

#1740 Prevent multiple header values for chained search tests
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
Labels: Bug, Enhancement-Test

#1739 Upgrade converter lib to v3.4 and update tests sample data
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ConvertDataControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ContainerRegistryTemplateProviderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataEngineTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.shproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Parameter-Convert-Data.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/conversion_templates.tar.gz
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/Parameter-Convert-Data.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/Parameter-Convert-Data.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/conversion_templates.tar.gz
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/Parameter-Convert-Data.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/conversion_templates.tar.gz
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.shproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BasicAuthTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConvertDataTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CustomConvertDataTests.cs
Labels: Azure API for FHIR, Dependencies

#1751 Fix continuation token passing in profiles
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ServerProvideProfileValidation.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: Bug

#1755 Disable parallel execution of tests for reindex.
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
Labels: Bug

#1754 Write custom headers to audit log
  src/Microsoft.Health.Fhir.Api/Features/Audit/AuditLogger.cs
Labels: Azure API for FHIR, Bug

#1763 Add cancellation token to CheckAccess
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/DisabledFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/IFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/RoleBasedFhirAuthorizationService.cs
Labels: Azure API for FHIR, Enhancement

#1753 Adds support for new search parameters with abstract base type
  docs/rest/HowToUseVSCodeRestClient.md
  docs/rest/ReindexFlowResourceBase.http
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Azure API for FHIR, Enhancement, New Feature

#1761 Update CustomSearchTests for stability
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterSupportResolver.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Appointment.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameter-AppointmentStatus.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Azure API for FHIR, Bug

#1666 Restrict resources related to profiles behind role
  src/Microsoft.Health.Fhir.Core/Features/Security/DataActions.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/roles.schema.json
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProfileResourcesBehaviour.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/MediationModule.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/IProvideProfilesForValidation.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ProfileValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ServerProvideProfileValidation.cs
  src/Microsoft.Health.Fhir.Shared.Web/roles.json
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/ValueSet.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BasicAuthTests.cs
Labels: Azure API for FHIR, New Feature

#1762 Update 7.sql and 7.diff.sql to be idempotent
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/7.diff.sql
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Azure API for FHIR, Enhancement

#1750 Add throttling for reindex operations
  src/Microsoft.Health.Fhir.Core/Configs/ReindexJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/CreateReindexRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/IReindexJobThrottleController.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IFhirDataStore.cs
  src/Microsoft.Health.Fhir.Core/Messages/Reindex/CreateReindexRequest.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Reindex/ReindexJobCosmosThrottleControllerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/Reindex/ReindexJobCosmosThrottleController.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ReindexController.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexMediatorExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Reindex/ReindexJobSqlThrottlingController.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Azure API for FHIR, New Feature

#1709 Reindexes resources in bulk in SQL
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/8.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/8.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkCompartmentAssignmentV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkCompositeSearchParameterRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkDateTimeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkNumberSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkQuantitySearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceTokenCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReindexResourceV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkResourceWriteClaimV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkSearchParameterRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkStringSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenDateTimeCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenNumberNumberCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenQuantityCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenStringCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenTextSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenTokenCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkUriSearchParameterV1RowGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: New Feature

#1784 Make 8.diff.sql idempotent
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/8.diff.sql
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement

#1756 add cda converter
  docs/ConvertDataOperation.md
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/convert-data.json
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ConvertDataEngine.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/Models/ConversionInputDataType.cs
  src/Microsoft.Health.Fhir.Core/Messages/ConvertData/ConvertDataRequest.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ConvertDataControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ConvertDataController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ContainerRegistryTemplateProviderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataEngineTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConvertDataTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CustomConvertDataTests.cs
Labels: Azure API for FHIR, Enhancement

#1801 Upgrade fhir converter package to 3.5.1
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
Labels: Dependencies

#1800 Fix the schema manager tool documentation and turn app service setting 'Always On'
  docs/SchemaMigrationTool.md
  samples/templates/default-azuredeploy.json
Labels: Bug

#1804 Fix dependency resolution in GroupMemberExtractor
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Export/GroupMemberExtractorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Export/GroupMemberExtractor.cs
Labels: Azure API for FHIR, Bug
