Repository microsoft/fhir-server, pull requests merged in 2021-12, with the labels that each got.

#2368 Adds resource specific versioning configuration
  docs/rest/ResourceSpecificDisableHistory.http
  src/Microsoft.Health.Fhir.Core/Configs/VersioningConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/Models/DefaultOptionHashSet.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/Models/ListedResourceComponent.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/ConformanceBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#2376 Updates to add primary key constraint for QuantitySearchParam and Num…
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/23.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/23.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/NumberSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/QuantitySearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/NumberQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/QuantityQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkNumberSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkQuantitySearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Enhancement, Azure Healthcare APIs

#2361 Log OperationCanceled as an informational message
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/ChangeFeed/SqlServerFhirResourceChangeDataStoreTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ChangeFeed/SqlServerFhirResourceChangeDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.resx
Labels: Azure Healthcare APIs

#2398 Reduce chance of data record collisions in specific test
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Enhancement-Test

#2395 Add checks in custom search E2E tests to ensure reindex job starts
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Enhancement-Test

#2314 Add exception logging and timestamps
  src/Microsoft.Health.Fhir.R4.Api/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.R5.Api/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/OperationOutcomeExceptionFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Stu3.Api/AssemblyInfo.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#2400 Add 429 retry and logging in BundleHandler
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
Labels: Enhancement, Azure API for FHIR

#2406 Fix time to delay to milliseconds
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
Labels: Bug

#2390 add predicate for use fhir service
  src/Microsoft.Health.Fhir.Api/Registration/FhirServerApplicationBuilderExtensions.cs
Labels: Enhancement

#2408 Remove duplicate search params
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlResourceBulkImporter.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlBulkImporterTests.cs
Labels: Enhancement, Azure Healthcare APIs

#2391 Adds clustered Id index for resource changes
  src/Microsoft.Health.Fhir.SqlServer/Features/ChangeFeed/SqlServerFhirResourceChangeDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/24.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/24.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/FetchResourceChanges_2.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/FetchResourceChanges_3.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/ResourceChangeData.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/ResourceChangeDataStaging.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: KI-Warning, Azure Healthcare APIs
