Repository microsoft/fhir-server, pull requests merged in 2021-11, with the labels that each got.

#2290 Handle timeout exception from SQL Server
  src/Microsoft.Health.Fhir.Core/Exceptions/RequestTimeoutException.cs
  src/Microsoft.Health.Fhir.Core/Models/OperationOutcomeConstants.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.resx
Labels: Bug, Azure Healthcare APIs

#2262 SQL changes for purging resource changes
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/ChangeFeed/SqlServerFhirResourceChangeDataStoreTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ChangeFeed/SqlServerFhirResourceChangeDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/20.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/20.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureDisabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: KI-Warning, Azure Healthcare APIs

#2319 Adds Publisher to CapabilityStatement.name
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2343 Fix for 500 error when Code SearchParameter is null
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterValidator.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2347 _sort can cause ChainedSearch to return incorrect results
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2354 Refactor the CMK substatus codes to one location
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosExceptionExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/KnownCosmosDbCmkSubStatusValueClientIssue.cs
Labels: Enhancement-Refactor, Azure API for FHIR

#2348 Adds parameters on a remove partition sproc
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/21.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/21.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Azure API for FHIR, Azure Healthcare APIs

#2336 Allow import request with prefix for initial import mode
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/Import/InitialImportLockMiddlewareTests.cs
Labels: Enhancement, Azure Healthcare APIs

#2356 Changes Chained Search to use ARRAY_CONTAINS
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Expressions/ICosmosExpressionVisitor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Expressions/InExpression.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
Labels: Bug, Enhancement-Refactor, Azure API for FHIR

#2324 Search/sort when "Prefer handling=strict"
  src/Microsoft.Health.Fhir.Core/Features/Persistence/BadRequestException.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2364 bulk import doc fix
  docs/BulkImport.md
  docs/images/bulk-import/arm-template-portal.png
  docs/images/bulk-import/set-initial-import-mode.png
  docs/images/bulk-import/set-initmode.png
Labels: Bug, Enhancement

#2373 Updates PR template with CI check
  .github/pull_request_template.md
Labels: Documentation

#2303 Remove unused test and packages
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Microsoft.Health.Fhir.R5.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Smart/Microsoft.Health.Fhir.Shared.Tests.Smart.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Smart/SmartProxy/SmartProxyTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
Labels: Dependencies

#2380 Replace ISqlConnectionProvider to ISqlConnectionFactory
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement, Azure Healthcare APIs

#2377 Retry integration test db setup and teardown
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
Labels: Enhancement-Test
