Repository microsoft/fhir-server, pull requests merged in 2021-04, with the labels that each got.

#1782 Read existing SearchParameter resources
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/Registry/SearchParameterStatusManagerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterResourceDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchParametersModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
Labels: Azure API for FHIR, New Feature

#1793 Fix pagination for SQL _sort queries
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug

#1785 Implements reindexing for SQL
  src/Microsoft.Health.Fhir.Core/Features/Operations/IFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IFhirDataStore.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/8.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/8.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlSearchType.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SqlServerSearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkCompartmentAssignmentV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkCompositeSearchParameterRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkDateTimeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkNumberSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkQuantitySearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceTokenCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReindexResourceV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkResourceWriteClaimV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkSearchParameterRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkStringSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenDateTimeCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenNumberNumberCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenQuantityCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenStringCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenTextSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenTokenCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkUriSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreReindexTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerTransactionScopeTests.cs
Labels: Azure API for FHIR, New Feature

#1810 Catch generic exception to prevent server crash
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterResourceDataStore.cs
Labels: Azure API for FHIR, Bug

#1815 Updates healthcare shared components to 2.1.0.
  Directory.Build.props
  src/Microsoft.Health.Fhir.Api/Features/ApiNotifications/ApiNotificationMiddleware.cs
  src/Microsoft.Health.Fhir.R4.Client/Microsoft.Health.Fhir.R4.Client.csproj
  src/Microsoft.Health.Fhir.R5.Client/Microsoft.Health.Fhir.R5.Client.csproj
  src/Microsoft.Health.Fhir.Stu3.Client/Microsoft.Health.Fhir.Stu3.Client.csproj
Labels: Dependencies

#1816 Renames action ProfileDefinitionEditor to EditProfileDefinitions
  src/Microsoft.Health.Fhir.Core/Features/Security/DataActions.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/roles.schema.json
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProfileResourcesBehaviour.cs
  src/Microsoft.Health.Fhir.Shared.Web/roles.json
Labels: Bug

#1823 Force upstream projects to copy specification.zip
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.R5.Core/Microsoft.Health.Fhir.R5.Core.csproj
  src/Microsoft.Health.Fhir.Stu3.Core/Microsoft.Health.Fhir.Stu3.Core.csproj
Labels: Azure API for FHIR, Bug

#1827 Added logging for number of requests in flight
  src/Microsoft.Health.Fhir.Api/Features/Throttling/ThrottlingMiddleware.cs
Labels: Azure API for FHIR, Enhancement

#1832 Make sure what content files flow to API nuget as well.
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapperFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Converters/PeriodNodeToDateTimeSearchValueTypeConverter.cs
  src/Microsoft.Health.Fhir.R4.Api/Microsoft.Health.Fhir.R4.Api.csproj
  src/Microsoft.Health.Fhir.R5.Api/Microsoft.Health.Fhir.R5.Api.csproj
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.Stu3.Api/Microsoft.Health.Fhir.Stu3.Api.csproj
Labels: Azure API for FHIR, Bug

#1817 Updates for CVE warnings
  src/Microsoft.Health.Fhir.R4.Web/Microsoft.Health.Fhir.R4.Web.csproj
  src/Microsoft.Health.Fhir.R5.Web/Microsoft.Health.Fhir.R5.Web.csproj
  src/Microsoft.Health.Fhir.Stu3.Web/Microsoft.Health.Fhir.Stu3.Web.csproj
Labels: Dependencies

#1831 Moves SearchParameter registrations to common location
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/Registry/SearchParameterStatusManagerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterResourceDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Core/Messages/Storage/StorageInitializedNotification.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosContainerProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchParametersModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Bug

#1807 Improve error message for bad resource type in Reindex job
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobException.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
Labels: Bug

#1833 Remove string interpolation from calls to logger.
  Directory.Build.props
  Microsoft.Health.Fhir.sln
  release/scripts/PowerShell/FhirServerRelease/Private/Set-FhirServerApiUsers.ps1
  src/Microsoft.Health.Fhir.Api/Controllers/AadSmartOnFhirProxyController.cs
  src/Microsoft.Health.Fhir.Api/Features/Throttling/ThrottlingMiddleware.cs
  src/Microsoft.Health.Fhir.Azure/ContainerRegistry/AzureContainerRegistryAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterResourceDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CancelExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobWorker.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/CosmosFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Security/SecurityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Core/Operations/Export/ExportAnonymizerFactory.cs
  tools/FhirAnalyzer/FhirAnalyzer.csproj
  tools/FhirAnalyzer/LogInterpolation.cs
Labels: Enhancement

#1847 Fixes tests request path
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CustomHeadersTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Bug, Enhancement-Test

#1838 Refactor SqlServer SchemaUpgrade tests
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/ISqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement-Test

#1846 Add logging around recording reindex job progress.
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
Labels: Bug

#1864 Skip CosmosDb sort tests
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Enhancement-Test

#1863 Group identity model nuget version under one variable.
  Directory.Build.props
  src/Microsoft.Health.Fhir.R4.Client/Microsoft.Health.Fhir.R4.Client.csproj
  src/Microsoft.Health.Fhir.R5.Client/Microsoft.Health.Fhir.R5.Client.csproj
  src/Microsoft.Health.Fhir.Stu3.Client/Microsoft.Health.Fhir.Stu3.Client.csproj
Labels: Enhancement

#1859 Add version to provenance header target
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProvenanceHeaderBehavior.cs
Labels: Azure API for FHIR, Enhancement

#1885 Renames reindex methods
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexSingleResourceRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexUtilitiesTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Reindex/ReindexSingleResourceRequestHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Reindex/ReindexUtilities.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
Labels: Enhancement-Refactor

#1888 Update IFhirRequestContextAccessor for RequestContextAccessor<IFhirRequestContext>
  src/Microsoft.Health.Fhir.Api/Features/ApiNotifications/ApiNotificationMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Audit/AuditHelper.cs
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextAfterAuthenticationMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextBeforeAuthenticationMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/ExceptionNotifications/ExceptionNotificationMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Context/FhirRequestContextAccessorTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Security/PrincipalClaimsExtractorTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/FhirRequestContextAccessor.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/IFhirRequestContextAccessor.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchableSearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapperFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/ReferenceSearchValueParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/RoleBasedFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/PrincipalClaimsExtractor.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceProfileValidator.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Reindex/ReindexJobCosmosThrottleControllerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosResponseProcessorTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/Reindex/ReindexJobCosmosThrottleController.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/CosmosDbSortingValidator.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosResponseHandler.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/RetryExceptionPolicyFactory.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/ApiNotifications/ApiNotificationMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Audit/AuditHelperTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirRequestContextAfterAuthenticationMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirRequestContextBeforeAuthenticationMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirRequestContextMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Exceptions/BaseExceptionMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/FhirRequestContextRouteDataPopulatingFilterAttributeTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/OperationOutcomeExceptionFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleSerializerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Routing/UrlResolverTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Exceptions/BaseExceptionMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/FhirRequestContextRouteDataPopulatingFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/ResourceWrapperFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Create/CreateResourceValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Upsert/UpsertResourceValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/BundleFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchValues/ReferenceSearchValueParserTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Context/FhirRequestContextExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Azure API for FHIR, Enhancement-Refactor

#1892 Don't run code quality on dependabot branches
  .github/workflows/codeql.yml
Labels: Enhancement

#1843 Introduce member-match operation.
  src/Microsoft.Health.Fhir.Api/Features/Routing/KnownRoutes.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/RouteNames.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/SearchValues/DateTimeSearchValueTests.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/member-match.json
  src/Microsoft.Health.Fhir.Core/Exceptions/MemberMatchMatchingException.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchableSearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/OperationsConstants.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/DateTimeSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Messages/MemberMatch/MemberMatchRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/MemberMatch/MemberMatchResponse.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.Core/Models/KnownResourceTypes.cs
  src/Microsoft.Health.Fhir.Core/Models/PartialDateTime.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ConvertDataControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/MemberMatchControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/MemberMatchController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/OperationDefinitionController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/ActionResults/MemberMatchResult.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/MemberMatch/FhirServerBuilderMemberMatchRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/MemberMatch/IMemberMatchService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/MemberMatch/MemberMatchHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/MemberMatch/MemberMatchService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Microsoft.Health.Fhir.Shared.Core.projitems
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/ChainFlatteningRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Coverage.json
  src/Microsoft.Health.Fhir.ValueSets/AuditEventSubType.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/MemberMatchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/MemberMatchTests.cs
Labels: Azure API for FHIR, New Feature
