Repository microsoft/fhir-server, pull requests merged in 2021-06, with the labels that each got.

#1932 Improve Chained Queries with Group by Type
  src/Microsoft.Health.Fhir.Core/Exceptions/RequestTooCostlyException.cs
  src/Microsoft.Health.Fhir.Core/Models/OperationOutcomeConstants.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryProjection.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.Designer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/MemberMatch/MemberMatchService.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
Labels: Azure API for FHIR, Enhancement

#1986 Fix SQL query gen for multiple _type params
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/PrimaryKeyRangeParameterQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Bug

#1978 Create DaVinciFormulary_Sample_Resources.http file for testing
  docs/rest/DaVinciFormulary/DaVinciFormulary_Overview.md
  docs/rest/DaVinciFormulary/DaVinciFormulary_Sample_Resources.http
Labels: Azure API for FHIR, Documentation

#1996 Remove unnecessary casts
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosExceptionExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/SearchParameterStatusExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/RetryExceptionPolicyFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/ResourceColumnPredicatePushdownRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/UntypedReferenceRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/ReferenceSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenSearchParameterV1RowGenerator.cs
Labels: Enhancement

#1993 Create files for Payer Data Exchange
  docs/rest/PayerDataExchange/PDex_Sample_Data.http
  docs/rest/PayerDataExchange/PayerDataExchangeOverview.md
  docs/rest/PayerDataExchange/USCore.http
  docs/rest/PayerDataExchange/US_Core_Profiles/AllergyIntolerance.json
  docs/rest/PayerDataExchange/US_Core_Profiles/CarePlan.json
  docs/rest/PayerDataExchange/US_Core_Profiles/CareTeam.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Condition.json
  docs/rest/PayerDataExchange/US_Core_Profiles/DiagnosticReport-Lab.json
  docs/rest/PayerDataExchange/US_Core_Profiles/DiagnosticReport-Note.json
  docs/rest/PayerDataExchange/US_Core_Profiles/DocumentReference.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Encounter.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Goal.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Immunization.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Implantable-Device.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Location.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Medication.json
  docs/rest/PayerDataExchange/US_Core_Profiles/MedicationRequest.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Observation-Lab.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Organization.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Patient.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Practitioner.json
  docs/rest/PayerDataExchange/US_Core_Profiles/PractitionerRole.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Procedure.json
  docs/rest/PayerDataExchange/US_Core_Profiles/Provenance.json
  docs/rest/PayerDataExchange/US_Core_Profiles/bodyheight.json
  docs/rest/PayerDataExchange/US_Core_Profiles/bodytemp.json
  docs/rest/PayerDataExchange/US_Core_Profiles/bodyweight.json
  docs/rest/PayerDataExchange/US_Core_Profiles/bp.json
  docs/rest/PayerDataExchange/US_Core_Profiles/headcircum.json
  docs/rest/PayerDataExchange/US_Core_Profiles/heartrate.json
  docs/rest/PayerDataExchange/US_Core_Profiles/pediatric-bmi-for-age.json
  docs/rest/PayerDataExchange/US_Core_Profiles/pediatric-weight-for-height.json
  docs/rest/PayerDataExchange/US_Core_Profiles/pulse-oximetry.json
  docs/rest/PayerDataExchange/US_Core_Profiles/resprate.json
  docs/rest/PayerDataExchange/US_Core_Profiles/smokingstatus.json
  docs/rest/PayerDataExchange/US_Core_Profiles/vitalsign.json
  docs/rest/PayerDataExchange/membermatch.http
Labels: Azure API for FHIR, Documentation, Enhancement

#2004 SearchRevInclude and SearchInclude in capability statement.
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
Labels: Azure API for FHIR, Enhancement

#1995 Update export pipeline to restart app
  build/export-pipeline.yml
  build/jobs/restart-webapp.yml
Labels: Enhancement-Test

#2005 Fix case where all detected changes are from another instance starting
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
Labels: Bug

#1977 Add example files for export and search
  docs/rest/ConditionalDeleteRequests.http
  docs/rest/Data/ConditionalDeletePatient.json
  docs/rest/Data/CustomSearchPatient.json
  docs/rest/Data/CustomSearchSearchParameter.json
  docs/rest/Data/CustomSearchSearchParameter2.json
  docs/rest/Data/ExportDataBatch.json
  docs/rest/Data/ReindexObservation.json
  docs/rest/Data/ReindexPatient.json
  docs/rest/Data/ReindexSearchParameter.json
  docs/rest/Data/SearchDataBatch.json
  docs/rest/ExportRequests.http
  docs/rest/HowToUseVSCodeRestClient.md
  docs/rest/ReindexFlowResourceBase.http
  docs/rest/SearchExamples.http
  docs/rest/customSearchExample.http
Labels: Area-Documents

#2009 Create Files for DaVinci Plan Net (part 1)
  docs/rest/DaVinciPlanNet/DaVinci_PlanNet.http
  docs/rest/DaVinciPlanNet/DaVinci_PlanNet_Overview.md
  docs/rest/DaVinciPlanNet/DaVinci_PlanNet_Sample_Resources.http
  docs/rest/DaVinciPlanNet/Extensions/Accessibility.json
  docs/rest/DaVinciPlanNet/Extensions/CommunicationProficiency.json
  docs/rest/DaVinciPlanNet/Extensions/ContactPointAvailableTime.json
  docs/rest/DaVinciPlanNet/Extensions/DeliveryMethod.json
  docs/rest/DaVinciPlanNet/Extensions/EndpointUsecase.json
  docs/rest/DaVinciPlanNet/Extensions/LocationReference.json
  docs/rest/DaVinciPlanNet/Extensions/NetworkReference.json
  docs/rest/DaVinciPlanNet/Extensions/NewPatients.json
  docs/rest/DaVinciPlanNet/Extensions/OrgDescription.json
  docs/rest/DaVinciPlanNet/Extensions/PractitionerQualification.json
  docs/rest/DaVinciPlanNet/Extensions/Qualification.json
  docs/rest/DaVinciPlanNet/Extensions/ViaIntermediary.json
  docs/rest/DaVinciPlanNet/Profiles/Location.json
  docs/rest/DaVinciPlanNet/Profiles/Network.json
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceCategory.json
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceCoverageArea.json
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceEndpoint.json
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceLocation.json
  docs/rest/DaVinciPlanNet/SearchParameters/InsurancePlanCoverageArea.json
  docs/rest/DaVinciPlanNet/SearchParameters/InsurancePlanPlanType.json
  docs/rest/DaVinciPlanNet/SearchParameters/OrganizationAffiliationNetwork.json
  docs/rest/DaVinciPlanNet/SearchParameters/OrganizationCoverageArea.json
  docs/rest/DaVinciPlanNet/SearchParameters/PractitionerRoleNetwork.json
Labels: Azure API for FHIR, Documentation

#2015 Fixes schema version 12 compatibility
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SqlServerSearchParameterStatusDataStore.cs
Labels: Bug

#2000 Add capability statement for patient-everything
  src/Microsoft.Health.Fhir.Core/Features/Operations/OperationsConstants.cs
  src/Microsoft.Health.Fhir.R4.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.R5.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Stu3.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.ValueSets/OperationTypes.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/MetadataTests.cs
Labels: Azure API for FHIR, Bug

#2008 Add OperationOutcome for unsupported parameters in patient-everything
  src/Microsoft.Health.Fhir.Core/Messages/Everything/EverythingOperationRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/EverythingControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/EverythingController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/EverythingOperationHandler.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/EverythingOperationTests.cs
Labels: Azure API for FHIR, Enhancement

#2010 Don't delete resources in tests.
  src/Microsoft.Health.Fhir.Shared.Client/FhirClientExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ServerProvideProfileValidation.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/NumberSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/NumberSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/QuantitySearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/QuantitySearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ReferenceSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ReferenceSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/TokenSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/TokenSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ValidateTestFixture.cs
Labels: Enhancement

#2023 Don't ignore parse error in partial date time binder
  src/Microsoft.Health.Fhir.Api/Features/Binders/PartialDateTimeBinder.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TaskHostingTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ExportTests.cs
Labels: Azure API for FHIR, Bug

#2029 Unique search parameter collection in tests.
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterSupportResolverTests.cs
Labels: Bug

#1987 Adds /doc/rest to GeoPol exclude list
  GeoPol.xml
Labels: Enhancement

#1988 Prevent 500 for too big post request
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Azure API for FHIR, Bug

#2041 Update Files for DaVinci Plan Net
  docs/rest/DaVinciPlanNet/DaVinci_PlanNet.http
  docs/rest/DaVinciPlanNet/DaVinci_PlanNet_Sample_Resources.http
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceCategory.json
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceCoverageArea.json
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceEndpoint.json
  docs/rest/DaVinciPlanNet/SearchParameters/HealthcareServiceLocation.json
  docs/rest/DaVinciPlanNet/SearchParameters/OrganizationAffiliationNetwork.json
  docs/rest/DaVinciPlanNet/SearchParameters/OrganizationCoverageArea.json
  docs/rest/DaVinciPlanNet/SearchParameters/PractitionerRoleNetwork.json
Labels: Azure API for FHIR, Documentation

#2049 Include additional parameters to Reindex-Status-Query output
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ReindexControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
Labels: Enhancement

#2045 Added status to bundle response
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleSerializerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleSerializer.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
Labels: Bug

#2050 Bumps healthcare-shared-package-version and add transaction in initialization SQL Script
  Directory.Build.props
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/13.sql
Labels: Enhancement

#2048 Don't crash on PUT if no search parameter exist
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/CreateOrUpdateSearchParameterBehavior.cs
Labels: Azure API for FHIR, Bug

#2046 Enable patient-everything in SQL Server
  src/Microsoft.Health.Fhir.R4.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.R5.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/PatientEverythingService.cs
  src/Microsoft.Health.Fhir.Stu3.Api/Features/Operations/OperationsCapabilityProvider.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/EverythingOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/MetadataTests.cs
Labels: Azure API for FHIR, Enhancement

#2042 Add artifact store in configuration
  src/Microsoft.Health.Fhir.Api/Configs/FhirServerConfiguration.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core/Configs/ArtifactStoreConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/ArtifactStore/OciArtifactInfo.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ConvertDataControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ConvertDataController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConvertDataTests.cs
Labels: Azure API for FHIR, Enhancement

#2053 Update PercentComplete to display 1/10th of the Progress for reindexing
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobRecord.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ReindexControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
Labels: Bug

#2062 Fix search for composite token-number-number in SQL.
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/TokenNumberNumberQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Bug
