Repository microsoft/fhir-server, pull requests merged in 2021-07, with the labels that each got.

#2064 Refine error logging level in convert data requests
  src/Microsoft.Health.Fhir.Azure/ContainerRegistry/AzureContainerRegistryAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ContainerRegistryTemplateProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ConvertDataEngine.cs
Labels: Azure API for FHIR, Tech-Debt

#2074 Fix link to fhir-proxy project in README.md
  README.md
Labels: Area-Documents

#2061 Logs when search parameter statuses change
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
Labels: Enhancement

#2085 Disable auth tests to unblock build pipeline
  build/jobs/provision-deploy.yml
  build/jobs/run-pr-tests.yml
  build/pr-pipeline.yml
  release/scripts/PowerShell/FhirServerRelease/Private/Grant-ClientAppAdminConsent.ps1
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TransactionTests.cs
Labels: Enhancement-Test

#2087 Upgrade anonymizer nuget
  build/jobs/run-pr-tests.yml
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.Stu3.Core/Microsoft.Health.Fhir.Stu3.Core.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AnonymizedExportTests.cs
Labels: Azure API for FHIR, Bug

#2080 Dependabot/nuget/fluent validation 10.2.3
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Core/Features/Operations/Validate/ValidateResourceOperationValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/FhirPrimitiveTypes/IdValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/NarrativeValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceContentValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceElementValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceProfileValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ValidateRequestPreProcessor.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.R4.Api/Microsoft.Health.Fhir.R4.Api.csproj
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.R5.Api/Microsoft.Health.Fhir.R5.Api.csproj
  src/Microsoft.Health.Fhir.R5.Core/Microsoft.Health.Fhir.R5.Core.csproj
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Create/CreateResourceValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Validation/FhirPrimitiveTypes/IdValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Validation/Narratives/NarrativeValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Validation/ValidateRequestPreProcessorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeleteResourceValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Get/GetResourceValidator.cs
  src/Microsoft.Health.Fhir.Stu3.Api/Microsoft.Health.Fhir.Stu3.Api.csproj
  src/Microsoft.Health.Fhir.Stu3.Core/Microsoft.Health.Fhir.Stu3.Core.csproj
  src/Microsoft.Health.Fhir.ValueSets/Microsoft.Health.Fhir.ValueSets.csproj
  src/Microsoft.Health.TaskManagement/Microsoft.Health.TaskManagement.csproj
Labels: Dependencies

#2054 Resource change data store (SQL)
  src/Microsoft.Health.Fhir.Core/Models/ResourceChangeData.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/ChangeFeed/SqlServerFhirResourceChangeDataStoreTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ChangeFeed/SqlServerFhirResourceChangeDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.resx
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Azure API for FHIR

#2017 Features/patch
  docs/rest/ConditionalDeleteRequests.http
  docs/rest/Data/R4ExamplePatient.json
  docs/rest/PatchRequests.http
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateFormatParametersAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Formatters/IFormatParametersValidator.cs
  src/Microsoft.Health.Fhir.Core/Data/R4/BaseCapabilities.json
  src/Microsoft.Health.Fhir.Core/Data/R5/BaseCapabilities.json
  src/Microsoft.Health.Fhir.Core/Data/Stu3/BaseCapabilities.json
  src/Microsoft.Health.Fhir.Core/Exceptions/RequestNotValidException.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/Models/ListedCapabilityStatement.cs
  src/Microsoft.Health.Fhir.Core/Messages/Patch/PatchResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FormatParametersValidator.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/FhirMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/PatchResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Microsoft.Health.Fhir.Shared.Core.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/PatchTests.cs
Labels: Azure API for FHIR, New Feature

#2075 Event agent checkpointing with SQL
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/15.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/15.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Azure API for FHIR

#2098 Unblock integration tests
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureDisabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerTaskConsumerTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerTaskManagerTests.cs
Labels: Bug, Build

#2099 Adds final reindex count check
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Enhancement

#2096 Refine JsonSerializer To Disable Implicit Resource Validation
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Export/ResourceToNdjsonBytesSerializerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Export/ResourceToNdjsonBytesSerializer.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/InvalidObservation.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/InvalidObservation.json
Labels: Azure API for FHIR, Enhancement

#2104 Add tests for anonymizer unit tests
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Export/ExportAnonymizerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.shproj
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
Labels: Enhancement-Test

#2105 Build: Update client app admin consent flow
  build/jobs/run-pr-tests.yml
  build/pr-pipeline.yml
  release/scripts/PowerShell/FhirServerRelease/Private/Grant-ClientAppAdminConsent.ps1
  release/scripts/PowerShell/FhirServerRelease/Private/Grant-ClientAppDelegatedPermissions.ps1
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
Labels: Enhancement-Test

#2115 update anonymized export e2e tests category
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AnonymizedExportTests.cs
Labels: Azure API for FHIR, Enhancement-Test

#2123 Bump converter package to 4.1.154.5
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
Labels: Azure API for FHIR, Dependencies

#2120 Refactoring related to continuation token.
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Extensions/SearchServiceExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ContinuationTokenConverter.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/BundleFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/PatientEverythingService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ServerProvideProfileValidation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/ContinuationToken.cs
Labels: Enhancement

#2106 Retry 503 error from Cosmos DB
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosFhirDataStoreTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Microsoft.Health.Fhir.CosmosDb.UnitTests.csproj
  src/Microsoft.Health.Fhir.CosmosDb/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosExceptionExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/RetryExceptionPolicyFactory.cs
Labels: Azure API for FHIR, Bug

#2132 Custom Search tests should be marked as Skippable facts
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Bug
