Repository microsoft/fhir-server, pull requests merged in 2021-08, with the labels that each got.

#2130 Break cycle dependency between search service and search definition manager
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Models/SearchParameterInfo.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement-Refactor

#2141 Set max item count in search options in SearchParameterDefinitionManager
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
Labels: Bug

#2179 add import doc
  docs/BulkImport.md
  docs/images/bulk-import/arm-template-portal.png
  docs/images/bulk-import/set-initmode.png
Labels: Dependencies, Azure API for FHIR
