Repository microsoft/fhir-server, pull requests merged in 2022-05, with the labels that each got.

#2579 Removed invalid architectures link from README
  README.md
Labels: Bug, Area-Documents

#2568 Add check for null or short length raw resource
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/31.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/31.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/Resource.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerFhirDataBulkOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
Labels: Bug, Azure Healthcare APIs

#2578 Handle missing rawResource
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/ResourceActionResult.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/PartialDataExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/MissingResourceFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.resx
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Bug, Azure Healthcare APIs

#2591 Update quickstarts and minor docs spruces
  README.md
  docs/BashDeployment.md
  docs/CodeReviewRulesOfThumb.md
  docs/QuickstartDeployCLI.md
  docs/QuickstartDeployPortal.md
  docs/QuickstartDeployPowershell.md
  docs/Register-Client-Application.md
  docs/Register-Resource-Application.md
  docs/Testing-Releases.md
  docs/Versioning.md
  src/Microsoft.Health.Fhir.SqlServer/readme.md
Labels: Area-Documents

#2618 [Tests] Add operation ID as part of FHIR exception message
  src/Microsoft.Health.Fhir.Shared.Client/FhirException.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BasicAuthTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Enhancement-Test

#2378 Allow dependabot to update GH Actions + Docker
  .github/dependabot.yml
Labels: Dependencies, Build

#2621 Change import resource version from 0 => 1
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportResourceSqlExtentions.cs
Labels: Bug, Azure Healthcare APIs

#2569 SqlException handling at the Request level
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Core/Exceptions/ResourceSqlException.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/ResourceSqlTruncateException.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ChangeFeed/SqlServerFhirResourceChangeDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.resx
Labels: Enhancement

#2628 Change to infinit rerty for orchestrator task
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/CreateImportRequestHandler.cs
Labels: Enhancement-Optimization, Azure Healthcare APIs

#2626 Remove unique index on Resource.ResourceSurrogateId
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImportOperation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/34.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/34.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/EventLog.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/Resource.sql
Labels: Enhancement-Optimization, Azure Healthcare APIs
