Repository microsoft/fhir-server, pull requests merged in 2022-01, with the labels that each got.

#2411 Remove duplicate search parameters
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapperFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchIndexEntry.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/CompositeSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/DateTimeSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/NumberSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/QuantitySearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/ReferenceSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/StringSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/TokenSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/UriSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/TypedElementSearchIndexer.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/TypedElementSearchIndexerTests.cs
Labels: Bug, Azure Healthcare APIs

#2404 Fix CI deploy pipeline
  build/ci-deploy.yml
Labels: Build

#2432 CustomSearchTest will sometimes fail when writing out delete exception
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Bug, Enhancement-Test

#2423 Adds versioned update test flow
  docs/rest/VersionedUpdateExample.http
Labels: Enhancement-Test

#2430 Rewrite CompartmentSearch to main search index in Cosmos
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Expressions/CompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Expressions/ICosmosExpressionRewriter.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Bug, Area-CosmosDB, Azure API for FHIR

#2436 Case insensitive distinct for token text import
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportResourceParser.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/TokenTextSearchParamsTableBulkCopyDataGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/DataGeneratorsTests.cs
Labels: Enhancement, Azure Healthcare APIs

#2412 Add fix for URL search
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/Registry/SearchParameterStatusManagerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/ISearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchableSearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SupportedSearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/CosmosDbSearchParameterStatusInitializer.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Definition/SearchParameterDefinitionBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexUtilitiesTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Expressions/Parsers/SearchValueExpressionBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchConverterForAllSearchTypes.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/PatientEverythingService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterValidator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SearchParameterStatusCollection.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SqlServerSearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/SearchParameterStatusV1RowGenerator.cs
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameter-AppointmentStatus.json
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2429 Add bundle notification
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleMetricsNotification.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#2452 Fix output format for custom search tests
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Bug

#2447 add import metric notification
  src/Microsoft.Health.Fhir.Api/Features/BackgroundTaskService/TaskFactory.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportOrchestratorTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorTaskContext.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportTaskMetricsNotification.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/StartupForImportTestProvider.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs
