Repository microsoft/fhir-server, pull requests merged in 2022-11, with the labels that each got.

#2915 Add same resource as compartment definition to SMART results
  docs/rest/Data/SmartCompartmentResources.json
  docs/rest/SMARTScopesExample.http
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Context/FhirUserClaimParserTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/FhirUserClaimParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/RoleBasedFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/SMARTScopeFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#2928 SmartClinicalScopeMiddleware should check if security is enabled/disabled
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Labels: Bug

#2922 SqlConnection pooling is sometimes preventing test databases from being deleted.
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
Labels: Enhancement-Test

#2911 Retry sql deadlocks on UpsertAsync
  src/Microsoft.Health.Fhir.Core/Exceptions/TransactionDeadlockException.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/OperationOutcomeExceptionFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Bug, Azure API for FHIR

#2931 Hotfix for token search issue
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/TokenQueryGenerator.cs
Labels: Bug, Azure Healthcare APIs

#2929 Expand smart patient compartment
  docs/rest/SMARTScopesExample.http
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/CompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/DefaultExpressionVisitor.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ExpressionRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/IExpressionVisitor.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/SmartCompartmentSearchExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/SmartCompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Shared.Web/DevelopmentIdentityProviderRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SearchParamTableExpressionQueryGeneratorFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CreateExportRequestHandlerTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  testauthenvironment.json
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#2896 [SMART] US Core - Data missing requirement
  docs/rest/USCoreExamples.http
  src/Microsoft.Health.Fhir.Api/Configs/FhirServerConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/ImplementationGuidesConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/USCoreConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Compartment/SearchCompartmentHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/DataResourceFilter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/FilterCriteriaException.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/FilterCriteriaOutcome.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Filters/IFilterCriteria.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Filters/MissingDataFilterCriteria.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/IDataResourceFilter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchResult.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4B.Core.UnitTests/Microsoft.Health.Fhir.R4B.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Microsoft.Health.Fhir.R5.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Compartment/SearchCompartmentHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Everything/EverythingOperationHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/DataResourceFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Filters/MissingDataFilterCriteriaTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchResourceHistoryHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/USCoreTestHelper.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/TestFiles/USCoreMissinData-JsonCompliantSamples.json
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/TestFiles/USCoreMissinData-JsonNonCompliantSamples.json
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/TestFiles/USCoreMissinData-XmlCompliantSamples.xml
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/TestFiles/USCoreMissinData-XmlNonCompliantSamples.xml
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/EverythingOperationHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Get/GetResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchResourceHistoryHandler.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: New Feature, Azure API for FHIR, Area-SMART, Azure Healthcare APIs

#2733 Add US Core v3 resources & HTTP requests to run Inferno US Core tests
  docs/rest/Inferno/Inferno.http
  docs/rest/Inferno/V3.1.1_USCoreCompliantResources.json
Labels: Area-SMART

#2933 Tracing added for Smart code
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#2925 Revised error messages sent to customers
  src/Microsoft.Health.Fhir.Core/Exceptions/LoginFailedForUserException.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/OperationOutcomeExceptionFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
Labels: Bug, Azure API for FHIR

#2934 Handle the GET resource by ID case, and improve (rev)include
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/IncludeExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/IExpressionParser.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryBuilder.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Get/GetResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: Azure API for FHIR, Area-SMART, Azure Healthcare APIs

#2932 Fix SqlServerIndexesRebuildTests
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerIndexesRebuildTests.cs
Labels: Bug

#2942 Revert export parallel changes
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/HostingBackgroundService.cs
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/JobFactory.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Models/PartialDateTimeTests.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/group-export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/patient-export.json
  src/Microsoft.Health.Fhir.Core/Extensions/ExportMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/IExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/CreateImportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJobInputData.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportProcessingJobInputData.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobType.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/DateTimeSearchValue.cs
  src/Microsoft.Health.Fhir.Core/Messages/Export/CreateExportRequest.cs
  src/Microsoft.Health.Fhir.Core/Models/PartialDateTime.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ExportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/PatientEverythingService.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Search/SearchValueValidationHelper.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetResourcesByTypeAndSurrogateIdRange.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestJob.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestQueueClient.cs
  src/Microsoft.Health.TaskManagement/Constants.cs
  src/Microsoft.Health.TaskManagement/IJob.cs
  src/Microsoft.Health.TaskManagement/IJobData.cs
  src/Microsoft.Health.TaskManagement/JobExecutionException.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  src/Microsoft.Health.TaskManagement/JobInfoExtensions.cs
  src/Microsoft.Health.TaskManagement/JobTypeIdAttribute.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AnonymizedExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ExportTests.cs
Labels: Bug, Azure Healthcare APIs

#2951 Use AS SELF
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/42.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/42.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/43.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetIndexCommands.sql
Labels: Bug, Azure Healthcare APIs

#2955 If the fhirUser claim not present, look for fhirUser in custom header
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Configs/AuthorizationConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Labels: New Feature, Azure API for FHIR, Area-SMART, Azure Healthcare APIs

#2959 PutJobHeartbeatFireAndForget exceptions should be handled
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlQueueClientTests.cs
Labels: Enhancement, Enhancement-Test

#2952 [REST Samples] Added new block with a clear option to run a SMART request
  docs/rest/USCoreExamples.http
Labels: Enhancement, Documentation, Azure API for FHIR, Area-SMART, Azure Healthcare APIs

#2960 Expand JSON Dictionaries from EnvVar overrides
  src/Microsoft.Health.Fhir.Api/Features/Binders/DictionaryExpansionConfigurationProvider.cs
  src/Microsoft.Health.Fhir.Api/Features/Binders/GenericConfigurationSource.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Binders/DictionaryExpansionConfigurationProviderTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Web/Program.cs
Labels: Bug, Enhancement

#2985 Bump Microsoft.Health.Fhir.Liquid.Converter from 5.0.5.5 to 5.1.0.7
  Directory.Packages.props
  build/pr-variables.yml
Labels: Dependencies, Azure API for FHIR, Azure Healthcare APIs
