Repository microsoft/fhir-server, pull requests merged in 2022-06, with the labels that each got.

#2645 Adds test for long decimal values
  Directory.Build.props
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CreateTests.cs
Labels: Bug, Azure Healthcare APIs

#2646 Add blame to hanging tests
  build/jobs/e2e-tests.yml
  build/jobs/run-tests.yml
Labels: Enhancement-Test

#2596 Sql Search performance improvements
  src/Microsoft.Health.Fhir.Core/Features/Operations/ICompressedRawResourceConverter.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/SqlCommandSimplifierTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Storage/CompressedRawResourceConverterTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlCommandSimplifier.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/CompressedRawResourceConverter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Area-Search, Enhancement-Optimization, Azure Healthcare APIs

#2619 Support ACR in Anonymized Export
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Azure.UnitTests/AnonymizationConfigurationArtifactProviderTests.cs
  src/Microsoft.Health.Fhir.Azure.UnitTests/Microsoft.Health.Fhir.Azure.UnitTests.csproj
  src/Microsoft.Health.Fhir.Azure/AnonymizationConfigurationArtifactProvider.cs
  src/Microsoft.Health.Fhir.Azure/ExportDestinationArtifactProvider.cs
  src/Microsoft.Health.Fhir.Azure/FhirServerBuilderAzureRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Azure/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Azure/Resources.resx
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/ExportJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Extensions/ExportMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportTaskMetricsNotification.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/IAnonymizerFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/IArtifactProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Messages/Export/CreateExportRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ExportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Export/ExportAnonymizerFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Export/ExportAnonymizerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Operations/Export/ExportAnonymizerFactory.cs
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.shproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AnonymizedExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AnonymizedExportUsingAcrTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#2595 Update Blob storage library
  src/Microsoft.Health.Fhir.Azure.UnitTests/ExportDestinationClient/AzureAccessTokenClientInitializerTests.cs
  src/Microsoft.Health.Fhir.Azure.UnitTests/ExportDestinationClient/AzureConnectionStringClientInitializerTests.cs
  src/Microsoft.Health.Fhir.Azure.UnitTests/ExportDestinationClient/AzureExportDestinationClientTests.cs
  src/Microsoft.Health.Fhir.Azure.UnitTests/ExportDestinationClient/CloudBlockBlobWrapperTests.cs
  src/Microsoft.Health.Fhir.Azure.UnitTests/ExportDestinationClient/OrderedSetOfBlockIdsTests.cs
  src/Microsoft.Health.Fhir.Azure/AnonymizationConfigurationArtifactProvider.cs
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureAccessTokenClientInitializer.cs
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureConnectionStringClientInitializer.cs
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/CloudBlockBlobWrapper.cs
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/OrderedSetOfBlockIds.cs
  src/Microsoft.Health.Fhir.Azure/FhirServerBuilderAzureRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Azure/Microsoft.Health.Fhir.Azure.csproj
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportFileManagerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/InMemoryExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportDestinationClient/IExportClientInitializer.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportDestinationClient/IExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportFileManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/IResourceToByteArraySerializer.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportFileInfo.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Export/ResourceToNdjsonBytesSerializer.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AnonymizedExportTests.cs
Labels: Enhancement, Area-BulkExport, Azure API for FHIR, Azure Healthcare APIs

#2648 Fix SQL export queuing
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CreateExportRequestHandlerTests.cs
Labels: Bug, Area-BulkExport, Azure Healthcare APIs

#2632 Enable parallel jobs per instance
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/ExportJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/IFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/CosmosFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/AcquireExportJobs/AcquireExportJobs.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/AcquireExportJobs/acquireExportJobs.js
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/35.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/35.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/JobQueue.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreExportTests.cs
Labels: Enhancement, Area-BulkExport, Azure API for FHIR, Azure Healthcare APIs

#2658 Fix version in 35
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/35.sql
Labels: Area-SQL, Azure Healthcare APIs

#2656 Add container logo
  docs/images/container-logo.svg
Labels: Area-Documents

#2471 Deprecate OperationOutcome location
  src/Microsoft.Health.Fhir.Core/Features/Validation/NarrativeValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceNotValidException.cs
  src/Microsoft.Health.Fhir.Core/Models/OperationOutcomeIssue.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/ValidateResourceIdFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ModelExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ProfileValidator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ValidateTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#2654 Fix PR Build and Deploy pipeline intermittent Integration test failures.
  build/jobs/e2e-tests.yml
  build/jobs/run-tests.yml
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSqlCompatibilityTests.cs
Labels: Bug-Reliability, Build

#2671 Fix for deadlocks happening in export tests causing test runner to fail
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Bug-Reliability, Build

#2673 Update heartbeat timeout and interval
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.TaskManagement/Constants.cs
Labels: Enhancement, Azure Healthcare APIs

#2647 Authentication library decoupling
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Api/Modules/SecurityModule.cs
  src/Microsoft.Health.Fhir.Core/Configs/SecurityConfiguration.cs
  src/Microsoft.Health.Fhir.R4.Web/Microsoft.Health.Fhir.R4.Web.csproj
  src/Microsoft.Health.Fhir.R5.Web/Microsoft.Health.Fhir.R5.Web.csproj
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Stu3.Web/Microsoft.Health.Fhir.Stu3.Web.csproj
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#2680 Fix queries with the "_sort" operator
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Labels: Bug

#2620 Retain DateTimeOffset when parsing JsonPatchDocuments
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/FhirPathPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/JsonPatchTests.cs
Labels: Bug

#2672 Update to healthcare-shared-components 6.1.61, to avoid 128 character limit
  Directory.Build.props
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/TestAuthenticationHttpMessageHandler.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/TestFhirClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestFhirServer.cs
Labels: Bug, Area-SQL, Azure Healthcare APIs
