Repository microsoft/fhir-server, pull requests merged in 2022-12, with the labels that each got.

#2994 [Service Setup] [Fix] Add new tryparse logic to validate configurations in JSON format
  src/Microsoft.Health.Fhir.Api/Features/Binders/DictionaryExpansionConfigurationProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Binders/DictionaryExpansionConfigurationProviderTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3003 Fix container issue
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirOperationDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreExportTests.cs
Labels: Bug, Azure Healthcare APIs

#3017 Fix use of null-conditional operator and await statements
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/BundleFactoryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureDisabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Bug

#2978 refactor generated sql for 8623 error
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/MemberMatch.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/sql_8623_script.sql
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/MemberMatch.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/StringSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerMemberMatchTests.cs
Labels: Bug, Azure API for FHIR

#3014 [Perf] Memory management improvements.
  src/Microsoft.Health.Fhir.Azure/ContainerRegistry/AzureContainerRegistryAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureBlobSourceStream.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportErrorStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ContinuationTokenConverter.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosResponseProcessorTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosHealthCheck.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/ICosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CollectionInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosClientReadWriteTestProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosContainerProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosDbCollectionPhysicalPartitionInfo.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseMessage.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosResponseHandler.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/ICollectionInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/ICosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/ICosmosClientTestProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Formatters/JsonArrayPoolTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/JsonArrayPool.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Security/SecurityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportResourceParser.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Enhancement, Bug-Performance, Azure API for FHIR, Azure Healthcare APIs

#3020 97938 Controller method parameter name mismatch
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateParametersResourceAttribute.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3027 Fix startup exception
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/JobFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Bug, Azure Healthcare APIs

#2998 avoid duplicate key (x-ms-retry-after-ms) exception
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/ResourceActionResult.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/ActionResults/FhirResultTests.cs
Labels: Bug

#2990 fix to handle chained contains query
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SqlExpressionRewriter.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchDataBatch.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/StringSearchTests.cs
Labels: Bug, Azure API for FHIR

#3037 Revised OperationOutcome message when identifier missing
  src/Microsoft.Health.Fhir.Core/Extensions/SearchServiceExtensions.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ConditionalResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Create/ConditionalCreateResourceValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ConditionalDeleteResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ConditionalDeleteResourceValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Upsert/ConditionalUpsertResourceValidator.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Bundle-MissingIdentifier.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalUpdateTests.cs
Labels: Bug, Azure API for FHIR
