Repository microsoft/fhir-server, pull requests merged in 2022-10, with the labels that each got.

#2844 Use common reindex job check
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/TokenOverflowTests.cs
Labels: Bug

#2842 $member-match exception handling updates
  src/Microsoft.Health.Fhir.Core/Exceptions/SqlQueryPlanException.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/MemberMatch/MemberMatchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2812 [BugFix][HTTP][ASP.NET] Fix encoded query string parameters handling
  src/Microsoft.Health.Fhir.Api/Extensions/HttpRequestExtensions.cs
  src/Microsoft.Health.Fhir.SchemaManager.UnitTests/Microsoft.Health.Fhir.SchemaManager.UnitTests.csproj
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Extensions/HttpRequestExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Tests/HttpFhirUtility.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Microsoft.Health.Fhir.Shared.Tests.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSortAndSearchValidationTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/EscapeCharactersSearchTests.cs
Labels: Bug, Area-API, Azure API for FHIR, Azure Healthcare APIs

#2848 Update smart middleware to use security config
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Labels: Bug

#2727 Rebuild Metadata
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ISupportedProfilesStore.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/ValidationModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/ConformanceBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/IProvideProfilesForValidation.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2858 [Tests] Improve FhirException details during pipeline executions
  src/Microsoft.Health.Fhir.Shared.Client/FhirException.cs
Labels: Enhancement, Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs

#2860 Fix dupliate profile issue in SQL
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2835 Correct the Canonical URL for the validate operation
  src/Microsoft.Health.Fhir.ValueSets/OperationTypes.cs
Labels: Specification, Azure API for FHIR, Azure Healthcare APIs

#2856 Removes FHIR Client's dependency on API project
  src/Microsoft.Health.Fhir.R4.Client/Microsoft.Health.Fhir.R4.Client.csproj
  src/Microsoft.Health.Fhir.R4B.Client/Microsoft.Health.Fhir.R4B.Client.csproj
  src/Microsoft.Health.Fhir.R5.Client/Microsoft.Health.Fhir.R5.Client.csproj
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Stu3.Client/Microsoft.Health.Fhir.Stu3.Client.csproj
Labels: Enhancement-Refactor

#2865 Export tests can extract zip
  build/jobs/e2e-tests-extract.yml
  build/jobs/e2e-tests.yml
  build/jobs/run-export-tests.yml
Labels: Build

#2866 Add fix for dispose
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2871 Use Sql ErrorCode const instead of hard coding
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
Labels: Enhancement

#2870 Addressing Brendan and Pallavi comments on PR 2741
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BatchTests.cs
Labels: Bug

#2863 93624: Removed versionId from fullURL as per FHIR Spec
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
Labels: Bug

#2874 Origin/feature/smart/rajitha/restrict resource type
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/RoleBasedFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/SMARTScopeFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Security/Authorization/RoleBasedFhirAuthorizationServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
Labels: New Feature, Azure API for FHIR

#2878 Fixes PatchResourceHandler to pass through client supplied Etag
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/PatchResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/PatchResourceHandler.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2882 Adds badge for prod version
  README.md
Labels: Documentation

#2876 Test discovery errors
  src/Microsoft.Health.Extensions.Xunit/Microsoft.Health.Extensions.Xunit.csproj
  src/Microsoft.Health.Extensions.Xunit/NotTest.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/NotTest.cs
Labels: Bug

#2875 Restrict FHIR queries according to clinical scope
  docs/rest/Data/SmartCompartmentResources.json
  docs/rest/SMARTScopesExample.http
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core/Configs/AuthorizationConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/AccessControlContext.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/RoleBasedFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/SMARTScopeFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Security/Authorization/RoleBasedFhirAuthorizationServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Microsoft.Health.Fhir.Shared.Core.projitems
  src/Microsoft.Health.Fhir.Shared.Web/DevelopmentIdentityProviderRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.Shared.Web/roles.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/TestApplications.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  testauthenvironment.json
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#2892 Handle canceled requests
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/OperationOutcomeExceptionFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
Labels: Bug, Azure API for FHIR

#2895 Add integration tests for enforcing SMART scopes
  docs/rest/SMARTScopesExample.http
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Expressions/Parsers/ExpressionParserTests.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Microsoft.Health.Fhir.R4.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R4B.Tests.Integration/Microsoft.Health.Fhir.R4B.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Microsoft.Health.Fhir.R5.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Microsoft.Health.Fhir.Stu3.Tests.Integration.csproj
  tools/Microsoft.Health.Fhir.R4.ResourceParser/ResourceWrapperParser.cs
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#2913 Use DataAction check to test for Smart user status
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Configs/AuthorizationConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/AccessControlContext.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/FhirUserClaimParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/Authorization/SMARTScopeFhirAuthorizationService.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/DataActions.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/roles.schema.json
  src/Microsoft.Health.Fhir.Core/Models/KnownResourceTypes.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Security/Authorization/RoleBasedFhirAuthorizationServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Shared.Web/roles.json
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2909 82963: Added code to check for duplicate code at base/leaf resource levels
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterValidator.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs
