Repository microsoft/fhir-server, pull requests merged in 2022-04, with the labels that each got.

#2519 Prevent no impact updates from creating version - sql
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Import/UpsertSPRelationTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/30.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/30.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpsertResource_7.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Area-SQL, Azure API for FHIR

#2547 Updating versions due to build errors
  Directory.Build.props
  build/docker/Dockerfile
  global.json
  samples/templates/default-azuredeploy.json
Labels: Dependencies

#2545 Adding support for configured SqlCommand timeout
  Directory.Build.props
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/ChangeFeed/SqlServerFhirResourceChangeDataStoreTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Import/SqlServerBulkImportOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement, Azure API for FHIR

#2549 Refactor long running SQL schema version tests to reduce runtime
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSqlCompatibilityTests.cs
Labels: Enhancement-Test, Area-SQL

#2553 Adding handling for SqlTruncate errors
  Directory.Build.props
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Models/ModelInfoProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Bundle/FhirTransactionFailedExceptionTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/ObservationWithInvalidDecimalSpecification.json
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Rest/VersionSpecificTests.cs
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Rest/VersionSpecificTests.cs
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Rest/VersionSpecificTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Persistence/FhirStorageTests.cs
Labels: Bug

#2554 Update assert condition of test GivenContinuationToken_WhenExecuted_ThenAdditionalQueryAdded
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
Labels: Bug, Enhancement-Test

#2560 Delete some resources before beginning custom search tests
  src/Microsoft.Health.Fhir.Shared.Client/FhirClientExtensions.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameter-SpecimenStatus.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Specimen.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Bug, Enhancement-Test

#2563 Add logging to identify ArgumentException
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Bug

#2557 Check if Schema is initialized before executing SQL Tasks
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerTaskConsumer.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestTaskConsumer.cs
  src/Microsoft.Health.TaskManagement/ITaskConsumer.cs
  src/Microsoft.Health.TaskManagement/TaskHosting.cs
Labels: Area-SQL
