Repository microsoft/fhir-server, pull requests merged in 2022-08, with the labels that each got.

#2723 Fix Null Reference Exception
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ImportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
Labels: Bug, Azure Healthcare APIs

#2720 Reduce SQL test runtime
  build/jobs/provision-deploy.yml
  src/Microsoft.Health.Fhir.Core/Configs/ImportTaskConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Enhancement-Test, Azure Healthcare APIs

#2731 Fixed issue where ResourceTypeOverride were not being set because of string casing issue
  src/Microsoft.Health.Fhir.Core/Configs/VersioningConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/ConformanceBuilderTests.cs
Labels: Bug, Azure Healthcare APIs

#2740 Improve import local test and small file import
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJob.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
Labels: Enhancement, Azure Healthcare APIs

#2747 Added new SP GetNonCompletedJobCountOfSpecificQueueType
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/38.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/38.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetNonCompletedJobCountOfSpecificQueueType.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Area-AKS

#2736 FHIR Schema Manager
  Directory.Build.props
  Microsoft.Health.Fhir.sln
  docs/SchemaMigrationGuide.md
  docs/schema-manager.md
  src/Microsoft.Health.Fhir.SchemaManager.UnitTests/FhirSchemaClientTests.cs
  src/Microsoft.Health.Fhir.SchemaManager.UnitTests/Microsoft.Health.Fhir.SchemaManager.UnitTests.csproj
  src/Microsoft.Health.Fhir.SchemaManager/ApplyCommand.cs
  src/Microsoft.Health.Fhir.SchemaManager/CommandCollectionExtensions.cs
  src/Microsoft.Health.Fhir.SchemaManager/CommandLineOptions.cs
  src/Microsoft.Health.Fhir.SchemaManager/CommandNames.cs
  src/Microsoft.Health.Fhir.SchemaManager/CommandOptions.cs
  src/Microsoft.Health.Fhir.SchemaManager/FhirBaseSchemaRunner.cs
  src/Microsoft.Health.Fhir.SchemaManager/FhirSchemaClient.cs
  src/Microsoft.Health.Fhir.SchemaManager/Microsoft.Health.Fhir.SchemaManager.csproj
  src/Microsoft.Health.Fhir.SchemaManager/MutuallyExclusiveOptionValidator.cs
  src/Microsoft.Health.Fhir.SchemaManager/OptionAliases.cs
  src/Microsoft.Health.Fhir.SchemaManager/Properties/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.SchemaManager/Properties/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SchemaManager/Properties/Resources.resx
  src/Microsoft.Health.Fhir.SchemaManager/README.md
  src/Microsoft.Health.Fhir.SchemaManager/SchemaManagerParserBuilder.cs
  src/Microsoft.Health.Fhir.SchemaManager/SchemaManagerServiceCollectionBuilder.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/38.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetNonCompletedJobCountOfSpecificQueueType.sql
  tools/DataStore/Microsoft.Health.Fhir.SchemaManager.Console/Microsoft.Health.Fhir.SchemaManager.Console.csproj
  tools/DataStore/Microsoft.Health.Fhir.SchemaManager.Console/Program.cs
  tools/DataStore/Microsoft.Health.Fhir.SchemaManager.Console/Properties/AssemblyInfo.cs
  tools/DataStore/Microsoft.Health.Fhir.SchemaManager.Console/Properties/launchSettings.json
  tools/DataStore/Microsoft.Health.Fhir.SchemaManager.Console/appsettings.json
Labels: Area-AKS, Area-Sql-SchemaMigration

#2755 Fix for [Component Governance Alert] - CVE-2022-34716 in System.Security.Cryptography.Xml 5.0.0
  Microsoft.Health.Fhir.sln
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
  src/Microsoft.Health.TaskManagement.UnitTests/Microsoft.Health.TaskManagement.UnitTests.csproj
  src/Microsoft.Health.TaskManagement/Microsoft.Health.TaskManagement.csproj
Labels: Bug-Security, Azure API for FHIR

#2749 Adding task delay for transitory error
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
Labels: Bug, Azure API for FHIR

#2763 SearchIndexer uses its own Expression Cache
  src/Microsoft.Health.Fhir.Core/Features/Search/TypedElementSearchIndexer.cs
Labels: Bug-Performance, Enhancement-Optimization, Azure API for FHIR, Azure Healthcare APIs

#2739 collect code coverage
  Directory.Build.props
  build/Run-Tests-WithCoverage.ps1
  build/jobs/build.yml
  build/jobs/package.yml
Labels: Build

#2779 Validation added to include _text search parameter in UnSupportedParameters List
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Bug
