Repository microsoft/fhir-server, pull requests merged in 2022-03, with the labels that each got.

#2468 Record exception if SearchParameterStatus out of sync with resource
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Bug, Enhancement-Test

#2499 Personal/peizhou/fiximportperfissue
  src/Microsoft.Health.Fhir.Core/Configs/ImportTaskConfiguration.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/DateTimeSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/NumberSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/QuantitySearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/ReferenceSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/ReferenceTokenCompositeSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/StringSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/TokenDateTimeCompositeSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/TokenNumberNumberCompositeSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/TokenQuantityCompositeSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/TokenSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/TokenStringCompositeSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/TokenTokenCompositeSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/DataGenerator/UriSearchParamsTableBulkCopyDataGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlResourceBulkImporter.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/DataGeneratorsTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlBulkImporterTests.cs
Labels: Bug-Performance, Azure Healthcare APIs

#2513 Handle search counts greater than int.MaxValue for sql and cosmos
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Azure API for FHIR

#2502 Allows Composite custom search parameters
  docs/rest/Data/CompositeCustomSearchParameter.json
  docs/rest/Data/CustomSearchPatient.json
  docs/rest/customSearchExample.http
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/CreateOrUpdateSearchParameterBehavior.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2384 Adds Sync to Devops workflow
  .github/workflows/sync-to-devops.yml
Labels: Documentation, Build

#2516 change get next tasks SP
  build/jobs/add-aad-test-environment.yml
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/29.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/29.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/CompleteTask.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetNextTask_2.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetNextTask_3.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/ResetTask.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/ResetTask_2.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TaskInfo.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerTaskConsumer.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.TaskManagement.UnitTests/TestTaskConsumer.cs
  src/Microsoft.Health.TaskManagement/ITaskConsumer.cs
  src/Microsoft.Health.TaskManagement/TaskHosting.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerTaskConsumerTests.cs
Labels: Bug, Azure Healthcare APIs
