Repository microsoft/fhir-server, pull requests merged in 2022-09, with the labels that each got.

#2776 Validation added for Target resource type for include and revinclude search options
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Bug

#2794 Sort is crashing when Organization (any resource) is searched using chained search param and sort
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ExpressionRewriter.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug

#2790 Added error message for RequestEntityTooLargeException in Export
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/RequestEntityTooLargeException.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
Labels: Bug, Azure API for FHIR

#2688 FHIRPath Patch Functionality/Test Fixes
  docs/rest/FhirPatchRequests.http
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/FhirPatchAddTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/FhirPatchBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/FhirPatchDeleteTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/FhirPatchInsertTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/FhirPatchMoveTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/FhirPatchReplaceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Patch/FhirPatchTypeTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Helpers/ElementModelExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Helpers/FhirParametersExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationAdd.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationBase.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationDelete.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationInsert.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationMove.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationReplace.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/PendingOperation.cs
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Bundle-FhirPatch.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/FhirPathPatchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2774 Fix how initial import lock works
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/Import/InitialImportLockMiddlewareTests.cs
Labels: Bug, Azure Healthcare APIs

#2803 Additional fix for Failed Export due to RequestEntityToolarge
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
Labels: Bug, Azure API for FHIR

#2797 Adds SDL analysis tools
  CredScanSuppressions.json
  build/.vsts-package-ci.yml
  build/build-variables.yml
  build/ci-pipeline.yml
  build/jobs/analyze.yml
  build/jobs/build.yml
  build/jobs/cleanup-aks.yml
  build/jobs/deploy-aks.yml
  build/jobs/package-integration-tests.yml
  build/jobs/package.yml
  build/jobs/run-tests-aks.yml
  build/pr-arm.yml
  build/pr-pipeline.yml
  build/pr-variables.yml
Labels: Build

#2785 [Bugfix] [SQL-Search] Fix SQL code generation when :not operator is included.
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/FlatteningRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/LastUpdatedToResourceSurrogateIdRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/MissingSearchParamVisitorTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/NotExpressionRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/RemoveIncludesRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/ResourceColumnPredicatePushdownRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/SearchParamTableExpressionReordererTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/SqlServerSortingValidatorTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/TypeConstraintVisitorTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/UntypedReferenceRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/HashingSqlQueryParameterManagerTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/SqlCommandSimplifierTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/SqlSesrverSearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/NotExpressionRewriter.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/Bundle-ChainingSortAndSearchValidation.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/Bundle-ChainingSortAndSearchValidation.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/Bundle-ChainingSortAndSearchValidation.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingAndSortTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSortAndSearchValidationTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IdSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/NotExpressionTests.cs
Labels: Bug, Area-Search, Area-SQL, Azure Healthcare APIs

#2806 Fixes export tests build
  build/export-pipeline.yml
Labels: Bug, Build

#2813 Updates to Central Package Management
  Directory.Build.props
  Directory.Packages.props
  Microsoft.Health.Fhir.sln
  build/docker/Dockerfile
  global.json
  nuget.config
  samples/apps/SmartLauncher/SmartLauncher.csproj
  samples/templates/default-azuredeploy.json
  src/Microsoft.Health.Extensions.Xunit/Microsoft.Health.Extensions.Xunit.csproj
  src/Microsoft.Health.Fhir.Api.UnitTests/Microsoft.Health.Fhir.R4.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Azure.UnitTests/Microsoft.Health.Fhir.Azure.UnitTests.csproj
  src/Microsoft.Health.Fhir.Azure/Microsoft.Health.Fhir.Azure.csproj
  src/Microsoft.Health.Fhir.Core.UnitTests/Microsoft.Health.Fhir.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Microsoft.Health.Fhir.CosmosDb.UnitTests.csproj
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
  src/Microsoft.Health.Fhir.R4.Api/Microsoft.Health.Fhir.R4.Api.csproj
  src/Microsoft.Health.Fhir.R4.Client/Microsoft.Health.Fhir.R4.Client.csproj
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.R4.Web/Microsoft.Health.Fhir.R4.Web.csproj
  src/Microsoft.Health.Fhir.R5.Api.UnitTests/Microsoft.Health.Fhir.R5.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Api/Microsoft.Health.Fhir.R5.Api.csproj
  src/Microsoft.Health.Fhir.R5.Client/Microsoft.Health.Fhir.R5.Client.csproj
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Microsoft.Health.Fhir.R5.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Core/Microsoft.Health.Fhir.R5.Core.csproj
  src/Microsoft.Health.Fhir.R5.Web/Microsoft.Health.Fhir.R5.Web.csproj
  src/Microsoft.Health.Fhir.SchemaManager.UnitTests/Microsoft.Health.Fhir.SchemaManager.UnitTests.csproj
  src/Microsoft.Health.Fhir.SchemaManager/Microsoft.Health.Fhir.SchemaManager.csproj
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Microsoft.Health.Fhir.SqlServer.UnitTests.csproj
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.Stu3.Api.UnitTests/Microsoft.Health.Fhir.Stu3.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Api/Microsoft.Health.Fhir.Stu3.Api.csproj
  src/Microsoft.Health.Fhir.Stu3.Client/Microsoft.Health.Fhir.Stu3.Client.csproj
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Core/Microsoft.Health.Fhir.Stu3.Core.csproj
  src/Microsoft.Health.Fhir.Stu3.Web/Microsoft.Health.Fhir.Stu3.Web.csproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.ValueSets/Microsoft.Health.Fhir.ValueSets.csproj
  src/Microsoft.Health.TaskManagement.UnitTests/Microsoft.Health.TaskManagement.UnitTests.csproj
  src/Microsoft.Health.TaskManagement/Microsoft.Health.TaskManagement.csproj
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Microsoft.Health.Fhir.R4.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Microsoft.Health.Fhir.R5.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Microsoft.Health.Fhir.R5.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Microsoft.Health.Fhir.Stu3.Tests.Integration.csproj
  tools/Exporter/Exporter.csproj
  tools/FHIRDataSynth/FHIRDataSynth.csproj
  tools/Importer/Importer.csproj
Labels: Build

#2815 Fixes internal checks
  build/.vsts-PRInternalChecks-azureBuild-pipeline.yml
  build/InternalChecksCI-azureBuild-pipeline.yml
Labels: Build

#2833 Add Private Assets back
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.R5.Core/Microsoft.Health.Fhir.R5.Core.csproj
  src/Microsoft.Health.Fhir.Stu3.Core/Microsoft.Health.Fhir.Stu3.Core.csproj
Labels: Bug

#2741 Added code to pass ProfileValidation header value to kick off profile validation in Bundles
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Profile-Patient-uscore-noGender.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Profile-Patient-uscore-noidentifier.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BatchTests.cs
Labels: Bug

#2836 Read and parse SMART clinical scopes from the claims
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextAuthenticationMiddlewareExtensions.cs
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Configs/AuthorizationConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/AccessControlContext.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/FhirRequestContext.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/IFhirRequestContext.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/ScopeRestriction.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Tests/Context/DefaultFhirRequestContext.cs
Labels: New Feature, Azure API for FHIR, Area-SMART, Azure Healthcare APIs

#2829 Check SAS Token in Import
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ImportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
Labels: Bug
