Repository microsoft/fhir-server, pull requests merged in 2022-02, with the labels that each got.

#2466 Remove primary key from tables
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Import/SqlServerBulkImportOperationTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImportOperation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/26.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/26.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/NumberSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/QuantitySearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/Resource.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/UriSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Bug, Azure Healthcare APIs

#2457 Enables PUT creates on versioned update
  docs/rest/VersionedUpdateExample.http
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IFhirDataStore.cs
  src/Microsoft.Health.Fhir.Core/Models/KnownResourceTypes.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosFhirDataStoreTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Upsert/UpsertResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Import/UpsertSPRelationTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/26.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/27.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/27.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpsertResource_6.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Medication.json
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Persistence/FhirStorageVersioningPolicyTests.cs
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Persistence/FhirStorageVersioningPolicyTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageVersioningPolicyTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Persistence/FhirStorageVersioningPolicyTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2448 Matched resources should not also be _included
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceKey.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2470 Readds core to resource path
  src/Microsoft.Health.Fhir.Core/Features/Persistence/WeakETag.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#2472 Rename HowToUseVSCodeRestClient.md to Readme.md
  docs/rest/Readme.md
Labels: Area-Documents

#2473 Updates and resolves nuget package versions
  Directory.Build.props
  src/Microsoft.Health.Fhir.Api.UnitTests/Microsoft.Health.Fhir.R4.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Azure.UnitTests/Microsoft.Health.Fhir.Azure.UnitTests.csproj
  src/Microsoft.Health.Fhir.Core.UnitTests/Microsoft.Health.Fhir.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Microsoft.Health.Fhir.CosmosDb.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4.Api/Microsoft.Health.Fhir.R4.Api.csproj
  src/Microsoft.Health.Fhir.R4.Core.UnitTests/Microsoft.Health.Fhir.R4.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.R5.Api.UnitTests/Microsoft.Health.Fhir.R5.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Api/Microsoft.Health.Fhir.R5.Api.csproj
  src/Microsoft.Health.Fhir.R5.Core.UnitTests/Microsoft.Health.Fhir.R5.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Core/Microsoft.Health.Fhir.R5.Core.csproj
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/ChangeFeed/SqlServerFhirResourceChangeDataStoreTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Import/SqlServerBulkImportOperationTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ChangeFeed/SqlServerFhirResourceChangeDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.Stu3.Api.UnitTests/Microsoft.Health.Fhir.Stu3.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Api/Microsoft.Health.Fhir.Stu3.Api.csproj
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Core/Microsoft.Health.Fhir.Stu3.Core.csproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.TaskManagement.UnitTests/Microsoft.Health.TaskManagement.UnitTests.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestFhirServer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureDisabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Dependencies, Azure API for FHIR, Azure Healthcare APIs

#2445 Adds files used to test compartment search
  docs/rest/CompartmentSearchExamples.http
  docs/rest/PatientEverythingLinks.http
Labels: Enhancement-Test

#2497 SQL timeout is returning a 500 error
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.R4.Api/Microsoft.Health.Fhir.R4.Api.csproj
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/PatientEverythingService.cs
  src/Microsoft.Health.Fhir.Stu3.Api/Microsoft.Health.Fhir.Stu3.Api.csproj
Labels: Bug, Azure Healthcare APIs

#2495 Bypass not FHIR request for import lock
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/Import/InitialImportLockMiddlewareTests.cs
Labels: Bug, Azure Healthcare APIs
