Repository microsoft/fhir-server, pull requests merged in 2022-07, with the labels that each got.

#2693 Fix for registered services not calling AsSelf()
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
Labels: Bug, Azure Healthcare APIs

#2684 Add logging to notification handlers
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Core/Messages/Search/SearchParametersHashUpdated.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#2709 [Tests] Improving search testing scenarios with _sort
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/Bundle-ChainingAndSortSearchValidation.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/Bundle-ChainingAndSortSearchValidation.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/Bundle-ChainingAndSortSearchValidation.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/StartupWithTraceAuditLogger.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingAndSortTests.cs
Labels: Area-Search, Enhancement-Test, Area-SQL

#2707 Allow specifying sort order on _history
  src/Microsoft.Health.Fhir.Api/Models/HistoryModel.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.Core/Messages/Search/SearchResourceHistoryRequest.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryBuilder.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Everything/PatientEverythingServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchResourceHistoryHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/FhirMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchResourceHistoryHandler.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Bug, Enhancement, Specification, Azure API for FHIR, KI-Warning, Azure Healthcare APIs

#2714 Fix E2E test project display.
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.shproj
Labels: Enhancement-Test

#2713 Add how to run doc
  docs/RunningTheProject.md
Labels: Documentation
