Repository microsoft/fhir-server, pull requests merged in 2023-01, with the labels that each got.

#3041 95587: handled not modifier for chained expressions
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/NotExpressionRewriter.cs
Labels: Bug, Azure Healthcare APIs

#3057 95587: E2E tests added for Chained searches with NOT
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3036 Change to Fhir Exception name and add more logging
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClientException.cs
  src/Microsoft.Health.Fhir.Shared.Client/Microsoft.Health.Fhir.Shared.Client.projitems
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Rest/VersionSpecificTests.cs
  test/Microsoft.Health.Fhir.R4B.Tests.E2E/Rest/VersionSpecificTests.cs
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Rest/VersionSpecificTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AnonymizedExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BasicAuthTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CompartmentTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalUpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/DeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/EverythingOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ExceptionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/FhirPathPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/JsonPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/MemberMatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/MetadataTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ObservationResolveReferenceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ReadTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/DateSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/StringSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/VReadTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ValidateTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Rest/VersionSpecificTests.cs
Labels: Enhancement-Test

#2846 Updated Bundle Handler to pass log data for sub calls in Bundle
  src/Microsoft.Health.Extensions.Xunit/Microsoft.Health.Extensions.Xunit.csproj
  src/Microsoft.Health.Fhir.Core/Features/Resources/Bundle/BundleMetricsNotification.cs
  src/Microsoft.Health.Fhir.Core/Features/Resources/Bundle/BundleSubCallMetricData.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3061 Added obsolete tag for StartAsync method.
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Azure API for FHIR, Azure Healthcare APIs

#3064 revise transient test -RUs w/throttling increase
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Reindex/ReindexJobCosmosThrottleControllerTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Enhancement-Test

#3046 Add permission-user to capabilities in /.well-known
  src/Microsoft.Health.Fhir.Core/Features/Conformance/GetSmartConfigurationHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/GetSmartConfigurationHandlerTests.cs
Labels: Area-SMART

#3008 Improve job logs
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Enhancement, Azure Healthcare APIs

#3084 Enhancing test to exit early when assertion is true
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Reindex/ReindexJobCosmosThrottleControllerTests.cs
Labels: Enhancement-Test

#3087 Null reference check for Missing seach indices
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
Labels: Bug

#3088 Revised test to confirm the not modifier
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
Labels: Enhancement-Test

#3089 SQL db cleanup fix
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSqlCompatibilityTests.cs
Labels: Bug

#3083 95084: Added more Practitioner Read tests for Smart
  src/Microsoft.Health.Fhir.Core/Models/KnownResourceTypes.cs
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/SmartCommon.json
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Labels: Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs

#3063 Changes group not found exception to an info log
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/ResourceNotFoundException.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Export/GroupMemberExtractor.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3094 Logging a warning for search parameters with a duplicate code scenario
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Definition/SearchParameterDefinitionBuilderTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs
