Repository microsoft/fhir-server, pull requests merged in 2023-07, with the labels that each got.

#3377 Adding a support for telemetry via Azure Monitor OpenTelemetry
  Directory.Packages.props
  Microsoft.Health.Fhir.sln
  src/Microsoft.Health.Fhir.R4.Web.UnitTests/Microsoft.Health.Fhir.R4.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4.Web/Microsoft.Health.Fhir.R4.Web.csproj
  src/Microsoft.Health.Fhir.R4B.Web.UnitTests/Microsoft.Health.Fhir.R4B.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4B.Web/Microsoft.Health.Fhir.R4B.Web.csproj
  src/Microsoft.Health.Fhir.R5.Web.UnitTests/Microsoft.Health.Fhir.R5.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Web/Microsoft.Health.Fhir.R5.Web.csproj
  src/Microsoft.Health.Fhir.Shared.Web.UnitTests/Microsoft.Health.Fhir.Shared.Web.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Web.UnitTests/Microsoft.Health.Fhir.Shared.Web.UnitTests.shproj
  src/Microsoft.Health.Fhir.Shared.Web.UnitTests/StartupTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.Stu3.Web.UnitTests/Microsoft.Health.Fhir.Stu3.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Web/Microsoft.Health.Fhir.Stu3.Web.csproj
Labels: Dependencies, Azure API for FHIR

#3375 Additional Logging added to capture Import mode
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Enhancement, Azure API for FHIR

#3391 nugetMultiFeedWarnLevel set to none
  build/.vsts-PRInternalChecks-azureBuild-pipeline.yml
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3395 Transaction WD registration
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogsBackgroundService.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
Labels: Bug, Azure Healthcare APIs

#3381 Added Status and $Status operation to CapabilityStatement
  src/Microsoft.Health.Fhir.Api/Features/Routing/RouteNames.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/search-parameter-status.json
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/ICapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/OperationsCapabilityProviderTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/OperationDefinitionController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/ConformanceBuilderTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3334 Fix: Do not allow Duplicated Search Parameters
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicated.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalUpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
Labels: Bug, Open source

#3396 [Livesite] Handled nested SecurityTokenException
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirAuthenticationExceptionHandlerMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirAuthenticationExceptionHandlerMiddlewareTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3401 [Hotfix] Update 54.diff.sql with most recent changes in Health Paas
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/54.diff.sql
Labels: Bug, Enhancement, Azure Healthcare APIs

#3382 Disabling check for conditional references
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportResourceParser.cs
Labels: Enhancement, Azure Healthcare APIs

#3405 Audit logs for incremental import
  src/Microsoft.Health.Fhir.Api/Features/Audit/AuditHelper.cs
  src/Microsoft.Health.Fhir.Core/Features/Audit/AuditLogger.cs
  src/Microsoft.Health.Fhir.Core/Features/Audit/IAuditLogger.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/TraceAuditLogger.cs
Labels: Enhancement, Azure Healthcare APIs

#3407 Generating immuatable scheme model based on latest schema
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug, Azure Healthcare APIs

#3406 Add logs to count Search Parameters
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
Labels: Bug, Open source

#3397 Update README.md
  README.md
Labels: Documentation

#3400 Fixed bug with force reindex and when no work to be done.
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3402 Adds SBOM validator task
  build/ci-pipeline.yml
  build/jobs/analyze.yml
  build/jobs/build.yml
  build/jobs/package.yml
  build/pr-pipeline.yml
Labels: Build

#3410 Updated xunit dependencies together.
  Directory.Packages.props
  src/Microsoft.Health.Extensions.Xunit/Microsoft.Health.Extensions.Xunit.csproj
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/GetImportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/InvalidSearchOperationExceptionTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Microsoft.Health.Fhir.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Web.UnitTests/Microsoft.Health.Fhir.R5.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Extensions/HttpRequestExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Behaviors/ListSearchBehaviorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/TypedElementSearchIndexerTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Microsoft.Health.Fhir.SqlServer.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Api.UnitTests/Microsoft.Health.Fhir.Stu3.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Core.UnitTests/Microsoft.Health.Fhir.Stu3.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Web.UnitTests/Microsoft.Health.Fhir.Stu3.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.TaskManagement.UnitTests/Microsoft.Health.TaskManagement.UnitTests.csproj
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Microsoft.Health.Fhir.R4.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R4B.Tests.E2E/Microsoft.Health.Fhir.R4B.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R4B.Tests.Integration/Microsoft.Health.Fhir.R4B.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R5.Tests.E2E/Microsoft.Health.Fhir.R5.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Microsoft.Health.Fhir.R5.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalUpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreReindexTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Stu3.Tests.Integration/Microsoft.Health.Fhir.Stu3.Tests.Integration.csproj
Labels: Dependencies

#3413 Removed Status for Search Params in Capability Statement
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/ICapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/ConformanceBuilderTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3417 [Bundle] Replace LogTrace with LogInformation
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3419 Added task in Analyze.yml to cleanup VM in Build
  build/jobs/analyze.yml
Labels: Build

#3415 SBOM validator task
  build/jobs/analyze.yml
Labels: Build

#3427 SqlStoreClient class, SqlRetryService signatures plus
  Microsoft.Health.Fhir.sln
  src/Microsoft.Health.Fhir.SqlServer/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtension.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImportReindexer.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/ResourceDateKey.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/ResourceWrapperExtention.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/ISqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlCommandExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/InvisibleHistoryCleanupWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/TransactionWatchdog.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
  tools/EventsReader/App.config
  tools/EventsReader/EventsReader.csproj
  tools/EventsReader/Program.cs
  tools/EventsReader/SqlConnectionBuilder.cs
Labels: Enhancement, Azure Healthcare APIs

#3431 Import changes in sync with Azure docs
  docs/BulkImport.md
Labels: Area-Documents

#3435 Updating to ci3 as ci2 won't setup sql dbs.
  build/ci-variables.yml
Labels: Build

#3430 SqlQueueClient protection and watchdogs w/o connection factory
  src/Microsoft.Health.Fhir.SqlServer/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlCommandExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/InvisibleHistoryCleanupWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/TransactionWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/Watchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogLease.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogsBackgroundService.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
  tools/Exporter/App.config
  tools/Exporter/ExceptionExtention.cs
  tools/Exporter/Exporter.csproj
  tools/Exporter/Program.cs
  tools/Exporter/SqlConnectionBuilder.cs
  tools/Exporter/SqlService.cs
Labels: Enhancement, Azure Healthcare APIs

#3433 [DotNet] Update dotnet SDK to v7.0.306
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Enhancement, Dependencies, Azure API for FHIR, Azure Healthcare APIs

#3442 Fix for build pipeline to allow agent pool selection
  build/ci-pipeline.yml
Labels: Build

#3429 cleanup the retry logic
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Azure Healthcare APIs

#3444 Add check for invisible resources in GetAsync
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
Labels: Bug, Azure Healthcare APIs
