Repository microsoft/fhir-server, pull requests merged in 2023-08, with the labels that each got.

#3449 Revert Fix: Do not allow Duplicated Search Parameters (#3334)
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicated.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalUpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
Labels: Bug, Open source

#3448 Updating PR pipeline to use variable for windows agents
  build/ci-pipeline.yml
  build/pr-pipeline.yml
Labels: Build

#3424 Added sanitization for user received data that is being logged.
  src/Microsoft.Health.Fhir.Core/Features/Audit/AuditLogger.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Audit/AuditHelperTests.cs
Labels: Bug-Security, Azure API for FHIR, Azure Healthcare APIs

#3439 Use merge TVPs in reindex (update search parameters)
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexSingleResourceRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Reindex/ReindexSingleResourceRequestHandler.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/62.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/62.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpdateResourceSearchParams.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerIndexesRebuildTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3455 Removes details from Inferno.http
  docs/rest/Inferno/Inferno.http
Labels: Bug-Security, Open source

#3452 Enable defrag by default.
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
Labels: Enhancement, Azure Healthcare APIs

#3466 Fix some intermittent test failures
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerIndexesRebuildTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlCustomQueryTests.cs
Labels: Enhancement-Test, Azure Healthcare APIs

#3468 Allow local export defaults when debugging
  src/Microsoft.Health.Fhir.R4.Web/Properties/launchSettings.json
  src/Microsoft.Health.Fhir.R4B.Web/Properties/launchSettings.json
  src/Microsoft.Health.Fhir.R5.Web/Properties/launchSettings.json
  src/Microsoft.Health.Fhir.Stu3.Web/Properties/launchSettings.json
Labels: Build, Open source

#3465 Hotfix/restore cdb export
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ILegacyExportOperationDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/FhirOperationDataStoreBase.cs
  src/Microsoft.Health.Fhir.CosmosDb/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/CosmosFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/54.diff.sql
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Bug, Azure API for FHIR

#3432 Removed is searchable and sort for search param in reindex
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3469 SearchParameter $status failing when called
  src/Microsoft.Health.Fhir.Api/Features/Routing/KnownRoutes.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/OperationDefinitionController.cs
Labels: Bug-Reliability, Azure Healthcare APIs

#3470 Periodic dequeue of jobs with timed out heartbeats.
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestQueueClient.cs
  src/Microsoft.Health.TaskManagement/IQueueClient.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Enhancement, Azure Healthcare APIs

#3443 Enabling Selectable search parameter functionality.
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: Enhancement, Azure Healthcare APIs

#3474 SqlExActionProcessor should pass through the innerexception
  src/Microsoft.Health.Fhir.Core/Exceptions/LoginFailedForUserException.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/MethodNotAllowedException.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/RequestTimeoutException.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/ResourceSqlException.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/ResourceSqlTruncateException.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/SqlQueryPlanException.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
Labels: Enhancement-Refactor, Azure Healthcare APIs

#3477 QueueClient handles storage notification
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Bug, Azure Healthcare APIs

#3472 Added audit logging for $status operation on Update
  docs/rest/Data/StatusUpdateOperationData.json
  docs/rest/selectableSearchParameterExamples.http
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandler.cs
Labels: Enhancement, Azure Healthcare APIs

#3467 Fix for out of space for CodeQL
  .github/workflows/codeql.yml
  Directory.Build.props
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Build

#3453 Add logs to SearchParameterValidator
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterValidator.cs
Labels: Enhancement, Open source

#3486 Convert - remove postprocess exception details from logs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ConvertDataEngine.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataEngineTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/MockLogger.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
Labels: Bug, Azure Healthcare APIs

#3379 Add system scopes to test IDP
  src/Microsoft.Health.Fhir.Shared.Web/DevelopmentIdentityProviderRegistrationExtensions.cs
Labels: Enhancement-Test, Open source

#3476 Updates analysis build task
  build/jobs/analyze.yml
Labels: Build

#3302 Generate Async Job
  tools/AsyncJobGenerator/GenerateAsyncJob.ps1
  tools/AsyncJobGenerator/Readme.md
  tools/AsyncJobGenerator/Templates/Controller.template
  tools/AsyncJobGenerator/Templates/Job.template
  tools/AsyncJobGenerator/Templates/JobDescription.template
  tools/AsyncJobGenerator/Templates/JobResult.template
  tools/AsyncJobGenerator/Templates/MediatorCreateRequest.template
  tools/AsyncJobGenerator/Templates/MediatorExtensions.template
  tools/AsyncJobGenerator/Templates/MediatorHandler.template
  tools/AsyncJobGenerator/Templates/MediatorRequest.template
  tools/AsyncJobGenerator/Templates/MediatorResponse.template
Labels: Documentation, Open source

#3495 Add FHIR data test script
  tools/PowerShell/FhirDataFunctions.ps1
  tools/PowerShell/Readme.md
Labels: Documentation, Open source
