Repository microsoft/fhir-server, pull requests merged in 2023-05, with the labels that each got.

#3253 $import: disable initial load mode
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddlewareExtensions.cs
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportConstants.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ImportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/Import/InitialImportLockMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3265 Fix: URL under Capability Statement not Absolute Uri
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/ConformanceBuilderTests.cs
Labels: Bug, Open source

#3264 Adding queryList Errors to the reindex output
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreReindexTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3274 Fix performance for metadata url
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
Labels: Enhancement, Open source

#3277 Revert "$import: disable initial load mode (#3253)"
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddlewareExtensions.cs
  src/Microsoft.Health.Fhir.Api/Microsoft.Health.Fhir.Api.csproj
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportConstants.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ImportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/Import/InitialImportLockMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3279 [DotNet] Upgrade dotnet version to 7.0.203
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Enhancement, Area-Deployment, Dependencies, Azure API for FHIR, Azure Healthcare APIs

#3278 adding log output to reindex tests
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs

#3286 reindex updates: sqlretries and improved logging
  docs/rest/ReindexFlowResourceBase.http
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchResultReindex.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3280 Throw specific authentication exceptions
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirAuthenticationExceptionHandlerMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextAuthenticationMiddlewareExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirAuthenticationExceptionHandlerMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3288 fix sqlcommand timeout from getting reset
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Labels: Bug, Azure Healthcare APIs

#3291 Updated Reindex to use Pending States for Search Parameters
  docs/rest/ReindexFlowResourceBase.http
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchParameterInfoExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/TypedElementSearchIndexer.cs
  src/Microsoft.Health.Fhir.Core/Models/SearchParameterInfo.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SqlServerSearchParameterStatusDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3292 Only Allow AHDS for Selectable SearchParameters
  src/Microsoft.Health.Fhir.Core/Registration/AzureApiForFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureHealthDataServicesRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/IFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/SearchParameterControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/SearchParameterController.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Enhancement-Optimization, Azure API for FHIR

#3236 Add pipeline to cleanup PR environments
  build/cleanup-pr-environments.yml
Labels: Build, Open source

#3290 Reverting PR3228 for hot fix
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3306 Updated Logging for SearchParameter Usage
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/StringSearchTests.cs
Labels: Enhancement-Optimization, Azure API for FHIR, Azure Healthcare APIs

#3303 Update Reindex to Process PendingDelete Status
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3309 User Agent Telemetry Not Logging
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3308 Fixing logic in SqlQueueClient plus
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Enhancement, Azure Healthcare APIs

#3314 SBOM generator task
  build/jobs/build.yml
Labels: Build

#3254 WI102794: script to change precision
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/54.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/54.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/NumberSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/QuantitySearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenNumberNumberCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenQuantityCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Types/NumberSearchParamList.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Types/QuantitySearchParamList.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Types/TokenNumberNumberCompositeSearchParamList.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Types/TokenQuantityCompositeSearchParamList.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug, Azure Healthcare APIs
