Repository microsoft/fhir-server, pull requests merged in 2023-12, with the labels that each got.

#3610 PR Pipeline: Fix Env Deployment Error
  build/jobs/provision-deploy.yml
Labels: Bug, Open source

#3613 Patch schema version 68 for backward compatibility
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/68.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/68.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetResourcesByTypeAndSurrogateIdRange.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/ExportDataTests.cs
Labels: Bug, Azure Healthcare APIs, SQL Scripts, Schema Version unchanged

#3614 Adds R5 solution filter
  R5.slnf
Labels: Enhancement, Open source

#3622 Move hash inside sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Labels: Enhancement, Azure Healthcare APIs

#3623 Remove clutter from SQL generator
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SearchParameterQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3626 Formatted joins and missing resource type in join fix
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3625 Add since to export tests
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/ExportDataTestFixture.cs
Labels: Build, Open source

#3627 Fixed historical/deleted export test flakiness
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/ExportDataTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/ExportDataTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/ExportTestHelper.cs
Labels: Bug, Open source

#3629 Fixing include performance
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SearchParameterQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3621 Splits unit tests into seperate step
  build/pr-pipeline.yml
Labels: Build, Open source

#3630 fixes delete unittest issue #105965
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/DeleteTests.cs
Labels: Bug, Azure API for FHIR

#3624 Add rollback tests to CI pipeline
  build/ci-pipeline.yml
Labels: Build, Open source

#3635 Enable using old index on TokenSearchParam
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/69.diff.sql
Labels: Enhancement, Azure Healthcare APIs, Schema Version backward compatible

#3634 Fix CI rollback update
  build/ci-pipeline.yml
Labels: Build, Open source

#3639 Remove rollback tests
  build/ci-pipeline.yml
Labels: Build, Open source

#3633 Logs FHIR resource versions on Application startup
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
Labels: Bug, Azure API for FHIR

#3643 Removing some not used stored procedures from codebase
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/UpsertSPRelationTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/70.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/70.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/AcquireExportJobs.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/BatchDeleteResourceParams.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/BatchDeleteResourceWriteClaims.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/BatchDeleteResources.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/BulkMergeResource.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/BulkReindexResources_2.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/CancelTask.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/CompleteTask.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/CreateExportJob.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/CreateTask_3.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetExportJobByHash.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetExportJobById.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetImportProcessingTaskResult.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetNextTask_3.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetTaskDetails.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/ReadResource.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/ReindexResource_2.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/ResetTask_2.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/TaskKeepAlive.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpdateExportJob.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpdateTaskContext.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/UpsertResource_7.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Enhancement, Azure Healthcare APIs, SQL Scripts, Schema Version backward compatible

#3646 Added custom search example for sort by date
  docs/rest/Data/CustomSearchPatientsAdditional.json
  docs/rest/Data/DateCustomSearchSearchParameter.json
  docs/rest/customSearchExample.http
Labels: Area-Documents, Documentation

#3649 Disable population of high card table
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/69.diff.sql
Labels: Bug, Azure Healthcare APIs, Schema Version backward compatible

#3651 [Export] Add new condition to handle longer timeouts
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs
