Repository microsoft/fhir-server, pull requests merged in 2023-04, with the labels that each got.

#3215 Throttling Configuration
  src/Microsoft.Health.Fhir.Api/Configs/ThrottlingConfiguration.cs
  src/Microsoft.Health.Fhir.Api/Features/Throttling/ThrottlingMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Throttling/ThrottlingMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3217 Fix InvalidOperationException thrown as RetriableJobException
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImportOperation.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerFhirDataBulkOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/TestBulkDataProvider.cs
Labels: Bug, Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs

#3181 Adds additional test for 2 chained searches with 1 include
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
Labels: Enhancement-Test, Azure Healthcare APIs

#3207 Modify SQL query generator for Identifier special case
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Models/KnownResourceTypes.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/CustomQueriesUnitTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/CustomQueries.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/ISqlQueryHashCalculator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlQueryHashCalculator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/ISqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlCustomQueryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/TestSqlHashCalculator.cs
Labels: Bug-Performance, Area-SQL, Azure Healthcare APIs

#2725 Add Tests for Jobs and Client
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Labels: Enhancement-Test, Azure Healthcare APIs

#3224 [Health Check] Limit of 30 seconds + retry
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosHealthCheck.cs
Labels: Enhancement, Azure API for FHIR

#3218 Generic watchdogs infrastructure
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/51.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/51.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/AcquireWatchdogLease.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/CleanupEventLog.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/WatchdogLeases.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/FhirTimer.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/Watchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogLease.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogsBackgroundService.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Enhancement, New Feature, Azure Healthcare APIs

#3231 User Agent header value is not logging in Platform
  src/Microsoft.Health.Fhir.Shared.Web/UserAgentHeaderTelemetryInitializer.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3228 Add validation invalid parameter type
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Bug, Open source

#3182 new import tool
  Microsoft.Health.Fhir.sln
  tools/RegisterAndMonitorImport/ImportResponse.cs
  tools/RegisterAndMonitorImport/Program.cs
  tools/RegisterAndMonitorImport/RegisterAndMonitorConfiguration.cs
  tools/RegisterAndMonitorImport/RegisterAndMonitorImport.cs
  tools/RegisterAndMonitorImport/RegisterAndMonitorImport.csproj
  tools/RegisterAndMonitorImport/appsettings.json
  tools/RegisterAndMonitorImport/readme.md
Labels: Enhancement, Azure Healthcare APIs

#3232 fix duplicate key error when getting params and body content
  src/Microsoft.Health.Fhir.Api/Features/Routing/SearchPostReroutingMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Bug, Azure Healthcare APIs

#3251 Users/sergal/dualimport2
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/GetImportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportResourceLoaderTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/CreateImportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/IImportErrorSerializer.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/IImportResourceLoader.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/IImportResourceParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportProcessingJobInputData.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportResource.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportResourceLoader.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/Models/InputResource.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Import/ImportErrorSerializerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportErrorSerializer.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportResourceParser.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Import/SqlServerBulkImportOperationTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ISqlImportOperation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImportOperation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlResourceBulkImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirOperationDataStore.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportRebuildIndexesTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlBulkImporterTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerFhirDataBulkOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerIndexesRebuildTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement, Azure Healthcare APIs

#3256 Logging for Reindex and SP Dashboard Data
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3259 Attempting to fix issue with delete group
  build/jobs/cleanup.yml
Labels: Build

#3250 changes to support a list for ScopesClaim
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Configs/AuthorizationConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3266 Cosmos searchparameter update
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/Reindex/CosmosDbReindexConstants.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/UpdateUnsupportedSearchParametersToUnsupported/UpdateUnsupportedSearchParameters.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/UpdateUnsupportedSearchParametersToUnsupported/updateUnsupportedSearchParameters.js
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Versioning/CollectionUpgradeManager.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Versioning/FhirCollectionSettingsUpdater.cs
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
Labels: Enhancement, New Feature, Azure API for FHIR

#3268 Remove Basic Auth from Redeploy Ci Pipeline
  build/ci-deploy.yml
  build/jobs/cleanup-resourcegroup-aad.yml
  samples/templates/default-azuredeploy-docker.json
Labels: Build

#3271 Skipping two tests causing build breaks
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Labels: Bug-Reliability, Build
