Repository microsoft/fhir-server, pull requests merged in 2023-03, with the labels that each got.

#3128 Adds a sample $import request
  docs/rest/Import.http
Labels: Documentation

#3129 94522: Added logic to report unknown elements
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Formatters/FhirJsonInputFormatterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FhirJsonInputFormatter.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Bundle-BatchWithInvalidEleEnums.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/PatientWithUnknownElements.json
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3146 Revert: refactor generated sql for 8623 error (#2978)
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/MemberMatch.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/sql_8623_script.sql
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/MemberMatch.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/StringSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerMemberMatchTests.cs
Labels: Bug-Performance, Azure Healthcare APIs

#3154 Change heartbeat tests
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlQueueClientTests.cs
Labels: Enhancement-Test, Azure Healthcare APIs

#3110 Handle pretty parameter for single resource
  src/Microsoft.Health.Fhir.Core/Extensions/RawResourceElementExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FhirJsonOutputFormatter.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/ResourceDeserializerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/BundleFactoryTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3161 Move SQL log
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Enhancement, Azure Healthcare APIs

#3151 Add User-Agent to Request Telemetry Logs
  src/Microsoft.Health.Fhir.Shared.Web/Microsoft.Health.Fhir.Shared.Web.projitems
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/UserAgentHeaderTelemetryInitializer.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3164 Update ConvertDataOperation.md
  docs/ConvertDataOperation.md
Labels: Area-Documents, Documentation, Open source

#3140 Adds CosmosQueueClient
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/IdHelper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/JobDefinitionWrapper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/JobGroupWrapper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/JobInfoExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR

#3171 Add retry for update operations in CosmosQueueClient
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
Labels: Bug, Azure API for FHIR

#3173 Skip queueClient integration tests for Cosmosdb
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Labels: Enhancement-Test, Open source

#3167 Move audit files to core project to use it in AKS work
  src/Microsoft.Health.Fhir.Api/Features/Audit/AuditHelper.cs
  src/Microsoft.Health.Fhir.Api/Modules/AuditModule.cs
  src/Microsoft.Health.Fhir.Core/Features/Audit/AuditLogger.cs
  src/Microsoft.Health.Fhir.Core/Features/Audit/IAuditLogger.cs
  src/Microsoft.Health.Fhir.R4.Core/Microsoft.Health.Fhir.R4.Core.csproj
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Audit/AuditHelperTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/StartupWithTraceAuditLogger.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/TraceAuditLogger.cs
Labels: Bug, Area-AKS, Azure Healthcare APIs

#3165 Add Security scans
  build/jobs/analyze.yml
Labels: Build

#3174 Adds more retries in CosmosQueueClient
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Labels: Enhancement-Test, Open source

#3163 reindex for large dbs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/CreateReindexRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobQueryResourceCountsConverter.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobQueryStatus.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/KnownResourceWrapperProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapper.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOptions.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchResult.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchResultReindex.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/IQueryBuilder.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ReindexControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/LegacyRawReindexJobRecord.json
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexSearchTests.cs
Labels: Bug, Enhancement, Azure Healthcare APIs

#3177 [Patient $everything] Adding validation to continuation tokens
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/EverythingControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClientException.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Everything/EverythingOperationContinuationTokenTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Everything/PatientEverythingServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/PatientEverythingService.cs
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/EverythingOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3194 Update CredScan report format
  build/jobs/TSAConfig.gdntsa
  build/jobs/analyze.yml
Labels: Build

#3198 default throttling values for both cosmosdb and sqlserver
  src/Microsoft.Health.Fhir.Api/Features/Throttling/ThrottlingMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownDataStores.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ThrottlingLimitDefault.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Throttling/ThrottlingMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/Microsoft.Health.Fhir.Shared.Web.projitems
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3199 [Hotfix] Null reference fix and new logs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/PurgeOperationCapabilityProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Security/SecurityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/OperationsModule.cs
Labels: Bug, Enhancement, Azure API for FHIR, Azure Healthcare APIs, Open source

#3193 Changes unconfigured export message from error to info
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#3051 New retry logic
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtention.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImportOperation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/JobInfoExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/ISqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryServiceDelegateOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryServiceOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Enhancement, Azure Healthcare APIs, Open source

#3203 temp fix guardian incorrectly detects secrets in the source code
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/AadSmartOnFhirProxyControllerTests.cs
Labels: Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs

#3204 Fix the branch name condition
  build/jobs/analyze.yml
Labels: Build

#3206 fix for a string getting identified as secrets by Guardian
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/AadSmartOnFhirProxyControllerTests.cs
Labels: Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs

#3211 Adds auth to the tool so blends can be uploaded to servers with auth
  tools/FHIRDataSynth/Program.cs
  tools/FHIRDataSynth/ServerImport.cs
Labels: Enhancement
