Repository microsoft/fhir-server, pull requests merged in 2023-02, with the labels that each got.

#3098 Update $export stored procedure to avoid historical records
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/49.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/49.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetResourcesByTypeAndSurrogateIdRange.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug, Area-BulkExport, Azure Healthcare APIs

#3097 Adds check for PR metadata
  .github/pull_request_template.md
  .github/workflows/validate-prs.yml
Labels: Build, Open source

#3099 Smart tests for Write scopes
  docs/rest/Data/BundleBatch.json
  docs/rest/Data/BundleTransaction.json
  docs/rest/SMARTScopesExample.http
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Security/Authorization/RoleBasedFhirAuthorizationServiceTests.cs
Labels: Azure API for FHIR, Azure Healthcare APIs

#3114 100ms -> 1 sec
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
Labels: Enhancement-Test, Build

#3112 Allow config for HostingBackgroundSevice Job Queues
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/HostingBackgroundService.cs
  src/Microsoft.Health.Fhir.Core/Configs/HostingBackgroundServiceQueueItem.cs
  src/Microsoft.Health.Fhir.Core/Configs/OperationsConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: Enhancement-Refactor, Azure Healthcare APIs

#3134 Improve automatically generated release notes
  .github/release.yml
Labels: Documentation, Build

#3079 Allow prefer: strict when validating on create/update
  src/Microsoft.Health.Fhir.Core/Extensions/PreferHeaderExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceProfileValidator.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Validation/ResourceProfileValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Microsoft.Health.Fhir.Shared.Core.projitems
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3113 force reindex option by passing in a list of SearchParams
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Reindex/ReindexHandlerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Reindex/ReindexJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/CreateReindexRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Core/Messages/Reindex/CreateReindexRequest.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Reindex/ReindexJobCosmosThrottleControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ReindexControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ReindexController.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Reindex/ReindexJobTaskTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexJobRecordExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/ReindexMediatorExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreReindexTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3139 Added additional event types for milestones in validate-prs.yml
  .github/workflows/validate-prs.yml
Labels: Bug, github_actions, Open source

#3133 Log if Cosmos partition count changes
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosDbCollectionPhysicalPartitionInfo.cs
Labels: Enhancement, Azure API for FHIR

#3144 [DotNet] Increase DotNet version to 7.0.103
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Enhancement, Dependencies, Azure API for FHIR, Azure Healthcare APIs

#3142 Exclude dependencies from features section
  .github/release.yml
Labels: Documentation

#3131 Test Fixes + ConformanceProvider Thrdsf + Retriable DequeueAsync
  src/Microsoft.Health.Extensions.Xunit/IClassFixtureExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClientException.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Everything/PatientEverythingServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Everything/PatientEverythingService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/EverythingOperationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/DateSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlQueueClientTests.cs
Labels: Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs
