Repository microsoft/fhir-server, pull requests merged in 2023-11, with the labels that each got.

#3578 Removes Sql Schema Versions (7,8,9,10)
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/10.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/7.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/8.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/9.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/CompartmentAssignmentV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/DateTimeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/NumberSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/QuantitySearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/ReferenceSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/ReferenceTokenCompositeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/ResourceWriteClaimV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/StringSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenDateTimeCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenNumberNumberCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenQuantityCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenStringCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenTextSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/TokenTokenCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/UriSearchParameterV1RowGenerator.cs
Labels: Enhancement-Refactor, Azure API for FHIR

#3580 Revert "Duplicated Search Parameters"
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicatedConditionalCreate.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicatedConditionalUpdate.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicatedUpdate.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalUpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
Labels: Bug, Open source

#3581 Change CI RG
  build/ci-variables.yml
Labels: Build, Open source

#3572 Change query generator to use INNER JOIN
  docs/rest/complexQueries.http
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Labels: Bug-Performance, Area-SQL, Azure Healthcare APIs

#3576 Deploying Hyperscale Sql DB for PR/CI pipeline.
  build/ci-variables.yml
  samples/templates/default-azuredeploy-docker.json
Labels: Build, Open source

#3582 Removes Sql Schema Versions from 11.sql to 40.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/11.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/12.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/13.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/14.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/15.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/16.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/17.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/18.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/19.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/20.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/21.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/22.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/23.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/24.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/25.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/26.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/27.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/28.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/29.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/30.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/31.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/32.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/33.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/34.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/35.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/36.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/37.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/38.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/39.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/40.sql
Labels: Enhancement-Refactor, Azure API for FHIR

#3586 Delete to-do comments in SearchParameterValidator
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterValidator.cs
Labels: Enhancement, Open source

#3491 Fix FHIR Search query with _count=0 and SqlCustomQueryTest issue
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Formatters/HttpContextExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/HttpContextExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlCustomQueryTests.cs
Labels: Bug, Azure API for FHIR

#3602 Migrate Keyvault to Azure RBAC
  build/ci-deploy.yml
  build/jobs/add-aad-test-environment.yml
  build/jobs/provision-deploy.yml
  build/jobs/provision-healthcheck.yml
  build/jobs/provision-sqlServer.yml
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
  samples/templates/default-azuredeploy-docker.json
Labels: Build

#3601 [Import] Insufficient access exception
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureBlobIntegrationDataStoreClient.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/InsufficientAccessException.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/IntegrationDataStoreException.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
Labels: Enhancement, Azure API for FHIR

#3604 Adds exception block for handling unauthorized exception
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
Labels: Bug, Azure API for FHIR
