Repository microsoft/fhir-server, pull requests merged in 2023-06, with the labels that each got.

#3326 Temporary fix for merge retries
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtention.cs
Labels: Enhancement, Azure Healthcare APIs

#3320 Add check for Container Registry token on custom requests
  src/Microsoft.Health.Fhir.Azure/FhirServerBuilderAzureRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/BaseContainerRegistryAccessValidator.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/IContainerRegistryAccessValidator.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ConvertDataControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ConvertDataController.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Bug, Azure Healthcare APIs, Open source

#3328 Honor explicit timeout
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Labels: Enhancement, Azure Healthcare APIs

#3169 Moves Cosmos Export to QueueClient
  samples/templates/default-azuredeploy-docker.json
  src/Microsoft.Health.Fhir.Api/Features/Operations/Export/LegacyExportJobWorkerBackgroundService.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core/Extensions/IdHelper.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ILegacyExportOperationDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/LegacyExportJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/FhirOperationDataStoreBase.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/IFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/Export/CosmosExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/CosmosFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/JobInfoExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/OperationsModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Export/ExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/UpsertSPRelationTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Export/SqlExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/ResourceSurrogateIdHelper.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/CompartmentAssignmentListRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/MergeResourceWrapper.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/MergeSearchParameterRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/ResourceListRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/ResourceWriteClaimListRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CreateExportRequestHandlerTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/FhirOperationDataStoreExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Import/SqlServerIndexesRebuildTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement-Refactor, Azure API for FHIR, KI-Warning

#3331 Added SearchParameter Data Action
  src/Microsoft.Health.Fhir.Core/Features/Security/DataActions.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/roles.schema.json
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandler.cs
Labels: Enhancement, Azure Healthcare APIs

#3325 [Test] Improving Flaky Tests + Improving Test Error Messages
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClientException.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirResponse.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BasicAuthTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/DateSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3335 Fixes reader on closed connection problem
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtention.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Enhancement, Azure Healthcare APIs

#3318 Ensure $convert template providers read from cache
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ContainerRegistryTemplateProvider.cs
Labels: Bug-Reliability, Azure Healthcare APIs

#3336 Retries on async calls and timeouts
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtention.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Enhancement, Azure Healthcare APIs

#3337 Add keep last updated parameter to merge
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportResourceLoaderTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportResource.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportResourceParser.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Enhancement, Azure Healthcare APIs

#3342 Fix int overflow on offset calculation
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Enhancement, Azure Healthcare APIs

#3205 Export intermediate state
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/ExportJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/JobSegmentCompletedException.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3346 Added hints to copy section plus
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/54.diff.sql
Labels: Enhancement, Azure Healthcare APIs

#3358 [Security] Security Advisory CVE-2023-29331 // dotnet v7.0.304
  Directory.Packages.props
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3356 Add group id to log messages
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Enhancement, Azure Healthcare APIs

#3354 Changes of incremental import billing
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportJobMetricsNotification.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJobResult.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3372 Clone AccessControlContext for Bundle operations
  docs/rest/SMARTScopesExample.http
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
Labels: Bug, Bug-Security, Azure API for FHIR, Azure Healthcare APIs
