Repository microsoft/fhir-server, pull requests merged in 2023-10, with the labels that each got.

#3543 Update shared packages to 7.0.28
  Directory.Packages.props
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  tools/EventsReader/SqlConnectionBuilder.cs
  tools/Exporter/SqlConnectionBuilder.cs
Labels: Dependencies, .NET

#3541 Fix syntax check for : when wildcard is used
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3523 Reenable Queue Client in Cosmos
  R4.slnf
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/JobGroupWrapper.cs
Labels: Bug, Azure API for FHIR

#3548 Bump hs version to 7.0.29 and disable bulk delete tests
  Directory.Packages.props
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BulkDeleteTests.cs
Labels: Bug, Azure Healthcare APIs

#3547 Restore resourcetype index hint to SQL Query generator
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Labels: Bug, Area-SQL, Azure Healthcare APIs

#3545 Add pipeline to build images
  build/build-image.yml
  build/cleanup-images.yml
Labels: Build, Open source

#3533 Updates .NET and docker images
  Directory.Packages.props
  Microsoft.Health.Fhir.sln
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Build, Open source

#3552 Add longer wait for Keyvault
  build/pr-pipeline.yml
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
Labels: Build, Open source

#3555 Bumping up HealthcareSharedPackageVersion to the latest.
  Directory.Packages.props
Labels: Dependencies, Azure API for FHIR

#3554 Fixed Image Cleanup Pipeline Stage Name for R4B
  build/cleanup-images.yml
Labels: Bug, Open source

#3530 Fix SQL Import for Soft Delete and History
  .gitignore
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportResourceLoaderTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportResource.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Import/ImportResourceParserTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportResourceParser.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportHistorySoftDeleteTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportHistorySoftDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestHelper.cs
Labels: Enhancement, Area-Operations, Area-SQL, Azure Healthcare APIs

#3542 [CMK] Encryption configuration + New FHIR runtime configurations
  src/Microsoft.Health.Fhir.Api/Configs/FhirServerConfiguration.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Config/EncryptionConfigurationTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Registration/FhirRuntimeConfigurationTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/CustomerManagedKeyEncryption.cs
  src/Microsoft.Health.Fhir.Core/Configs/EncryptionConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/EncryptionKeyIdentity.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureApiForFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureHealthDataServicesRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/IFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: New Feature, Azure Healthcare APIs

#3557 Handles exception message for duplicate file in import operation
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Bug, Azure API for FHIR

#3544 Add Export Max Count parameter
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/group-export.json
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/patient-export.json
  src/Microsoft.Health.Fhir.Core/Extensions/ExportMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Messages/Export/CreateExportRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ExportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3559 Revert: Bumping up HealthcareSharedPackageVersion to the latest.
  Directory.Packages.props
Labels: Dependencies, Azure API for FHIR

#3565 Rename duration property for shoebox logs
  src/Microsoft.Health.Fhir.Api/Features/Audit/AuditHelper.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Audit/AuditHelperTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3558 Fixes for smart export to include g(10) resources
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/SmartCompartmentSearchRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Labels: Bug, Area-BulkExport, Area-SMART, Azure Healthcare APIs

#3561 Fixes UI view
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/HtmlOutputFormatter.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FeatureFlags/HtmlUi/HtmlUiFeatureModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/MvcModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
Labels: Bug, Open source

#3485 Duplicated Search Parameters
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicatedConditionalCreate.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicatedConditionalUpdate.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/SearchParameterDuplicatedUpdate.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalUpdateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/UpdateTests.cs
Labels: Bug, Open source

#3564 Added support for extension_fhirUser claim for SMART auth
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Configs/AuthorizationConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3567 Fix export comparison
  Directory.Packages.props
  build/jobs/build.yml
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobFilter.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3574 [Config] IFhirRuntimeConfiguration and Configuration Improvements
  src/Microsoft.Health.Fhir.Core.UnitTests/Registration/FhirRuntimeConfigurationTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/CustomerManagedKeyEncryption.cs
  src/Microsoft.Health.Fhir.Core/Configs/EncryptionConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureApiForFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureHealthDataServicesRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/IFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
Labels: Enhancement, Enhancement-Test, Enhancement-Refactor, Azure API for FHIR, Azure Healthcare APIs

#3573 Removes older sql schema versions (4.sql,5.sql,6.sql)
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/4.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/5.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/6.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/ReferenceSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/ReferenceTokenCompositeSearchParameterV1RowGenerator.cs
Labels: Enhancement-Refactor, Azure API for FHIR

#3577 Updating version 66 to 67
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/67.sql
Labels: Bug, Azure Healthcare APIs, Schema Version backward compatible
