Repository microsoft/fhir-server, pull requests merged in 2023-09, with the labels that each got.

#3484 Component governance updates
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Azure/Microsoft.Health.Fhir.Azure.csproj
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug-Security, Azure API for FHIR, Azure Healthcare APIs, Open source

#3514 Reverts storage notification from queueclient
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Bug, Azure Healthcare APIs

#3518 operation name and ip address fixed
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Enhancement, Azure Healthcare APIs

#3522 Single resource Reindex fixed
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/ResourceListRowGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
Labels: Bug, Azure Healthcare APIs

#3525 Fix _include bug
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
Labels: Bug, Azure API for FHIR

#3524 Disable defrag
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
Labels: Enhancement, Azure Healthcare APIs

#3527 Add relevant labels in the PR if new schema version is added
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/validate-prs.yml
  SquashMergeRequirements.md
Labels: Azure API for FHIR, Build, Schema Version unchanged

#3492 Policheck fixes
  GeoPol.xml
  build/jobs/analyze.yml
  src/Microsoft.Health.Fhir.SqlServer/readme.md
Labels: Bug, GeoPolitical, Open source

#3532 Add duration in audit logs
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Api/Features/Audit/AuditHelper.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Audit/AuditHelperTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Audit/AuditLoggingFilterAttributeTests.cs
Labels: Bug, Azure Healthcare APIs

#3535 [CMK & Health State] Health Check refactoring
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Core/Features/Health/FhirHealthErrorCode.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownDataStores.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureApiForFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureHealthDataServicesRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/IFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosHealthCheck.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Enhancement, New Feature, Azure API for FHIR, Azure Healthcare APIs
