Repository microsoft/fhir-server, pull requests merged in 2024-07, with the labels that each got.

#3944 Add null check for URL resolver, for background jobs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Schema Version unchanged

#3924 Remove AllowAllAzureWindowsIps
  build/jobs/provision-deploy.yml
  samples/templates/default-azuredeploy-docker.json
  samples/templates/default-sqlServer.json
Labels: Enhancement, Open source

#3946 Update sql server password to MI
  build/ci-deploy.yml
  build/jobs/provision-deploy.yml
  build/jobs/provision-sqlServer.yml
  build/jobs/update-sqlAdminPassword.yml
  build/pr-pipeline.yml
  samples/templates/default-azuredeploy-docker.json
  samples/templates/default-sqlServer.json
Labels: Enhancement, Open source

#3959 Remove Storage Account Keys and SQL Passwords from Tests
  build/ci-deploy.yml
  build/ci-pipeline.yml
  build/jobs/add-resource-group-role-assignments.yml
  build/jobs/e2e-tests.yml
  build/jobs/provision-deploy.yml
  build/jobs/provision-sqlServer.yml
  build/jobs/run-export-tests.yml
  build/jobs/run-tests.yml
  build/pr-pipeline.yml
  samples/templates/default-sqlServer.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AzureStorageBlobHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/AnonymizedExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/AnonymizedExportUsingAcrTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/ExportTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestStorageAccount.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlAzurePipelinesWorkloadIdentityAuthenticationProvider.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement-Test, Open source

#3963 [Cosmos DB] New Cosmos DB Client in case a new key is provided
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/FhirCosmosClientInitializerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
Labels: Bug, Azure API for FHIR

#3908 116962-Adds exception for handling managed identity for import
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3968 Fix solution files
  R4.slnf
  R5.slnf
Labels: Bug, Open source

#3973 Add delay to finish export jobs
  src/Microsoft.Health.Fhir.Core/Features/Operations/FhirOperationDataStoreBase.cs
Labels: Bug, Azure API for FHIR

#3978 Hardcoded Git version tool to 5.12.0
  build/jobs/update-semver.yml
Labels: Bug, Open source

#3972 Enhancement(import):Import should error for SearchParameter
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportResourceLoaderTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportResourceLoader.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ImportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
Labels: Enhancement, Azure Healthcare APIs

#3977 Log Connection.Open() duration
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/ISqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3986 Filter out failed jobs with cancelrequested set
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/GetImportRequestHandler.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3987 Ensure all jobs complete before disposing parent scope
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3991 Add database setting to reuse query plans
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/SqlQueryGeneratorTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/ProcessingFlag.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlComplexQueryTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged
