Repository microsoft/fhir-server, pull requests merged in 2024-05, with the labels that each got.

#3835 events POC
  tools/EventsReader/Program.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3838 Return bad request on too many surrogate ids
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3836 Improve flaky integration tests
  build/jobs/run-tests.yml
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/FhirTimer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureDisabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlDataReaderExtensionsTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerMemberMatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSetMergeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSqlCompatibilityTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Build, Open source

#3847 Cleanup search parameters on historical resources
  .github/workflows/validate-prs.yml
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/80.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/80.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug, Azure Healthcare APIs

#3822 Fixes for Bundle Routing
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleRouter.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleEdgeCaseTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3849 Add throw on failed initialization
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3850 [Metrics] Track latency under Search endpoint
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/FhirControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3803 Don't require work items for some PRs
  .github/workflows/validate-prs.yml
Labels: Build, Open source

#3856 [Logging] Adding better logging to Bad Request
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchServiceTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3862 default-azuredeploy-docker.json updated with new service principal
  samples/templates/default-azuredeploy-docker.json
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3859 Update $convert-data error log
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ConvertDataEngine.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataEngineTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/MockLogger.cs
Labels: Bug, Azure Healthcare APIs

#3870 reflect import changes
  docs/BulkImport.md
Labels: Documentation, OSS-specific

#3887 Fix Flaky History Test
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
Labels: Bug, Open source

#3879 Surrogate id from UTC
  src/Microsoft.Health.Fhir.Core/Extensions/IdHelper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/LastUpdatedToResourceSurrogateIdRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/ResourceSurrogateIdHelperTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Export/SqlExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/LastUpdatedToResourceSurrogateIdRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/ResourceSurrogateIdHelper.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/ResourceWrapperExtention.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  tools/PerfTester/Program.cs
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged

#3888 Update BulkExport.md documentation
  docs/BulkExport.md
Labels: Area-Documents, Documentation, Open source
