Repository microsoft/fhir-server, pull requests merged in 2024-06, with the labels that each got.

#3895 Fix dependabot name
  .github/workflows/validate-prs.yml
Labels: Build, Open source

#3894 Reflect current code state for $import in the doc
  docs/BulkImport.md
Labels: Azure Healthcare APIs

#3906 118017 - Invalid 500 cast exception
  src/Microsoft.Health.Fhir.Api/Features/Routing/KnownActionParameterNames.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/ValidateResourceTypeFilterTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/ValidateResourceTypeFilterAttribute.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3905 User story 100880 - Changes for Routing and Binders namespace.
  src/Microsoft.Health.Fhir.Api/Features/Binders/DictionaryExpansionConfigurationProvider.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Core/Features/Routing/IUrlResolver.cs
Labels: Bug, Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3900 Allow datetime values to be treated as strings
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/convert-data.json
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ConvertDataEngine.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/Models/ConvertDataProperties.cs
  src/Microsoft.Health.Fhir.Core/Messages/ConvertData/ConvertDataRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ConvertDataControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ConvertDataController.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataEngineTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
Labels: Enhancement, Azure Healthcare APIs

#3842 Enable export for SMART clinical scope : read
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/SMART/SmartClinicalScopesMiddlewareTests.cs
Labels: Bug, Bug-Security, Area-SMART, Azure Healthcare APIs, Schema Version unchanged

#3914 Update Azure.Identity to 1.11.4
  Directory.Packages.props
Labels: Dependencies, Azure Healthcare APIs, Schema Version unchanged

#3917 Fix for timing out SQL integration tests
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlCommandExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureDisabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlCustomQueryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSqlCompatibilityTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3925 Add IsDeleted check in search queries
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Flag.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/DeleteTests.cs
Labels: Bug, Area-Search, Azure Healthcare APIs, Schema Version unchanged

#3826 Add accept header value to exception logging
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateAsyncRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateFormatParametersAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateImportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateReindexRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FormatParametersValidator.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3903 Combine pairs of DateTime predicates on the same search parameter
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/DateTimeTableExpressionCombiner.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/DateSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlCustomQueryTests.cs
Labels: Enhancement, Area-SQL, Azure Healthcare APIs, Schema Version unchanged

#3926 Changed search parameter init to run every schema upgrade
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SchemaUpgradedHandler.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSearchParameterInitializationTests.cs
Labels: Bug, Azure Healthcare APIs

#3928 [Metrics] New components to track HTTP failures and exceptions.
  src/Microsoft.Health.Fhir.Core/Logging/Metrics/DefaultFailureMetricHandler.cs
  src/Microsoft.Health.Fhir.Core/Logging/Metrics/ExceptionMetricNotification.cs
  src/Microsoft.Health.Fhir.Core/Logging/Metrics/HttpErrorMetricNotification.cs
  src/Microsoft.Health.Fhir.Core/Logging/Metrics/IExceptionMetricNotification.cs
  src/Microsoft.Health.Fhir.Core/Logging/Metrics/IFailureMetricHandler.cs
  src/Microsoft.Health.Fhir.Core/Logging/Metrics/IHttpFailureMetricNotification.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Exceptions/BaseExceptionMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Extensions/HttpRequestExtension.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Exceptions/BaseExceptionMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web.UnitTests/AzureMonitorOpenTelemetryLogEnricherTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/AzureMonitorOpenTelemetryLogEnricher.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs
