Repository microsoft/fhir-server, pull requests merged in 2024-12, with the labels that each got.

#4743 Fix exception message and CI build timing
  build/ci-pipeline.yml
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
Labels: Enhancement, Azure API for FHIR, Build, Azure Healthcare APIs, Open source

#4721 Reference to Uri Converter
  src/Microsoft.Health.Fhir.Core/Features/Search/Converters/ReferenceToUriSearchValueConverter.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Converters/ReferenceToUriSearchValueConverterTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4737 Add new SQL hash calculation
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/ISqlQueryHashCalculator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlQueryHashCalculator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlSearchOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Helpers/ReadableLogger.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlComplexQueryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/TestSqlHashCalculator.cs
Labels: Bug, Azure Healthcare APIs

#4714 HTTP method validation for the transaction bundle request.
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/TransactionBundleValidator.cs
Labels: Bug, Azure Healthcare APIs

#4753 Use mirrored buildx for PRs Only
  build/build-image.yml
  build/ci-deploy.yml
  build/ci-pipeline.yml
  build/jobs/docker-build-all.yml
  build/jobs/docker-build-push.yml
  build/pr-pipeline.yml
Labels: Bug, Open source

#4755 Current resource view
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/84.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/84.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/Resource.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Views/CurrentResource.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Enhancement, Azure Healthcare APIs, Schema Version backward compatible

#4756 Fix Docker Multiplatform Build Typo Issue
  build/jobs/docker-build-push.yml
Labels: Bug, Open source

#4759 Sort value logic without reader field count
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged
