Repository microsoft/fhir-server, pull requests merged in 2024-02, with the labels that each got.

#3693 [Jobs] Extending existing logs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Export/CosmosExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/Export/CosmosExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Export/SqlExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Export/SqlExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobLoggerExtensionTests.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  src/Microsoft.Health.TaskManagement/JobLoggerExtension.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CosmosDbExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3699 Enable replicas for search
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3695 Adds exception block to handle invalid storage URL
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureBlobIntegrationDataStoreClient.cs
Labels: Bug, Azure API for FHIR

#3698 Adds permissions to codeql.yml
  .github/workflows/codeql.yml
Labels: Build, Open source

#3700 Added dynamic handling for default Export isParallel value
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ExportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
Labels: Bug, Azure API for FHIR

#3701 Removed resource type expansion for global search
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/PartitionEliminationRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/PartitionEliminationRewriter.cs
Labels: Bug, Azure Healthcare APIs

#3703 Updates .net sdk minor versions
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Dependencies, Open source

#3702 Adding more logging for import job.
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportResourceLoader.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Bug, Azure Healthcare APIs

#3704 Logging an exception message only for blob LeaseAlreadyPresent.
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureBlobIntegrationDataStoreClient.cs
Labels: Bug, Azure Healthcare APIs

#3463 Job Factory provides Job tasks with an ambient scope
  R4.slnf
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/HostingBackgroundService.cs
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/JobFactory.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Extensions/CreateMockedScopeExtensions.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Reindex/ReindexJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/LegacyExportJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/IScopeProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ScopeProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ScopedComponent.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SqlServerSearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/FhirTimer.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogsBackgroundService.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestJobFactory.cs
  src/Microsoft.Health.TaskManagement/IJobFactory.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  src/Microsoft.Health.TaskManagement/Microsoft.Health.TaskManagement.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement-Refactor, Azure API for FHIR, Azure Healthcare APIs

#3642 [Pipelines] Add Integration/E2E Retry
  build/build-variables.yml
  build/jobs/e2e-tests.yml
  build/jobs/run-export-tests.yml
  build/jobs/run-tests.yml
  src/Microsoft.Health.Extensions.Xunit/TestClassWithFixtureArgumentsTypeInfo.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Build, Open source

#3705 FHIR Model and temporarily cached data
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Storage/FhirMemoryCacheTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Storage/FhirMemoryCache.cs
  src/Microsoft.Health.Fhir.Core/Features/Storage/IMemoryCache.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
Labels: Enhancement, Enhancement-Optimization, Azure API for FHIR, Azure Healthcare APIs

#3714 Revert [Pipelines] Add Integration/E2E Retry (#3642)
  build/build-variables.yml
  build/jobs/e2e-tests.yml
  build/jobs/run-export-tests.yml
  build/jobs/run-tests.yml
  src/Microsoft.Health.Extensions.Xunit/TestClassWithFixtureArgumentsTypeInfo.cs
Labels: Bug, Build, Open source

#3713 Enable multiple resource types per $import file
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Import-Observation.ndjson
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3710 Additional logs added
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobWorker.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3716 Updates dotnet Security patch (sdk:8.0.200)
  .github/workflows/codeql.yml
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Build, Open source

#3719 Added exception handling to WaitAll in DeletionService
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3717 [Healthcare Shared Components] Version upgrade v7.1.13
  Directory.Packages.props
Labels: Bug, Azure Healthcare APIs

#3708 Tools changes to support bundles test
  Directory.Packages.props
  tools/BlobRewriter/App.config
  tools/BlobRewriter/BlobRewriter.csproj
  tools/BlobRewriter/Program.cs
  tools/Importer/App.config
  tools/Importer/BearerTokenHandler.cs
  tools/Importer/Importer.cs
  tools/Importer/Importer.csproj
  tools/PerfTester/App.config
  tools/PerfTester/Program.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3722 Added fix for historical summary count tests
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3724 Update azuredeploy-docker.json to https by default
  samples/templates/default-azuredeploy-docker.json
Labels: Enhancement, Open source

#3712 Adding AppInsights ConnectionString support.
  Directory.Packages.props
  samples/templates/default-azuredeploy-docker.json
  src/Microsoft.Health.Fhir.Core/Configs/TelemetryConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Telemetry/KnownApplicationInsightsDimensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Telemetry/KnownHttpRequestProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Telemetry/TelemetryProvider.cs
  src/Microsoft.Health.Fhir.R4.Web.UnitTests/Microsoft.Health.Fhir.R4.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4B.Web.UnitTests/Microsoft.Health.Fhir.R4B.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Web.UnitTests/Microsoft.Health.Fhir.R5.Web.UnitTests.csproj
  src/Microsoft.Health.Fhir.Shared.Web.UnitTests/AzureMonitorOpenTelemetryLogEnricherTests.cs
  src/Microsoft.Health.Fhir.Shared.Web.UnitTests/Microsoft.Health.Fhir.Shared.Web.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Web.UnitTests/StartupTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/AzureMonitorOpenTelemetryLogEnricher.cs
  src/Microsoft.Health.Fhir.Shared.Web/Microsoft.Health.Fhir.Shared.Web.projitems
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.Stu3.Web.UnitTests/Microsoft.Health.Fhir.Stu3.Web.UnitTests.csproj
Labels: Enhancement, Dependencies, Open source
