Repository microsoft/fhir-server, pull requests merged in 2024-04, with the labels that each got.

#3781 Add support for partial delete success
  src/Microsoft.Health.Fhir.Core/Exceptions/IncompleteDeleteException.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IFhirDataStore.cs
  src/Microsoft.Health.Fhir.Core/Messages/Delete/ConditionalDeleteResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Delete/DeleteResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosFhirDataStoreTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/HardDelete/HardDelete.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/HardDelete/hardDelete.js
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests_ConditionalDelete.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexSearchTests.cs
Labels: Bug, Azure API for FHIR

#3796 Import error handling
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/GetImportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/GetImportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportErrorStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportFileEtagNotMatchException.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportJobErrorResult.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJobErrorResult.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportProcessingException.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement/JobExecutionException.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  src/Microsoft.Health.TaskManagement/RetriableJobException.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportRebuildIndexesTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3802 Pass in the cancellation token to BatchAndTransactions call
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3799 Import self orchestration
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/GetImportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/GetImportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportProcessingJobResult.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtension.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  tools/PerfTester/Program.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3763 Import Bad Request Duplicate Files
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ImportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Bug, Azure Healthcare APIs

#3812 Added stats usage logging
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3819 Added ability to disable retries on heartbeats
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/ISqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlCommandExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3820 Remove garbage stored procedure plus test
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/79.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/79.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetNonCompletedJobCountOfSpecificQueueType.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerColumnTypeChangeTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version backward compatible

#3823 [dotnet] dotnet SDK v8.0.204
  build/dotnet6-compat/global.json
  global.json
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3818 Add new health check for improper behavior
  build/jobs/provision-deploy.yml
  src/Microsoft.Health.Fhir.Api/Features/Health/ImproperBehaviorHealthCheck.cs
  src/Microsoft.Health.Fhir.Core/Exceptions/InitializationException.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Health/ImproperBehaviorNotification.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/PartitionEliminationRewriter.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Bug, Azure API for FHIR

#3783 [Bugfix] Speed up process shutdown
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/ResourceActionResult.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Core/Models/OperationOutcomeConstants.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.Designer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.resx
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3809 Added support for multi-platform public images
  .gitignore
  build/build-image.yml
  build/build-variables.yml
  build/ci-deploy.yml
  build/ci-pipeline.yml
  build/docker/Dockerfile
  build/docker/docker-compose.yaml
  build/jobs/docker-build-all.yml
  build/jobs/docker-build-push.yml
  build/pr-pipeline.yml
Labels: Bug, Open source

#3827 Make bundle statistics thread-safe
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerStatisticsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerStatistics.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3813 New BundleHandler.RequestContexts must honor original requests CT
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3830 Drop old reindex stored procedure
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/77.diff.sql
  tools/BlobRewriter/App.config
  tools/BlobRewriter/Program.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3833 Dropping BulkReindexResources stored procedure
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/77.diff.sql
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged
