Repository microsoft/fhir-server, pull requests merged in 2024-09, with the labels that each got.

#4475 Disable the ACR admin by default
  build/jobs/e2e-tests.yml
  samples/templates/default-azuredeploy-docker.json
Labels: Bug-Security, Open source

#4472 Possible multiple enumerations of IEnumerable collection set 2
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/IncludeExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/IExpressionParser.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
Labels: Bug, Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4599 Possible multiple enumerations of IEnumerable collection set 3
  src/Microsoft.Health.Fhir.Core/Features/Search/TypedElementSearchIndexer.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceNotValidException.cs
  src/Microsoft.Health.Fhir.SchemaManager/MutuallyExclusiveOptionValidator.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/ValidateContentTypeFilterAttributeTests.cs
Labels: Bug, Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4026 [Feature] Changes Cosmos to use MI connection
  Directory.Packages.props
  build/jobs/add-aad-test-environment.yml
  build/jobs/provision-deploy.yml
  samples/templates/default-azuredeploy-docker.json
  src/Microsoft.Health.Fhir.Api/Configs/FhirServerConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/ResourceManagerConfig.cs
  src/Microsoft.Health.Fhir.CosmosDb.Core/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb.Core/Features/Storage/ICollectionSetup.cs
  src/Microsoft.Health.Fhir.CosmosDb.Core/Features/Storage/ICosmosClientTestProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Features/Storage/CollectionInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Features/Storage/DataPlaneCollectionSetup.cs
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Features/Storage/DefaultCollectionSetup.cs
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Features/Storage/ResourceManagerCollectionSetup.cs
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Microsoft.Health.Fhir.CosmosDb.Initialization.csproj
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/Versioning/DataPlaneCollectionSetupTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosHealthCheck.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosClientReadWriteTestProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosContainerProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosDbCollectionPhysicalPartitionInfo.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/CosmosDbSearchParameterStatusInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Microsoft.Health.Fhir.CosmosDb.csproj
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/DummyMeterFactory.cs
  src/Microsoft.Health.Fhir.Shared.Web/Microsoft.Health.Fhir.Shared.Web.projitems
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR, Open source

#4598 Bug(export): Adding logging for failing exports
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureExportDestinationClient.cs
Labels: Bug, Azure Healthcare APIs

#4607 Microsoft.IO.RecyclableMemoryStream to 3.0.1
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Core/Features/Search/ContinuationTokenConverter.cs
Labels: Dependencies, Azure API for FHIR

#4438 Pagination bug fixes
  docs/rest/Bug Repros/Pagination Bug - 8-2024/PaginationBug.http
  docs/rest/Bug Repros/Pagination Bug - 8-2024/PaginationBugData.json
  docs/rest/Bug Repros/Pagination Bug - 8-2024/PaginationBugData2.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlSearchOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug, Azure Healthcare APIs

#4604 Possible multiple enumerations of IEnumerable collection set 4
  src/Microsoft.Health.Fhir.Shared.Api/Features/Formatters/FormatParametersValidator.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ServerProvideProfileValidation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  tools/Exporter/Program.cs
  tools/PerfTester/Program.cs
Labels: Bug, Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4625 SQL Connection Logging
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Labels: Bug, Azure Healthcare APIs

#4617 Adding validation on $export type filters.
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CreateExportRequestHandlerTests.cs
Labels: Bug, Open source

#4627 Continue reindex when encountering empty page
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexSearchTests.cs
Labels: Bug, Azure Healthcare APIs

#4369 Integration tests use DevOps MI for Cosmos
  build/jobs/add-resource-group-role-assignments.yml
  build/jobs/e2e-tests.yml
  build/jobs/provision-deploy.yml
  build/jobs/run-tests.yml
  samples/templates/default-azuredeploy-docker.json
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Features/Storage/ResourceManagerCollectionSetup.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/FhirCosmosClientInitializerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/IdentityModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Enhancement-Test, Open source

#4255 Import without Manage Identity Throws 500
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4587 Precision limit should not lead to HTTP 500
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4639 Making export type filter validation optional.
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Core/Extensions/PreferHeaderExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/ValidateExportRequestFilterAttributeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CreateExportRequestHandlerTests.cs
Labels: Bug, Open source

#4641 Update codeql.yml to hosted runners
  .github/workflows/codeql.yml
Labels: Build, Open source

#4643 Fixing a typo in an exception message.
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
Labels: Bug, Open source

#4644 Fixes clean-storage-accounts.yml
  build/jobs/clean-storage-accounts.yml
Labels: Build, Open source

#4645 bug(logging): add full exception to logging
  src/Microsoft.Health.Fhir.Api/Controllers/AadSmartOnFhirProxyController.cs
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureBlobIntegrationDataStoreClient.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationAdd.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationDelete.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationInsert.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationMove.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Operations/OperationReplace.cs
  src/Microsoft.Health.Fhir.Shared.Core/Operations/Export/ExportAnonymizerFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/CustomQueries.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  tools/FHIRDataSynth/Program.cs
  tools/FHIRDataSynth/RDUtility.cs
  tools/FHIRDataSynth/ResourceProcessor.cs
Labels: Bug, Enhancement, Azure Healthcare APIs
