Repository microsoft/fhir-server, pull requests merged in 2024-11, with the labels that each got.

#4711 Update load of search param status on initialization
  build/jobs/analyze.yml
  build/jobs/docker-build-push.yml
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/Registry/SearchParameterStatusManagerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/DataActions.cs
Labels: Bug, Area-Search, Azure API for FHIR, Azure Healthcare APIs, Schema Version unchanged

#4715 [Bundle] Simplify profile refresh during bundle execution
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorNamingConventions.cs
  src/Microsoft.Health.Fhir.Core/Messages/Bundle/IBundleInnerRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Conditional/ConditionalResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Create/CreateResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Delete/DeleteResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Get/GetResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Patch/PatchResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Upsert/UpsertResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Models/BundleProcessingLogic.cs
  src/Microsoft.Health.Fhir.Core/Models/BundleResourceContext.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Headers/HttpContextExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerEdgeCaseTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerStatisticsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/ProfileResourcesBehaviourUnitTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Headers/HttpContextExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerStatistics.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProfileResourcesBehaviour.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/Orchestration/BundleOrchestratorOperationTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Models/BundleResourceContextComparerTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
Labels: Bug-Performance, Azure API for FHIR, Azure Healthcare APIs

#4702 Fix Cancel Import Request
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/CancelImportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/CancelImportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Messages/BulkImport/CancelImportRequest.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Bug, Azure Healthcare APIs, Open source, Schema Version unchanged

#4720 Flips behavior, validate by default, opt out with Lenient
  src/Microsoft.Health.Fhir.Core/Extensions/PreferHeaderExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CreateExportRequestHandler.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CreateExportRequestHandlerTests.cs
Labels: Enhancement, Azure API for FHIR, KI-Breaking, Azure Healthcare APIs

#4712 Add interface for cosmosdb MI
  src/Microsoft.Health.Fhir.Azure/FhirServerBuilderAzureRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/AzureAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/IAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/FhirCosmosClientInitializerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosAccessTokenProviderFactory.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosDbCollectionPhysicalPartitionInfo.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/OperationsModule.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Dependencies, Azure Healthcare APIs

#4667 Additional error logging for $import and $export
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/GetImportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/GetImportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
Labels: Enhancement, Azure API for FHIR

#4728 Disable Sort for Summary Count
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Azure Healthcare APIs

#4699 Iterative Include SQL Simplification
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludeSearchTests.cs
Labels: Enhancement, Azure Healthcare APIs

#4671 Document Update
  docs/DefaultDeployment.md
Labels: Documentation update request
