Repository microsoft/fhir-server, pull requests merged in 2024-03, with the labels that each got.

#3727 [Bundle] Parallel bundle perf improvements
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
Labels: Enhancement, Bug-Performance, Azure API for FHIR, Azure Healthcare APIs

#3732 File Missing Handling During $import Processing
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
Labels: Bug, Azure Healthcare APIs

#3738 Add documentation for Telemetry Logging
  docs/TelemetryLogging.md
Labels: Documentation, Azure Healthcare APIs

#3740 dotnet v8.0.201
  build/docker/Dockerfile
  global.json
Labels: Dependencies, Azure API for FHIR, Azure Healthcare APIs, .NET

#3739 Enable writing events to external database
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3707 Adds requirement to link to DevOps workitem
  .github/workflows/validate-prs.yml
Labels: Enhancement, Open source

#3728 Fixes some usages of Task.WaitAll => Task.WhenAll
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3741 Grants sync-to-devops issues: write permissions
  .github/workflows/sync-to-devops.yml
Labels: Bug, Open source

#3723 Add content-type constraint for the $convert endpoint.
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ConvertDataController.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3745 [Pipeline] Change pipeline auth method
  build/jobs/add-aad-test-environment.yml
  release/scripts/PowerShell/FhirServerRelease/Private/Grant-ClientAppDelegatedPermissions.ps1
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BasicAuthTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleBatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleTransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, OSS-specific

#3750 dotnet v8.0.202
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Dependencies, Open source

#3746 Added fix for missing export job segments
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/ExportJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
Labels: Bug, Azure API for FHIR

#3747 [Tests] Refactoring test accounts
  build/jobs/e2e-tests.yml
  build/jobs/run-export-tests.yml
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/Microsoft.Health.Fhir.Shared.Tests.E2E.Common.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/TestApplications.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/TestUsers.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BasicAuthTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleBatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleTransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportRebuildIndexesTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
  testauthenvironment.json
Labels: Bug, Bug-Security, Azure API for FHIR, Azure Healthcare APIs

#3749 Move import writes to store class
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SqlServer/Resources.resx
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3757 new service connection
  build/build-variables.yml
  samples/templates/default-azuredeploy-docker.json
Labels: Azure API for FHIR, Azure Healthcare APIs

#3759 Increase dependabot limit
  .github/dependabot.yml
  Directory.Packages.props
Labels: Bug, Open source

#3762 [Tests] ChainingSearchTest - Improve stability
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/ChainingSearchTests.cs
Labels: Enhancement-Test, Azure API for FHIR, Azure Healthcare APIs

#3729 [Bugfix] HeaderDictionary - Support concurrent operations
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/ResourceActionResult.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/ActionResults/FhirResultTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/ActionResults/OperationVersionsResult.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClientException.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ResourceReferenceResolver.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleBatchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3771 Prevent reporting dups on worker restart
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged

#3774 Remove IsHistory from XXXSearchParam tables
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/76.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/76.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/DateTimeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/NumberSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/QuantitySearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/ReferenceSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/ReferenceTokenCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/StringSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenDateTimeCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenNumberNumberCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenQuantityCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenStringCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenTokenCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/UriSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/sql_8623_script.sql
Labels: Enhancement, Azure Healthcare APIs, Schema Version backward compatible

#3773 Update BulkExport.md with max_count query parameter
  docs/BulkExport.md
Labels: Documentation

#3782 Some cleanup
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/77.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/77.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Types/CompartmentAssignmentList.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Types/Types.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkCompartmentAssignmentV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkCompositeSearchParameterRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkDateTimeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkDateTimeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkNumberSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkQuantitySearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceTokenCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReferenceTokenCompositeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkReindexResourceV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkResourceWriteClaimV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkSearchParameterRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkStringSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkStringSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenDateTimeCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenDateTimeCompositeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenNumberNumberCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenNumberNumberCompositeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenQuantityCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenQuantityCompositeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenStringCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenStringCompositeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenTextSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenTokenCompositeSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkTokenTokenCompositeSearchParameterV2RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/BulkUriSearchParameterV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/SearchParameterStatusV1RowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Enhancement, Azure Healthcare APIs, Schema Version backward compatible

#3785 Updates Sourcelink, fix xml docs
  CustomAnalysisRules.ruleset
  Directory.Build.props
  Directory.Packages.props
  build/jobs/package.yml
  src/Microsoft.Health.Fhir.Core/Configs/ExportJobFormatConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecordOutputConverter.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobQueryResourceCountsConverter.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/Models/ReindexJobQueryStatusConverter.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapperFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/TypedElementSearchIndexer.cs
  src/Microsoft.Health.Fhir.Core/Features/Storage/FhirMemoryCache.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceContentValidator.cs
  src/Microsoft.Health.Fhir.Core/Messages/ConvertData/ConvertDataRequest.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/Orchestration/BundleTestsCommonFunctions.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Definitions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/RemoveIncludesRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/ResourceMetadata.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
Labels: Dependencies, Open source

#3777 Handle 405 errors
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ExceptionTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs
