Repository microsoft/fhir-server, pull requests merged in 2024-10, with the labels that each got.

#4654 Update AAD token request target resource uri for ACR access
  src/Microsoft.Health.Fhir.Azure/ContainerRegistry/AzureContainerRegistryAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Core/Configs/ConvertDataConfiguration.cs
Labels: Bug, Azure API for FHIR

#4659 Disable replica traffic ratio
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Bug, Azure Healthcare APIs

#4661 Fix descending sort
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug, Azure Healthcare APIs

#3907 106893 - fix to avoid using plain text in powershell script
  build/jobs/add-aad-test-environment.yml
  release/scripts/PowerShell/FhirServerRelease/Private/Set-FhirServerApiUsers.ps1
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
Labels: Build, Open source

#4662 Support _hardDelete and hardDelete for all delete operations.
  src/Microsoft.Health.Fhir.Api/Models/HardDeleteModel.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/FhirControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/BulkDeleteController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BulkDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/DeleteTests.cs
Labels: Bug, Open source

#3814 Watchdog cleanup
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/ISqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlCommandExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/FhirTimer.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/InvisibleHistoryCleanupWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/TransactionWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/Watchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogLease.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogsBackgroundService.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
  tools/EventsReader/Program.cs
  tools/PerfTester/Program.cs
Labels: Enhancement-Refactor, Open source

#4666 Fixes missed _periodSec variable
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/Watchdog.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Bug, Enhancement-Test, Open source

#4663 Allow reindex with unlimited empty pages
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Azure Healthcare APIs

#4668 Batch size dependent retries for $import
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4673 Revert schema 83 changes
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/CreateBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/FhirOperationDataStoreBase.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/QueueClientExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Export/CosmosExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/Export/CosmosExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Export/SqlExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/83.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/83.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/Defrag.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/DefragGetFragmentation.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/EnqueueJobs.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetPartitionedTables.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/InitDefrag.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestQueueClient.cs
  src/Microsoft.Health.TaskManagement/IQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Bug, Azure Healthcare APIs

#4674 Adds StorageInitialized health check
  src/Microsoft.Health.Fhir.Api.UnitTests/Microsoft.Health.Fhir.R4.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Api/Features/Health/StorageInitializedHealthCheck.cs
  src/Microsoft.Health.Fhir.R4B.Api.UnitTests/Microsoft.Health.Fhir.R4B.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Api.UnitTests/Microsoft.Health.Fhir.R5.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Health/StorageInitializedHealthCheckTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Stu3.Api.UnitTests/Microsoft.Health.Fhir.Stu3.Api.UnitTests.csproj
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4651 [Bundles] Additional logs for client errors
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/CreateBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Handlers/CreateBulkDeleteHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerEdgeCaseTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/TransactionBundleValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceReferenceResolverTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ConditionalResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Create/ConditionalCreateResourceValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ConditionalDeleteResourceValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ResourceReferenceResolver.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Upsert/ConditionalUpsertResourceValidator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4675 Add 83 back
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/CreateBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/FhirOperationDataStoreBase.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/QueueClientExtensions.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Export/CosmosExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/Export/CosmosExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Export/SqlExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/83.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/83.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/Defrag.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/DefragGetFragmentation.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/EnqueueJobs.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetPartitionedTables.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/InitDefrag.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement.UnitTests/TestQueueClient.cs
  src/Microsoft.Health.TaskManagement/IQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/QueueClientTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Bug, Azure Healthcare APIs

#4681 Bump healthcare shared package version to 175
  Directory.Packages.props
  build/docker/Dockerfile
  build/dotnet6-compat/global.json
  global.json
Labels: Dependencies, Azure Healthcare APIs

#4686 add ordering to reindex surrogate id fetch
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Area-Operations, Azure Healthcare APIs

#4688 Fixing the content-type validation on POST search.
  src/Microsoft.Health.Fhir.Api/Features/Routing/SearchPostReroutingMiddleware.cs
  src/Microsoft.Health.Fhir.Azure.UnitTests/Api/SearchPostReroutingMiddlewareTests.cs
Labels: Bug, Open source

#4684 Fixing E2E test failures due to missing env variables.
  Microsoft.Health.Fhir.sln
  src/Microsoft.Health.Fhir.Azure.UnitTests/AnonymizationConfigurationArtifactProviderTests.cs
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  src/Microsoft.Health.Fhir.Tests.Common/EnvironmentVariables.cs
  src/Microsoft.Health.Fhir.Tests.Common/KnownEnvironmentVariableNames.cs
  test/Microsoft.Health.Fhir.R4.Tests.E2E/Microsoft.Health.Fhir.R4.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.R4B.Tests.E2E/Microsoft.Health.Fhir.R4B.Tests.E2E.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Crucible/CrucibleDataSource.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/AuthenticationSettings.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/TestApplication.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/TestUser.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AzureStorageBlobHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CustomConvertDataTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/AnonymizedExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/AnonymizedExportUsingAcrTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTestStorageAccount.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestFhirServerFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
  test/Microsoft.Health.Fhir.Stu3.Tests.E2E/Microsoft.Health.Fhir.Stu3.Tests.E2E.csproj
Labels: Bug, Open source

#4682 Add job notification ObjectDisposedException handling
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
Labels: Bug, Azure Healthcare APIs

#4698 Add REST examples for patching security tag
  docs/rest/FhirPatchRequests.http
  docs/rest/JsonPatchRequests.http
Labels: Area-Documents, Documentation, Azure Healthcare APIs

#4704 In-place fix of version 83
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/83.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/83.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/Defrag.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/DefragGetFragmentation.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/EnqueueJobs.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/DefragWatchdog.cs
Labels: Bug, Enhancement, Area-SQL, Azure Healthcare APIs, Schema Version backward compatible

#4708 Truncate ref resource id to fit into 64 bytes
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/ReferenceSearchParamListRowGenerator.cs
Labels: Bug, Schema Version unchanged
