Repository microsoft/fhir-server, pull requests merged in 2024-08, with the labels that each got.

#4000 Suppressing NU1902.
  src/Microsoft.Health.Fhir.R4.Web/Microsoft.Health.Fhir.R4.Web.csproj
  src/Microsoft.Health.Fhir.R4B.Web/Microsoft.Health.Fhir.R4B.Web.csproj
  src/Microsoft.Health.Fhir.R5.Web/Microsoft.Health.Fhir.R5.Web.csproj
  src/Microsoft.Health.Fhir.Stu3.Web/Microsoft.Health.Fhir.Stu3.Web.csproj
Labels: Bug-Security, Dependencies, Open source

#3997 Update the job hosting to run the task count per queue type
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/HostingBackgroundService.cs
  src/Microsoft.Health.Fhir.Core/Configs/HostingBackgroundServiceQueueItem.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Enhancement, Area-AKS, Azure Healthcare APIs

#3994 Fixing flaky query plan test
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlComplexQueryTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4001 Stream Export
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Core/Extensions/LoggerExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Handlers/GetBulkDeleteHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Messages/GetBulkDeleteResponse.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Parameters/IParameterStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Parameters/Parameter.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/RawResource.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosParameterStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Reindex/ReindexSingleResourceRequestHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/SearchParameterState/SearchParameterStateHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/FhirPathPatchBuilder.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatch/Helpers/FhirParametersExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Patch/FhirPathPatchPayload.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerParameterStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4010 [CI] Handle failures during attempt to delete key vault
  build/jobs/add-aad-test-environment.yml
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4013 [CI] Remove flag -EnableRbacAuthorization and Restore Deleted KVs
  build/jobs/add-aad-test-environment.yml
  build/jobs/provision-deploy.yml
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4016 [CI] Remove use of Resource Group when restoring KeyVault
  build/jobs/add-aad-test-environment.yml
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4019 Better test
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlComplexQueryTests.cs
Labels: Enhancement-Test, Azure Healthcare APIs, Schema Version unchanged

#4233 [SQL] Adding logs to SqlRetryService
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4268 Fix JobHosting disposed before child jobs complete
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3971 In Memory Search Filter For Subscriptions
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/InMemory/SubscriptionsOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Subscriptions.Tests/Microsoft.Health.Fhir.Subscriptions.Tests.csproj
  src/Microsoft.Health.Fhir.Subscriptions/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.Subscriptions/Operations/SubscriptionsOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/SubscriptionForEncounter.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/SubscriptionForObservationReferenceToPatient.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/SubscriptionForPatient.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/SubscriptionForPatientName.json
Labels: New Feature, Open source

#4439 Change missing input params to RequestNotValid exception
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateParametersResourceAttribute.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Schema Version unchanged

#4158 Possible multiple enumerations of IEnumerable collection new
  src/Microsoft.Health.Fhir.Api/Features/Binders/DictionaryExpansionConfigurationProvider.cs
  src/Microsoft.Health.Fhir.Core/Extensions/SearchServiceExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/ConformanceProviderBase.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/IConformanceProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Validation/ValidateCapabilityPreProcessor.cs
Labels: Bug, Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4473 Fixing an IsDeleted issue on import/history.
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/RawBundleEntryComponent.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Bug, Open source
