Repository microsoft/fhir-server, pull requests merged in 2024-01, with the labels that each got.

#3652 New stats
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/72.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/72.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/CreateResourceSearchParamStats.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetResourceSearchParamStats.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/StringQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlCustomQueryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerCreateStatsTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement, Azure Healthcare APIs, SQL Scripts, Schema Version backward compatible

#3655 Using missing modifier for Sort
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SortRewriter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlSearchOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug-Performance, Azure Healthcare APIs

#3656 Removing search param and resource type ids from sql parameters
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SearchParameterQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/HashingSqlQueryParameterManager.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlCustomQueryTests.cs
Labels: Enhancement, Azure Healthcare APIs

#3600 [Cosmos] Allows Conditional Search to execute with _maxParallel
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Messages/Create/ConditionalCreateResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Patch/ConditionalPatchResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Upsert/ConditionalUpsertResourceRequest.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/QueryPartitionStatisticsCache.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerEdgeCaseTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Headers/HttpContextExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerStatistics.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ConditionalQueryProcessingLogic.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Client/FhirBundleOptions.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/Microsoft.Health.Fhir.Shared.Client.projitems
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests_ConditionalDelete.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Bundle-BatchWithConditionalUpdateByIdentifier.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleBatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleEdgeCaseTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleTransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/FhirPathPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/JsonPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR

#3658 Update StypleCop.Analyzers for .NET8 Collection Initializers
  Directory.Packages.props
  tools/Importer/BearerTokenHandler.cs
  tools/Importer/Importer.cs
Labels: Build, Open source

#3659 remove connection provider from search service
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/ISqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement, Azure Healthcare APIs

#3660 Using string interpolation for named placeholders
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureBlobIntegrationDataStoreClient.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3611 Enable ASPNET Core Endpoint routing
  src/Microsoft.Health.Fhir.Api/Features/Routing/CompartmentResourceTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/CompartmentTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/ResourceTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Api/Modules/SecurityModule.cs
  src/Microsoft.Health.Fhir.Api/Registration/FhirServerApplicationBuilderExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerEdgeCaseTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Routing/UrlResolverTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/ValidateResourceIdFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleRouter.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FeatureFlags/HtmlUi/HtmlUiFeatureModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/MvcModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/USCoreTestHelper.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: New Feature, Azure Healthcare APIs

#3662 Fix bulk delete null definitions
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteOrchestratorJob.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3668 Adds check for basePath
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
Labels: Bug, Azure Healthcare APIs

#3666 Fixed SQL Search Service Deleted/History Handling
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ResourceVersionType.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.Core/Properties/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/QueryBuilder.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/SqlQueryGeneratorTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlSearchOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlSearchType.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Area-SQL, Azure Healthcare APIs

#3663 Enable use of read only replicas
  Directory.Packages.props
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/ISqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlCommandExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlRetryServiceTests.cs
  tools/EventsReader/SqlConnectionBuilder.cs
  tools/Exporter/Exporter.csproj
  tools/Exporter/Program.cs
  tools/Exporter/SqlConnectionBuilder.cs
  tools/Exporter/SqlService.cs
  tools/PerfTester/App.config
  tools/PerfTester/Program.cs
Labels: Enhancement, Azure Healthcare APIs

#3661 Add Summary Count for History Endpoints
  src/Microsoft.Health.Fhir.Api/Models/HistoryModel.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.Core/Messages/Search/SearchResourceHistoryRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Everything/PatientEverythingServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchResourceHistoryHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Extensions/FhirMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchResourceHistoryHandler.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#3671 Unsetting read only on retries
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  tools/PerfTester/Program.cs
Labels: Enhancement, Azure Healthcare APIs

#3670 $import parser with \n line ends on windows VMs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Import/ImportResourceLoaderTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportResourceLoader.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Enhancement, Azure Healthcare APIs

#3676 Update SQLClient Version
  Directory.Packages.props
Labels: Area-SQL, Dependencies

#3678 Revert endpoint routing changes
  src/Microsoft.Health.Fhir.Api/Features/Routing/CompartmentResourceTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/CompartmentTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/ResourceTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Api/Modules/SecurityModule.cs
  src/Microsoft.Health.Fhir.Api/Registration/FhirServerApplicationBuilderExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerEdgeCaseTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Routing/UrlResolverTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/ValidateResourceIdFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleRouter.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FeatureFlags/HtmlUi/HtmlUiFeatureModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/MvcModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/USCoreTestHelper.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: New Feature, Azure Healthcare APIs

#3669 [Cosmos DB] Query max concurrency flag
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureApiForFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureHealthDataServicesRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/IFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/FhirControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Filters/QueryLatencyOverEfficiencyFilterAttributeTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Headers/HttpContextExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerEdgeCaseTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/QueryLatencyOverEfficiencyFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Headers/HttpContextExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerStatistics.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
Labels: Enhancement, Area-CosmosDB, Azure API for FHIR

#3680 Removed prefix slash on history tests
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/HistoryTests.cs
Labels: Bug, Open source

#3681 Added TrimStart to FhirClient SearchAsync
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
Labels: Bug, Open source

#3688 Adding missing throw to GetAsync method.
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
Labels: Bug, Azure Healthcare APIs

#3682 Bring back endpoint routing changes
  src/Microsoft.Health.Fhir.Api/Features/Routing/CompartmentResourceTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/CompartmentTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/ResourceTypesRouteConstraint.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Api/Modules/SecurityModule.cs
  src/Microsoft.Health.Fhir.Api/Registration/FhirServerApplicationBuilderExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerEdgeCaseTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Routing/UrlResolverTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/ValidateResourceIdFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleRouter.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FeatureFlags/HtmlUi/HtmlUiFeatureModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/MvcModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/USCoreTestHelper.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: New Feature, Azure Healthcare APIs

#3689 Bulk delete fixes
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core/Extensions/SearchServiceExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapper.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOptions.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests_ConditionalDelete.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#3584 Add Parallel Cosmos Export
  samples/templates/default-azuredeploy-docker.json
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/Models/ExportJobRecord.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/ISearchService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOptions.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Export/CosmosExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Operations/Export/CosmosExportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/CosmosQueryFactory.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosQueryContext.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/ICosmosQueryContext.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/CosmosFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.Designer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Export/SqlExportOrchestratorJobTests.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CosmosDbExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/CosmosDbFhirExportTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR

#3691 Add retries to deal with small GP databases.
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#3692 Fixing a DI issue.
  src/Microsoft.Health.Fhir.Core/Features/Validation/ResourceElementValidator.cs
Labels: Dependencies, Azure Healthcare APIs

#3686 Update convert libs to add the performance telemetry logger.
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Core/Configs/ConvertDataConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/ConvertDataEngine.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/ConvertData/FhirServerBuilderConvertDataRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataEngineTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/ConvertData/ConvertDataRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: New Feature, Azure Healthcare APIs, Schema Version backward compatible

#3694 Update codeql.yml with extended query pack
  .github/workflows/codeql.yml
Labels: Build, Open source
