Repository microsoft/fhir-server, pull requests merged in 2025-03, with the labels that each got.

#4838 Remove legacy export job worker
  src/Microsoft.Health.Fhir.Api/Features/Operations/Export/LegacyExportJobWorkerBackgroundService.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Registration/FhirRuntimeConfigurationTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ILegacyExportOperationDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/LegacyExportJobWorker.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureApiForFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureHealthDataServicesRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/IFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb.Core/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb.Initialization.UnitTests/CosmosDbInitializationTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Features/Storage/StoredProcedures/AcquireExportJobs/acquireExportJobs.js
  src/Microsoft.Health.Fhir.CosmosDb.Initialization/Microsoft.Health.Fhir.CosmosDb.Initialization.csproj
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/CosmosFhirOperationDataStore.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/Export/CosmosDbExportConstants.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/LegacyExport/CosmosDbLegacyExportConstants.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Operations/LegacyExport/CosmosLegacyExportJobRecordWrapper.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/StoredProcedures/AcquireExportJobs/AcquireExportJobs.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/OperationsModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/86.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/86.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/ExportJob.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Enhancement-Refactor, Azure API for FHIR, Schema Version backward compatible

#4619 Steps for connecting to SQL database
  README.md
  docs/HowToConnectSQLDatabase.md
  docs/images/HowToConnectSQLDatabase/choose-user-account.png
  docs/images/HowToConnectSQLDatabase/entraid-admin.png
  docs/images/HowToConnectSQLDatabase/save-user-admin-account.png
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs

#4850 Increase max valueset size to 20,000
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ProfileValidator.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Schema Version unchanged

#4847 Fixing an issue of a next link leading to an empty page.
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Bug, Azure Healthcare APIs, Open source

#4853 Insert correct schema version 86
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/86.sql
Labels: Enhancement-Refactor, Azure API for FHIR, Schema Version backward compatible

#4849 Remove forwarded headers and add classes to use antissrf in wp
  src/Microsoft.Health.Fhir.Api/Features/Routing/ServerSideRequestForgeryException.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Bug-Security, Azure API for FHIR, Azure Healthcare APIs

#4862 Fixing schema version to 86
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
Labels: Enhancement-Refactor, Azure Healthcare APIs, Schema Version backward compatible

#4857 Add blob store write path for raw resource split
  Directory.Packages.props
  Microsoft.Health.Fhir.Blob.UnitTests/Microsoft.Health.Fhir.Blob.UnitTests.csproj
  Microsoft.Health.Fhir.Blob/Microsoft.Health.Fhir.Blob.csproj
  Microsoft.Health.Fhir.sln
  src/Microsoft.Health.Fhir.Blob.UnitTests/Features/Storage/BlobStoreTests.cs
  src/Microsoft.Health.Fhir.Blob.UnitTests/Fixtures/TestBlobClient.cs
  src/Microsoft.Health.Fhir.Blob.UnitTests/Fixtures/resources.ndjson
  src/Microsoft.Health.Fhir.Blob.UnitTests/Microsoft.Health.Fhir.Blob.UnitTests.csproj
  src/Microsoft.Health.Fhir.Blob/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.Blob/Features/Common/BlobConstants.cs
  src/Microsoft.Health.Fhir.Blob/Features/Common/BlobUtility.cs
  src/Microsoft.Health.Fhir.Blob/Features/Storage/BlobRawResourceStore.cs
  src/Microsoft.Health.Fhir.Blob/Features/Storage/BlobStoreClient.cs
  src/Microsoft.Health.Fhir.Blob/Features/Storage/IBlobClient.cs
  src/Microsoft.Health.Fhir.Blob/Microsoft.Health.Fhir.Blob.csproj
  src/Microsoft.Health.Fhir.Blob/Registration/FhirServerBlobRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Blob/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Blob/Resources.resx
  src/Microsoft.Health.Fhir.Core/Exceptions/RawResourceStoreException.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IRawResourceStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/ResourceWrapper.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: New Feature, Azure Healthcare APIs, Schema Version unchanged

#4858 [Bundle] Transactions with single record are parallel
  src/Microsoft.Health.Fhir.Core/Extensions/ExceptionExtensions.cs
  src/Microsoft.Health.Fhir.Core/Messages/Bundle/BundleResponse.cs
  src/Microsoft.Health.Fhir.Core/Messages/Bundle/BundleResponseInfo.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Context/DefaultFhirRequestContext.cs
Labels: Enhancement, Azure Healthcare APIs

#4864 Always use external buildx image
  build/build-image.yml
  build/ci-deploy.yml
  build/ci-pipeline.yml
  build/jobs/docker-build-all.yml
  build/jobs/docker-build-push.yml
  build/pr-pipeline.yml
Labels: Bug, Open source

#4870 Use mirror for buildx qemu multi-arch builder
  build/jobs/docker-build-push.yml
Labels: Bug, Open source

#4855 Return 400 when too many parameters
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Storage/SqlExceptionActionProcessorTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Bug, Area-SQL, Azure Healthcare APIs

#4871 Adds ADR proposals
  docs/arch/Proposals/adr-2502-Resource-table-refactor.md
  docs/arch/Proposals/adr-2502-ResourceIdIntMap.md
  docs/arch/Proposals/adr-2502-_include-on-delete.md
  docs/arch/Proposals/images/adr-2502-Resource-table-refactor/ResourceTableIndices.png
  docs/arch/Proposals/images/adr-2502-Resource-table-refactor/ResourceTableSplit.png
Labels: Documentation

#4879 Use variable for .NET SDK package versions
  Directory.Packages.props
Labels: Dependencies

#4867 Upstream changes to SQL layer to call the blob library for write
  Directory.Build.props
  Directory.Packages.props
  build/ci-pipeline.yml
  build/docker/Dockerfile
  build/jobs/e2e-tests.yml
  build/jobs/run-tests.yml
  build/pr-pipeline.yml
  src/Microsoft.Health.Fhir.Api.UnitTests/Microsoft.Health.Fhir.R4.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Blob/Features/Common/BlobUtility.cs
  src/Microsoft.Health.Fhir.Blob/Features/Storage/BlobRawResourceStore.cs
  src/Microsoft.Health.Fhir.Blob/Features/Storage/BlobStoreClient.cs
  src/Microsoft.Health.Fhir.Blob/Registration/FhirServerBlobRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Microsoft.Health.Fhir.Core.UnitTests.csproj
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Microsoft.Health.Fhir.CosmosDb.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4.Web/Properties/launchSettings.json
  src/Microsoft.Health.Fhir.R4B.Api.UnitTests/Microsoft.Health.Fhir.R4B.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.R4B.Web/Properties/launchSettings.json
  src/Microsoft.Health.Fhir.R5.Api.UnitTests/Microsoft.Health.Fhir.R5.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.R5.Web/Properties/launchSettings.json
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlAdlsClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/MergeResourceWrapper.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/TvpRowGeneration/Merge/ResourceListLakeRowGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Stu3.Api.UnitTests/Microsoft.Health.Fhir.Stu3.Api.UnitTests.csproj
  src/Microsoft.Health.Fhir.Stu3.Web/Properties/launchSettings.json
  src/Microsoft.Health.Fhir.Tests.Common/FixtureParameters/DataStore.cs
  test/Microsoft.Health.Fhir.R4.Tests.Integration/Microsoft.Health.Fhir.R4.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R4B.Tests.Integration/Microsoft.Health.Fhir.R4B.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.R5.Tests.Integration/Microsoft.Health.Fhir.R5.Tests.Integration.csproj
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestFhirServerFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Export/SqlServerExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/BlobRawResourceStoreTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerColumnTypeChangeTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSearchParameterInitializationTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSqlCompatibilityTests.cs
Labels: New Feature, Azure Healthcare APIs, Schema Version unchanged
