Repository microsoft/fhir-server, pull requests merged in 2025-06, with the labels that each got.

#5016 Fix Auth for Local E2E Tests
  src/Microsoft.Health.Fhir.Api.OpenIddict/Extensions/DevelopmentIdentityProviderRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/StartupBaseForCustomProviders.cs
Labels: Bug, Open source

#5006 Better logging for Storage account not found for Gen1 Export
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Azure/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Azure/Resources.resx
Labels: Bug, Open source

#5011 ADR on eventual consistency
  docs/arch/adr-2505-eventual-consistency.md
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#5018 [Cache] Fix FhirMemoryCache memory limits
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Storage/FhirMemoryCacheTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Storage/FhirMemoryCache.cs
  src/Microsoft.Health.Fhir.Core/Features/Storage/FhirMemoryCacheItemPriority.cs
  src/Microsoft.Health.Fhir.Core/Features/Storage/IFhirMemoryCache.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
Labels: Bug, Bug-Reliability, Azure Healthcare APIs

#4939 Fix the yield return in the CodeToTokenSearchValueConverter
  src/Microsoft.Health.Fhir.Core/Features/Search/Converters/CodeToTokenSearchValueConverter.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Converters/CodeOfTToTokenSearchValueConverterTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/TypedElementSearchIndexerTests.cs
Labels: Bug, Open source

#5014 Safely modify the Response header collection
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/ResourceActionResult.cs
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Headers/HeaderDictionaryExtensions.cs
  src/Microsoft.Health.Fhir.Api/Features/Throttling/ThrottlingMiddleware.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/CreateBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Context/FhirRequestContext.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobTask.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobWorker.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Operations/Reindex/ReindexJobCosmosThrottleControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ExportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/FhirControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/ActionResults/FhirResultTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Context/FhirRequestContextMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleSerializerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Throttling/ThrottlingMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Filters/OperationOutcomeExceptionFilterAttribute.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/ResourceWrapperFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/USCoreTestHelper.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/AnonymizedExportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Export/ExportDataTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
  tools/Microsoft.Health.Fhir.R4.ResourceParser/ResourceWrapperParser.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#5023 Fix NullReferenceException
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
Labels: Bug, Azure Healthcare APIs

#5033 DefaultAzureCredential to ManagedIdentityCredential
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureAccessTokenClientInitializer.cs
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureAccessTokenClientInitializerV2.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/AzureAccessTokenProvider.cs
  src/Microsoft.Health.Fhir.Shared.Web/Program.cs
  tools/Importer/Importer.cs
Labels: Bug-Security, Azure API for FHIR, Azure Healthcare APIs

#5035 Setting Base headers in FHIR
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextMiddleware.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4995 Fix missing headers and content for conditional create.
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core.UnitTests/Extensions/PreferHeaderExtensionsTests.cs
  src/Microsoft.Health.Fhir.Core/Extensions/PreferHeaderExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/SaveOutcomeType.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Headers/FhirResultExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/ActionResults/FhirResult.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Headers/FhirResultExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Client/FhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Client/IFhirClient.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests_ConditionalCreate.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Create/ConditionalCreateResourceHandler.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalCreateTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#5036 Eventual consistency in OSS import doc
  docs/BulkImport.md
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4752 Disable JobHosting workers for disabled jobs
  src/Microsoft.Health.Fhir.Api/AssemblyInfo.cs
  src/Microsoft.Health.Fhir.Api/Features/BackgroundJobService/HostingBackgroundService.cs
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Configs/BulkDeleteJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/ExportJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/HostingBackgroundServiceQueueItem.cs
  src/Microsoft.Health.Fhir.Core/Configs/ImportJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/OperationsConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/ImportControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/BackgroundJobService/HostingBackgroundServiceTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/Import/InitialImportLockMiddlewareTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/SqlImporter.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs
