Repository microsoft/fhir-server, pull requests merged in 2025-02, with the labels that each got.

#4803 Fix instance availability errors following schema upgrade
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
Labels: Bug, Azure Healthcare APIs

#4762 Fix: Date search doesn't match ranges properly
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/DateTimeEqualityRewriterTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/DateTimeEqualityRewriter.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportDateSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportDateSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/DateSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/DateSearchTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#4805 Adds ADR readme and Template
  .github/pull_request_template.md
  docs/arch/Readme.md
Labels: Documentation

#4813 Reindex Check for Selectable Search Parameters
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandler.cs
Labels: Bug, Azure Healthcare APIs

#4816 Expose Cosmos Direct Mode Connection Config
  src/Microsoft.Health.Fhir.CosmosDb.Core/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
Labels: Enhancement, Area-CosmosDB, Azure API for FHIR

#4814 Update to Firely 5.11.3, add binary resource test
  Directory.Build.props
  Directory.Packages.props
  build/ci-pipeline.yml
  build/pr-pipeline.yml
  docs/rest/binary-example.json
  src/Microsoft.Health.Fhir.Core/Models/ResourceElement.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterToTypeResolver.cs
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/CommunicationAttachment.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/DocumentReference-example-with-base64.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/binary-example.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4B/CommunicationAttachment.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4B/DocumentReference-example-with-base64.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4B/binary-example.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/CommunicationAttachment.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/DocumentReference-example-with-base64.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/binary-example.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/CommunicationAttachment.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/DocumentReference-example-with-base64.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/binary-example.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/CreateTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/TestHelper.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs, Schema Version unchanged

#4817 Cosmos Direct Mode - Fix Rediscovery Default
  src/Microsoft.Health.Fhir.CosmosDb.Core/Configs/CosmosDataStoreConfiguration.cs
Labels: Bug, Azure API for FHIR

#4811 Add support for include to delete requests
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core/Extensions/SearchServiceExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IDeletionService.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ConditionalResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ConditionalDeleteResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ResourceReferenceResolver.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BulkDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ConditionalDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4809 Deployment template can specify registryName
  build/jobs/provision-deploy.yml
  samples/templates/default-azuredeploy-docker.json
Labels: Build, Open source

#4825 Catch shutdown cancellation exceptions for conformance provider
  src/Microsoft.Health.Fhir.Core/Features/Conformance/SystemConformanceProvider.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4831 Fixing a missing retry in CosmosFhirDataStore.
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/ExportJobTaskTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
Labels: Bug, Open source

#4832 Remove resource id from hash
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/HashingSqlQueryParameterManager.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SortTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4840 Add exponential retry and jitter to Importer tool
  tools/Importer/App.config
  tools/Importer/Importer.cs
Labels: Enhancement, Open source

#4845 Enable schema compare test locally and make normalization generic
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Enhancement-Test, Azure Healthcare APIs, Schema Version unchanged
