Repository microsoft/fhir-server, pull requests merged in 2025-09, with the labels that each got.

#5024 Fixing custom search parameter bugs.
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionBuilder.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManagerExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/ISearchParameterComparer.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchParameterInfoExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Definition/SearchParameterDefinitionBuilderTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/SearchParameterState/SearchParameterStateUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterComparerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterDefinitionManagerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterComparer.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Microsoft.Health.Fhir.Shared.Core.projitems
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/Expressions/IncludeRewriterTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerSchemaUpgradeTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#5132 Ensure we get all search params which have no records to process
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexOrchestratorJob.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#5128 Include ResourceSurrogateId in query hash for Async operations
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOptions.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/HashingSqlQueryParameterManagerTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Search/SqlQueryGeneratorTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/ResourceSurrogateIdParameterQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SearchParameterQueryGeneratorContext.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs

#5149 Revert "Associate resources to network service perimeter"
  samples/templates/default-azuredeploy-docker.json
Labels: Build

#5133 importmd changes
  docs/BulkImport.md
Labels: Azure Healthcare APIs, Documentation update request

#5145 [Import] Improving Import statistics to share ImportMode
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
Labels: Enhancement, Azure Healthcare APIs

#5150 Adding SearchParameterCacheRefreshBackgroundService
  docs/SearchParameterCacheRefreshBackgroundService.md
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Search/Registry/SearchParameterCacheRefreshBackgroundServiceTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/FilebasedSearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/ISearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/ISearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterCacheRefreshBackgroundService.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatus.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Registry/CosmosDbSearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Api/Modules/SearchModule.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterFixtureData.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/96.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/96.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetSearchParamMaxLastUpdated.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/Registry/SqlServerSearchParameterStatusDataStore.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirModel.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Schema Version backward compatible

#5163 [Workflows] Bump actions
  .github/workflows/codeql.yml
  .github/workflows/validate-prs.yml
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#5158 Fix searches for include and revinclude for Smart
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/IncludeExpression.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R4/SmartPatientA.json
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Smart/SmartSearchTests.cs
Labels: Bug, Azure Healthcare APIs
