Repository microsoft/fhir-server, pull requests merged in 2025-01, with the labels that each got.

#4766 Add worklaod identity as option for schema manager
  src/Microsoft.Health.Fhir.SchemaManager/ApplyCommand.cs
  src/Microsoft.Health.Fhir.SchemaManager/CommandCollectionExtensions.cs
  src/Microsoft.Health.Fhir.SchemaManager/CommandOptions.cs
  src/Microsoft.Health.Fhir.SchemaManager/OptionAliases.cs
  src/Microsoft.Health.Fhir.SchemaManager/Properties/Resources.Designer.cs
  src/Microsoft.Health.Fhir.SchemaManager/Properties/Resources.resx
  src/Microsoft.Health.Fhir.SchemaManager/SchemaManagerServiceCollectionBuilder.cs
Labels: Bug, Area-AKS, Open source

#4765 Return correct error for SQL CMK issues
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Storage/SqlExceptionActionProcessorTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionActionProcessor.cs
Labels: Bug, Azure Healthcare APIs

#4770 Revert: Add new SQL hash calculation
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/ISqlQueryHashCalculator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlQueryHashCalculator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlSearchOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Helpers/ReadableLogger.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Microsoft.Health.Fhir.Shared.Tests.Integration.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlComplexQueryTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/TestSqlHashCalculator.cs
Labels: Bug, Azure Healthcare APIs

#4773 Moved cosmos job hosting to use unified retry logic
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Reindex/ReindexJobWorkerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobWorker.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosFhirDataStoreTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/FhirCosmosClientInitializerTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/Queues/CosmosQueueClientTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/RetryExceptionPolicyFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/Operations/Reindex/ReindexJobTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Bug, Azure API for FHIR

#4795 Fix merge error in Directory.Packages.props
  Directory.Packages.props
Labels: Bug, Open source

#4785 Add SQL performance option
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/ResourceActionResult.cs
  src/Microsoft.Health.Fhir.Api/Features/ActionResults/TooManyRequestsActionResult.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/QueryCacheFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateAsyncRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateExportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateFormatParametersAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateImportRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateParametersResourceAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Filters/ValidateReindexRequestFilterAttribute.cs
  src/Microsoft.Health.Fhir.Api/Features/Headers/HttpContextExtensions.cs
  src/Microsoft.Health.Fhir.Api/Features/Operations/Import/InitialImportLockMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Resources/ConditionalQueryProcessingLogic.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/SearchPostReroutingMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Api/Features/SMART/SmartClinicalScopesMiddleware.cs
  src/Microsoft.Health.Fhir.Api/Features/Throttling/ThrottlingMiddleware.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownHeaders.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureApiForFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/AzureHealthDataServicesRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Registration/IFhirRuntimeConfiguration.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/FhirModule.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/QueryCacheSetting.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs

#4781 Add additional error handling to CosmosHealthCheck
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/TestCosmosHealthCheck.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosHealthCheck.cs
Labels: Bug, Azure API for FHIR

#4807 Using connection mode from Cosmos Configuration
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/FhirCosmosClientInitializer.cs
Labels: Bug, Azure API for FHIR
