Repository microsoft/fhir-server, pull requests merged in 2025-10, with the labels that each got.

#5160 Implementing $expand operation on ValueSet.
  src/Microsoft.Health.Fhir.Api/Features/Routing/UrlResolver.cs
  src/Microsoft.Health.Fhir.Api/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Api/Resources.resx
  src/Microsoft.Health.Fhir.Core/Configs/OperationsConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Configs/TerminologyConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/valueset-expand.json
  src/Microsoft.Health.Fhir.Core/Features/Conformance/ITerminologyServiceProxy.cs
  src/Microsoft.Health.Fhir.Core/Features/Conformance/TerminologyOperationParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/OperationsConstants.cs
  src/Microsoft.Health.Fhir.Core/Features/Routing/KnownRoutes.cs
  src/Microsoft.Health.Fhir.Core/Features/Routing/RouteNames.cs
  src/Microsoft.Health.Fhir.Core/Messages/Conformance/ExpandRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Conformance/ExpandResponse.cs
  src/Microsoft.Health.Fhir.Core/Microsoft.Health.Fhir.Core.csproj
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/TerminologyControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/OperationDefinitionController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/TerminologyController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Modules/TerminologyModule.cs
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/FirelyTerminologyServiceProxyTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Conformance/TerminologyRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Conformance/FirelyTerminologyServiceProxy.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Conformance/TerminologyRequestHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Microsoft.Health.Fhir.Shared.Core.projitems
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Normative/Expand-ValueSets.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/Stu3/Expand-ValueSets.json
  src/Microsoft.Health.Fhir.ValueSets/AuditEventSubType.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Conformance/ExpandOperationTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Conformance/ExpandOperationTests.cs
Labels: New Feature, Azure API for FHIR, Azure Healthcare APIs, Open source

#5171 Fix reference remover
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Delete/ReferenceRemoverTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/Delete/RemoveReferenceTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Microsoft.Health.Fhir.Shared.Core.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ReferenceRemover.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#5148 Not Referenced Specific Fields
  docs/arch/adr-2509-not-referenced-search-specific.md
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/NotReferencedExpression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/IExpressionParser.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Expressions/Parsers/ExpressionParserTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SearchParameterQueryGenerator.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/NotReferencedSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/NotReferencedSearchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/SearchTestsBase.cs
Labels: Enhancement, Azure Healthcare APIs

#5178 Fixing the max count test validation in BasicSearchTests.
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/BasicSearchTests.cs
Labels: Bug, Open source
