Repository microsoft/fhir-server, pull requests merged in 2025-05, with the labels that each got.

#4958 Add extra ct logging
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs

#4961 Add exception enhancement
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobHostingTests.cs
  src/Microsoft.Health.TaskManagement.UnitTests/JobLoggerExtensionTests.cs
  src/Microsoft.Health.TaskManagement/JobExecutionException.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  src/Microsoft.Health.TaskManagement/JobLoggerExtension.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4967 Cosmos Export - Add Retry to Next Job Queuing
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportProcessingJob.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/RetryExceptionPolicyFactory.cs
Labels: Bug, Azure API for FHIR

#4972 Sync sp definition manager before validate.
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Parameters/SearchParameterValidator.cs
Labels: Bug, Open source

#4973 Remove references to CurrentResource
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/NotReferencedQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SearchParameterQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4959 Add AAD Cleanup Pipeline
  build/cleanup-aad-resources.yml
Labels: Build, Open source, OSS-specific

#4971 Add Retry to Export on Connection Exception
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Core/Configs/ExportJobConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4978 Fix schema 88
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/88.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Scripts/TransactionCheckWithInitialiScript.sql
Labels: Bug, Azure Healthcare APIs, Schema Version backward compatible

#4969 Add catch for missing MI
  src/Microsoft.Health.Fhir.Azure/ExportDestinationClient/AzureExportDestinationClient.cs
  src/Microsoft.Health.Fhir.Azure/IntegrationDataStore/AzureBlobIntegrationDataStoreClient.cs
  src/Microsoft.Health.Fhir.Azure/Resources.resx
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4873 Converting IdentityServer4 to OpenIddict.
  .vscode/launch.json
  Directory.Packages.props
  Microsoft.Health.Fhir.sln
  R4.slnf
  R5.slnf
  build/docker/Dockerfile
  src/Microsoft.Health.Fhir.Api.OpenIddict/Configuration/DevelopmentIdentityProviderApplicationConfiguration.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Configuration/DevelopmentIdentityProviderConfiguration.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Configuration/DevelopmentIdentityProviderUserConfiguration.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Controllers/OpenIddictAuthorizationController.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Data/ApplicationAuthDbContext.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Extensions/DevelopmentIdentityProviderRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/FeatureProviders/FhirControllerFeatureProvider.cs
  src/Microsoft.Health.Fhir.Api.OpenIddict/Microsoft.Health.Fhir.Api.OpenIddict.csproj
  src/Microsoft.Health.Fhir.Api.OpenIddict/Services/OpenIddictApplicationCreater.cs
  src/Microsoft.Health.Fhir.Api/Features/Context/FhirRequestContextBeforeAuthenticationMiddleware.cs
  src/Microsoft.Health.Fhir.R4.Web/Microsoft.Health.Fhir.R4.Web.csproj
  src/Microsoft.Health.Fhir.R4B.Web/Microsoft.Health.Fhir.R4B.Web.csproj
  src/Microsoft.Health.Fhir.R5.Web/Microsoft.Health.Fhir.R5.Web.csproj
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/Microsoft.Health.Fhir.Shared.Web.projitems
  src/Microsoft.Health.Fhir.Shared.Web/Program.cs
  src/Microsoft.Health.Fhir.Shared.Web/SettingsProvider.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Stu3.Web/Microsoft.Health.Fhir.Stu3.Web.csproj
  src/Microsoft.Health.Fhir.Tests.Common/Microsoft.Health.Fhir.Tests.Common.csproj
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/Immunization.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/SearchParameter-Patient-foo.json
  src/Microsoft.Health.Fhir.Tests.Common/TestFiles/R5/SearchParameter-Resource-idfoo.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E.Common/AuthenticationSettings.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/AzureStorageBlobHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BulkDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/InProcTestFhirServer.cs
Labels: Dependencies, Open source

#4977 Add validation on resource id for import.
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Operations/Import/ImportResourceParserTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Operations/Import/ImportResourceParser.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#4987 Fix AuditEventSubType for BulkDelete ops
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/BulkDeleteController.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4986 Update pending delete state in sp definition manager
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#4993 Fix Cosmos export duplicates due to ignoring feedRange
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchOptions.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/FhirCosmosSearchService.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
Labels: Bug, Azure API for FHIR

#4996 Add name to FHIR timer to enable clear logging for watch dog exceptions
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/FhirTimer.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/Watchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogLease.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#5001 Specify Windows OS Demand for Windows Pools
  build/ci-pipeline.yml
  build/pr-pipeline.yml
Labels: Bug, Open source

#5002 Catch Cosmos Job Dequeue Race Condition Exception
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/Queues/CosmosQueueClientTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Queues/CosmosQueueClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
Labels: Bug, Azure API for FHIR

#5003 Fix Search Parameter uri for pending delete
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#4968 Support multiple pages of include results in bulk delete
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/GetBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Extensions/SearchServiceExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteDefinition.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Handlers/CreateBulkDeleteHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Handlers/GetBulkDeleteHandler.cs
  src/Microsoft.Health.Fhir.Core/Messages/Conditional/ConditionalResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Delete/ConditionalDeleteResourceRequest.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BulkDeleteTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4899 Support Managed Identity Flow in Importer tool
  tools/Importer/App.config
  tools/Importer/Importer.cs
Labels: Enhancement, Open source

#5008 [Auth] Safe concatenation of URIs during auth
  src/Microsoft.Health.Fhir.Core/Features/Operations/AzureAccessTokenProvider.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#4999 Bulk Delete - add option for immutable resource types
  docs/rest/BulkDelete.http
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/BulkDeleteProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/CreateBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/GetBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteDefinition.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/BulkDeleteProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Handlers/CreateBulkDeleteHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Messages/CreateBulkDeleteRequest.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/JobRecordProperties.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IDeletionService.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/BulkDeleteController.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BulkDeleteTests.cs
Labels: New Feature, Azure Healthcare APIs, Schema Version unchanged

#5000 Background Job SQL Timeout Exception
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged

#4928 Added the _summary search parameter in CapabilityStatement
  src/Microsoft.Health.Fhir.Core/Features/Conformance/CapabilityStatementBuilder.cs
Labels: Bug, Open source
