Repository microsoft/fhir-server, pull requests merged in 2025-08, with the labels that each got.

#5054 Use Debug Logging
  src/Microsoft.Health.Fhir.Core/Extensions/LoggerExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Reindex/ReindexJobWorker.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ProfileValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Validation/ServerProvideProfileValidation.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlQueueClient.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/Watchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogLease.cs
  src/Microsoft.Health.TaskManagement/JobHosting.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#5059 Add GeoReplicationLagWatchdog for Azure SQL geo-replication
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Metrics/GeoReplicationLagNotification.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/92.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/92.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/GetGeoReplicationLag.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/GeoReplicationLagWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/WatchdogsBackgroundService.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Enhancement, Azure Healthcare APIs, Area-Sql-SchemaMigration, SQL Scripts, Schema Version backward compatible

#5065 suppressed the error as it is non-prod code
  tools/Importer/Importer.cs
Labels: Bug-Security, Open source

#5070 Bulk update searches to use MaximumNumberOfResourcesPerQuery
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkUpdate/BulkUpdateOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkUpdate/BulkUpdateProcessingJobTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkUpdate/CreateBulkUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/BulkUpdateDefinition.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/BulkUpdateMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/BulkUpdateOrchestratorJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/BulkUpdateProcessingJob.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/Handlers/CreateBulkUpdateHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/Messages/CreateBulkUpdateRequest.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IBulkUpdateService.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/BulkUpdateController.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Upsert/BulkUpdateService.cs
Labels: Bug, Azure Healthcare APIs

#5075 Handle version 0 on racing conditions
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Bug, Azure Healthcare APIs

#5007 Updating the error message during conditional reference
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceReferenceResolverTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ResourceReferenceResolver.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#5084 Handled search parameter sync issues
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
Labels: Bug, Azure Healthcare APIs

#5073 Fix Proxy URL Generation for Bundles
  src/Microsoft.Health.Fhir.Shared.Api/Registration/FhirServerServiceCollectionExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
Labels: Bug, Area-API, Azure Healthcare APIs, Schema Version unchanged

#5086 Log merge resources call plus
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  tools/PerfTester/App.config
  tools/PerfTester/Program.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#5090 Remove raw resource size computation
  src/Microsoft.Health.Fhir.Shared.Web/Startup.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdog.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdogOptions.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#5083 [Bundles] Fix multi parallel reference resolution
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorNamingConventions.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Core/Messages/Bundle/BaseBundleInnerRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Conditional/ConditionalResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Create/CreateResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Delete/DeleteResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Get/GetResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Patch/PatchResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/Upsert/UpsertResourceRequest.cs
  src/Microsoft.Health.Fhir.Core/Models/BundleResourceContext.cs
  src/Microsoft.Health.Fhir.Core/Models/BundleResourceContextComparer.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerStatisticsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/ProfileResourcesBehaviourUnitTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/FhirController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerStatistics.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProfileResourcesBehaviour.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Persistence/Orchestration/BundleOrchestratorOperationTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Models/BundleResourceContextComparerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Create/CreateResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/ResourceReferenceResolver.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleBatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleTransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/FhirPathPatchTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/JsonPatchTests.cs
Labels: Bug, Azure Healthcare APIs

#5100 Removing Reindex folder from SqlServer project
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged

#5098 Added new data actions for SMART V2
  src/Microsoft.Health.Fhir.Core/Features/Security/DataActions.cs
  src/Microsoft.Health.Fhir.Core/Features/Security/roles.schema.json
Labels: New Feature, Azure Healthcare APIs

#5104 [Security] Update .NET SDK to latest patch version
  build/docker/Dockerfile
  global.json
Labels: Bug-Security, Azure API for FHIR, Azure Healthcare APIs

#5105 Moved setting default byte-to-read value to orchestrator
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/Import/ImportRequestExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Import/ImportTests.cs
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged

#5060 Add Database Status Reporters
  src/Microsoft.Health.Fhir.Api/Features/Health/IDatabaseStatusReporter.cs
  src/Microsoft.Health.Fhir.Api/Features/Health/StorageInitializedHealthCheck.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosDbHealthCheckTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/CosmosDbStatusReporterTests.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Health/TestCosmosDbHealthCheck.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosDbHealthCheck.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Health/CosmosDbStatusReporter.cs
  src/Microsoft.Health.Fhir.CosmosDb/Registration/FhirServerBuilderCosmosDbRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Health/StorageInitializedHealthCheckTests.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Health/SqlStatusReporterTest.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Health/SqlStatusReporter.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Health/SqlStatusReporterConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
  src/Microsoft.Health.Fhir.SqlServer/Registration/FhirServerBuilderSqlServerRegistrationExtensions.cs
Labels: Bug, Enhancement, Area-SQL, Area-CosmosDB, Open source

#5106 Set enlistTransaction as false by default
  src/Microsoft.Health.Fhir.Core/Features/Persistence/MergeOptions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtension.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
Labels: Bug-Performance, Azure Healthcare APIs

#5107 Returning 400 on SearchParameter/$status without parameters.
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Controllers/SearchParameterControllerTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/SearchParameterController.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#5109 Address intermittent "invalid column name SearchParamId" on test
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdog.cs
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged

#5108 Fixing an argument null exception from IncludeExpression.
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Parsers/ExpressionParser.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Expressions/Parsers/ExpressionParserTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source
