Repository microsoft/fhir-server, pull requests merged in 2025-04, with the labels that each got.

#4868 Changes to read raw resource from blob
  src/Microsoft.Health.Fhir.Blob.UnitTests/Features/Storage/BlobStoreTests.cs
  src/Microsoft.Health.Fhir.Blob.UnitTests/Fixtures/resources.ndjson
  src/Microsoft.Health.Fhir.Blob/Features/Storage/BlobRawResourceStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/IRawResourceStore.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/RawResourceLocator.cs
Labels: New Feature, Azure Healthcare APIs, Schema Version unchanged

#4900 Feature/copilot instructions
  .github/copilot-instructions.md
  docs/arch/Readme.md
Labels: Build, Open source

#4670 Fix code scanning alert no. 1550: Expression injection in Actions
  .github/workflows/validate-prs.yml
Labels: Build, Open source

#4898 Delete only applicable types from search param
  src/Microsoft.Health.Fhir.Core/Features/Definition/SearchParameterDefinitionManager.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Schema Version unchanged

#4901 Allow error container name to be specified
  docs/rest/Import.http
  src/Microsoft.Health.Fhir.Core/Extensions/ImportMediatorExtensions.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/CreateImportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/IImportErrorStoreFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportErrorStoreFactory.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportOrchestratorJobDefinition.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/ImportProcessingJobDefinition.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Import/Models/ImportRequest.cs
  src/Microsoft.Health.Fhir.Core/Messages/BulkImport/CreateImportRequest.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Operations/Import/ImportRequestExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ImportController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/Import/ImportRequestExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Import/ImportProcessingJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportOrchestratorJob.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Import/ImportProcessingJob.cs
Labels: Enhancement, Azure Healthcare APIs

#4907 Enable merge throttling for PUT/POSTs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/FhirStorageTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4856 Add search for not referenced resources
  docs/arch/adr-2503-Not-referenced-search.md
  src/Microsoft.Health.Fhir.Core/Features/KnownQueryParameterNames.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/DefaultExpressionVisitor.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/Expression.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/ExpressionRewriter.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/IExpressionVisitor.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Expressions/NotReferencedExpression.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.CosmosDb/Features/Search/Queries/ExpressionQueryBuilder.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.Designer.cs
  src/Microsoft.Health.Fhir.CosmosDb/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/NotReferencedQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SearchParameterQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/SearchParamTableExpressionQueryGeneratorFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Microsoft.Health.Fhir.Shared.Tests.E2E.projitems
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/NotReferencedSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/NotReferencedSearchTests.cs
Labels: Enhancement, Azure Healthcare APIs

#4906 Fhir raw resource blob health check
  src/Microsoft.Health.Fhir.Blob/Features/Common/BlobConstants.cs
  src/Microsoft.Health.Fhir.Blob/Features/Common/BlobStoreConfigurationSection.cs
  src/Microsoft.Health.Fhir.Blob/Features/Health/FhirBlobHealthCheck.cs
  src/Microsoft.Health.Fhir.Blob/Features/Storage/BlobStoreClient.cs
  src/Microsoft.Health.Fhir.Blob/Microsoft.Health.Fhir.Blob.csproj
  src/Microsoft.Health.Fhir.Blob/Registration/FhirServerBlobRegistrationExtensions.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4915 Increase the default include count to 1000.
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Data/OperationDefinition/includes.json
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchOptionsFactoryTests.cs
Labels: New Feature, Open source

#4924 Changes to log Cosmos SDK Diagnostics from response
  src/Microsoft.Health.Fhir.CosmosDb.Core/Configs/CosmosDataStoreConfiguration.cs
  src/Microsoft.Health.Fhir.CosmosDb.UnitTests/Features/Storage/CosmosResponseProcessorTests.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/CosmosQueryLogger.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/ICosmosQueryLogger.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseMessage.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosResponseProcessor.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/CosmosDbFhirStorageTestsFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/NullFhirCosmosQueryLogger.cs
Labels: Bug-Performance, Azure API for FHIR

#4926 Throttling sleep limit
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/87.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/87.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Sprocs/MergeResourcesBeginTransaction.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlStoreClient.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Features/ChangeFeed/SqlServerFhirResourceChangeCaptureEnabledTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestsFixture.cs
  tools/EventsReader/Program.cs
  tools/PerfTester/Program.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4890 Reject search request with resourceType with wrong casing.
  src/Microsoft.Health.Fhir.Core/Models/IModelInfoProvider.cs
  src/Microsoft.Health.Fhir.Core/Models/ModelInfoProvider.cs
  src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/CosmosFhirDataStore.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Resources/ResourceHandlerTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ConditionalDeleteResourceValidator.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Get/GetResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/VersionSpecificModelInfoProvider.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlServerFhirDataStore.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#4934 Update MediatR to 12.5.0
  Directory.Packages.props
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/CreateOrUpdateSearchParameterBehavior.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/DeleteSearchParameterBehavior.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProfileResourcesBehaviour.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/ProvenanceHeaderBehavior.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/Behaviors/ListSearchBehaviorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Features/Search/SearchParameters/SearchParameterBehaviorTests.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/Behaviors/ListSearchPipeBehavior.cs
Labels: Dependencies

#4933 Cosmos Query Diagnostics Logging Improvements
  src/Microsoft.Health.Fhir.CosmosDb/Features/Queries/CosmosQueryLogger.cs
Labels: Bug, Area-CosmosDB, Azure API for FHIR

#4930 Add more logging to search parameters
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
  src/Microsoft.Health.Fhir.Core/Features/Search/Registry/SearchParameterStatusManager.cs
Labels: Enhancement, Azure API for FHIR, Azure Healthcare APIs

#4925 Using Microsoft Graph API
  build/jobs/add-aad-test-environment.yml
  build/jobs/cleanup-aad.yml
  release/scripts/PowerShell/FhirServerRelease/Private/SharedModuleFunctions.ps1
  release/scripts/PowerShell/FhirServerRelease/Public/Add-AadTestAuthEnvironment.ps1
  release/scripts/PowerShell/FhirServerRelease/Public/Remove-AadTestAuthEnvironment.ps1
Labels: Bug, Build

#4938 Log search SQL to the database in case of exception
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4902 More descriptive message for truncated include items.
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/ConditionalDeleteResourceHandler.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Delete/DeletionService.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludesOperationTests.cs
Labels: Bug, Open source

#4909 Adds ADR for Limit Concurrent Calls to MergeResources
  docs/arch/adr-2504-limit-concurrent-merge-resources.md
Labels: Enhancement, Area-SQL, Azure Healthcare APIs

#4946 Fixing includes test failures
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/IncludesOperationTests.cs
Labels: Bug, Open source

#4947 Log search param ids for each search
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/Expressions/Visitors/QueryGenerators/SqlQueryGenerator.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/HashingSqlQueryParameterManager.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Search/SqlServerSearchService.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4936 Adding temporary code to capture raw resource length and search param stats
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdog.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerFhirStorageTestHelper.cs
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Enhancement, Azure Healthcare APIs, Schema Version unchanged

#4952 [Security] Update .NET SDK to latest patch version
  build/docker/Dockerfile
  build/dotnet8-compat/global.json
  global.json
Labels: Bug-Security, Azure API for FHIR, Azure Healthcare APIs

#4954 Fix patient everything with SMART patient fhirUser
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchOptionsFactory.cs
Labels: Bug, Azure Healthcare APIs

#4955 EventLog test fix
  test/Microsoft.Health.Fhir.Shared.Tests.Integration/Persistence/SqlServerWatchdogTests.cs
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged

#4962 Fix small stats bug
  src/Microsoft.Health.Fhir.SqlServer/Features/Watchdogs/CleanupEventLogWatchdog.cs
Labels: Bug, Azure Healthcare APIs, Schema Version unchanged
