Repository microsoft/fhir-server, pull requests merged in 2025-07, with the labels that each got.

#5025 Remove constraints on Code Overflow column from xxxSearchParam tables
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/91.diff.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Migrations/91.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersion.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/SchemaVersionConstants.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/ReferenceTokenCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenDateTimeCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenNumberNumberCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenQuantityCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenStringCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Features/Schema/Sql/Tables/TokenTokenCompositeSearchParam.sql
  src/Microsoft.Health.Fhir.SqlServer/Microsoft.Health.Fhir.SqlServer.csproj
Labels: Bug, Azure Healthcare APIs

#5047 Refactoring some exception extensions.
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Storage/SqlExceptionExtensionsTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/ExceptionExtension.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlExceptionExtensions.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Storage/SqlRetry/SqlRetryService.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#5046 Fix test category for BulkDeleteTests
  src/Microsoft.Health.Fhir.Core/Features/Search/IBundleFactory.cs
  src/Microsoft.Health.Fhir.Shared.Core/Features/Search/BundleFactory.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BulkDeleteTests.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs

#5043 [Bundle] Change default bundle processing logic for transactions
  src/Microsoft.Health.Fhir.Api/Features/Headers/HttpContextExtensions.cs
  src/Microsoft.Health.Fhir.Core/Configs/BundleConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Persistence/Orchestration/BundleOrchestratorOperation.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Bundle/FhirTransactionFailedExceptionTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Headers/HttpContextExtensionsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerRuntimeTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Microsoft.Health.Fhir.Shared.Api.UnitTests.projitems
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerRuntime.cs
  src/Microsoft.Health.Fhir.Shared.Api/Microsoft.Health.Fhir.Shared.Api.projitems
  src/Microsoft.Health.Fhir.Shared.Core.UnitTests/Models/BundleResourceContextComparerTests.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
  src/Microsoft.Health.Fhir.Tests.Common/Categories.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Audit/AuditTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/BundleTransactionTests.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Metric/MetricTests.cs
Labels: Bug, Enhancement, Azure Healthcare APIs

#5041 Fixing slow patient export.
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/ExportJobTask.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/ExportController.cs
  src/Microsoft.Health.Fhir.SqlServer.UnitTests/Features/Operations/Export/SqlExportOrchestratorJobTests.cs
  src/Microsoft.Health.Fhir.SqlServer/Features/Operations/Export/SqlExportOrchestratorJob.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#5045 [Transactions] Client errors as warnings and fixes
  src/Microsoft.Health.Fhir.Api/Features/Bundle/FhirTransactionFailedException.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Bundle/FhirTransactionFailedExceptionTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/BundleHandlerStatisticsTests.cs
  src/Microsoft.Health.Fhir.Shared.Api.UnitTests/Features/Resources/Bundle/TransactionBundleValidatorTests.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandler.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerParallelOperations.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/BundleHandlerStatistics.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Resources/Bundle/TransactionBundleValidator.cs
  src/Microsoft.Health.Fhir.Shared.Tests/Samples.cs
Labels: Bug, Azure Healthcare APIs

#3770 Running FHIR server locally for development and testing
  README.md
Labels: Documentation, Open source, External Author

#5056 Index all token values, regardless of casing
  src/Microsoft.Health.Fhir.Core/Features/Search/SearchValues/TokenSearchValue.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/TokenSearchTestFixture.cs
  test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/TokenSearchTests.cs
Labels: Bug, Azure Healthcare APIs

#5061 Users/jestrada/searchparameterupdatefix
  src/Microsoft.Health.Fhir.Core/Features/Search/Parameters/SearchParameterOperations.cs
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs, Open source

#5064 Fix cancel Bulk job logic
  docs/arch/adr-2504-bulkupdate.md
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkDelete/CancelBulkDeleteHandlerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/BulkUpdate/CancelBulkUpdateHandlerTests.cs
  src/Microsoft.Health.Fhir.Core.UnitTests/Features/Operations/Export/CancelExportRequestHandlerTests.cs
  src/Microsoft.Health.Fhir.Core/Configs/CoreFeatureConfiguration.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkDelete/Handlers/CancelBulkDeleteHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/BulkUpdate/Handlers/CancelBulkUpdateHandler.cs
  src/Microsoft.Health.Fhir.Core/Features/Operations/Export/CancelExportRequestHandler.cs
  src/Microsoft.Health.Fhir.Core/Resources.Designer.cs
  src/Microsoft.Health.Fhir.Core/Resources.resx
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/BulkUpdateController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Controllers/OperationDefinitionController.cs
  src/Microsoft.Health.Fhir.Shared.Api/Features/Operations/OperationsCapabilityProvider.cs
  src/Microsoft.Health.Fhir.Shared.Web/appsettings.json
Labels: Bug, Azure API for FHIR, Azure Healthcare APIs
